<!DOCTYPE HTML>
<!--
	Twenty by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html lang='ko'>

<head>
    <title>상지대학교 강의평가</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.5" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/main.css" />




    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
</head>

<body class="index">
    <div id="fb-root"></div>
    <div id="page-wrapper">


        </ul>
        </nav>
        </header>
        <!-- Header -->
        <header id="header" class="alt">
            <h1 id="logo"><a href="#">상지대학교 <span>강의평가</span></a></h1>
            <nav id="nav">
                <ul>
                    <li class="current"><a href="/">홈으로</a></li>
                    <li class="current"><a href="home/rating">강의평가</a></li>
                    <li class="current"><a href="home/freedom">건의사항</a></li>
                    <li><a href="#" class="button special">로그인</a></li>
                </ul>
            </nav>
        </header>

        <!-- Banner -->
        <section id="banner">

                    <!--
						".inner" is set up as an inline-block so it automatically expands
						in both directions to fit whatever's inside it. This means it won't
						automatically wrap lines, so be sure to use line breaks where
						appropriate (<br />).
					-->
            <div class="inner">

                <header>
                    <h2>강의평가</h2>
                </header>
                <p><strong>학생</strong>을 위한<strong>학생 중심이</strong>되는
                    <br />
</head><body>

</body></html>
                    <h2>상지대학교 강의평가</h2> by <a href="/">멋쟁이 사자처럼</a>.</p>
                <footer>
                    <ul class="buttons vertical">
                        <li><a href="#s" class="button fit scrolly" data-toggle="modal">회 원 가 입</a></li>
                    </ul>
                    <ul class="buttons vertical">


                    </ul>
                </footer>
                <div class="fb-login-button" data-max-rows="1" data-size="large" data-show-faces="false" data-auto-logout-link="true"></div>

        </section>

        <!-- Footer -->
        <footer id="footer">

            <ul class="icons">


                <li><a href="#" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon circle fa-google-plus"><span class="label">Google+</span></a></li>
                <li><a href="#" class="icon circle fa-github"><span class="label">Github</span></a></li>
                <li><a href="#" class="icon circle fa-dribbble"><span class="label">Dribbble</span></a></li>
            </ul>

            <ul class="copyright">
                <li>&copy; Untitled</li>
                <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
            </ul>

        </footer>
      
        </div>
          <!-- Modal -->
        <div class="modal fade" id="s" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">회원가입</h4>
                    </div>
                    <div class="modal-body">
                        <form name="test" class="form-horizontal">

                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">Password</label>
                                <div class="col-sm-10">
                                    <input name="pw1" type="password" class="form-control" id="inputEmail3" placeholder="Password" onblur=checkvalue();>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-2 control-label">Password </label>
                                <div class="col-sm-10">
                                    <input name="pw2" type="password" class="form-control" id="inputPassword3" placeholder="Confirm Password" onblur=checkvalue();>
                                </div>
                            </div>
                            <input type="text" name="status" style="border:0;color:highlight;font size:12px 굴림;width:160" readonly onfocus="this.blur();" value="비밀번호를 입력해 주세요">

                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-default">Sign in</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                        <button type="button" class="btn btn-primary">회원가입</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Scripts -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/jquery.dropotron.min.js"></script>
        <script src="assets/js/jquery.scrolly.min.js"></script>
        <script src="assets/js/jquery.scrollgress.min.js"></script>
        <script src="assets/js/skel.min.js"></script>
        <script src="assets/js/util.js"></script>
        <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
        <script src="assets/js/main.js"></script>

        <script>
            // This is called with the results from from FB.getLoginStatus().
            function statusChangeCallback(response) {
                console.log('statusChangeCallback');
                console.log(response);
                // The response object is returned with a status field that lets the
                // app know the current login status of the person.
                // Full docs on the response object can be found in the documentation
                // for FB.getLoginStatus().
                if (response.status === 'connected') {
                    // Logged into your app and Facebook.
                    testAPI();
                } else if (response.status === 'not_authorized') {
                    // The person is logged into Facebook, but not your app.
                    document.getElementById('status').innerHTML = 'Please log ' +
                        'into this app.';
                } else {
                    // The person is not logged into Facebook, so we're not sure if
                    // they are logged into this app or not.
                    document.getElementById('status').innerHTML = 'Please log ' +
                        'into Facebook.';
                }
            }

            // This function is called when someone finishes with the Login
            // Button.  See the onlogin handler attached to it in the sample
            // code below.

            ///////////페이스북 연동시작//////////////////////////////////////////////////////////////////////////////////////////////////////////
            function checkLoginState() {
                FB.getLoginStatus(function(response) {
                    statusChangeCallback(response);
                });
            }

            window.fbAsyncInit = function() {
                FB.init({
                    appId: '282904155380852',
                    cookie: true, // enable cookies to allow the server to access 
                    // the session
                    xfbml: true, // parse social plugins on this page
                    version: 'v2.6' // use version 2.2
                });
                FB.getLoginStatus(function(response) {
                    statusChangeCallback(response);
                });

            };
            // Load the SDK asynchronously
            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));

            // Here we run a very simple test of the Graph API after login is
            // successful.  See statusChangeCallback() for when this call is made.
            function testAPI() {
                console.log('Welcome!  Fetching your information.... ');
                FB.api('/me', function(response) {
                    console.log('Successful login for: ' + response.name);
                    document.getElementById('status').innerHTML =
                        'Thanks for logging in, ' + response.name + '!';
                });
            }
        </script>


        <div id="fb-root"></div>
        <script>
            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>



        <script>
            // checkvalue 기능
            function checkvalue() {

                // a 텍스트 필드와 b 텍스트 필드 중 둘다 값이 있을 때
                if (test.pw1.value && test.pw2.value) {

                    // 두 필드의 값이 서로 다를 때
                    if (test.pw2.value != test.pw1.value) {

                        // status 필드에 일치하지 않는다는 문장 출력
                        test.status.value = "비밀번호가 일치하지 않습니다";

                        // 그에 맞게 길이 수정
                        test.status.style.width = 120;

                        // 두 필드의 값이 동일 할 때
                    } else {

                        // status 필드에 일치한다는 문장 출력
                        test.status.value = "비밀번호가 일치합니다";

                        // 역시 그에 맞게 길이 수정
                        test.status.style.width = 83;
                    }

                    // a 텍스트 필드와 b 텍스트 필드 두중하나라도 값이 없을 때
                } else {

                    // 아무것도 입력이 안 되어 있으므로 비밀번호를 입력해 달라는 메세지를 status 필드에 출력 함
                    test.status.value = "비밀번호를 입력해 주세요";

                    // 그에 맞게 길이 수정
                    test.status.style.width = 160;
                }

            }
            
        </script>
</body>

</html>
