<!DOCTYPE HTML>
<!--
	Twenty by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
    <div id="page-wrapper">

        <article id="main">

            <header class="special container">
                <a href="javascript:home()"><span class="icon fa-mobile"></span></a>
                <a href="javascript:home()"><h2>상지대학교  <strong>강의평가 게시판</strong></h2></a>
                <p>후배님들 강의평가를 잘 보시고 다음 후배님들을 위해 평가를 남기시지 말입니다.</p>

                <center>
                    <strong><h3>2학기 개강일까지</h3></strong>

                    <br><br>

                    <font id="d1">0</font>
                    <font id="d2">0</font>
                    <font id="d3">0</font>일
                    <font id="h1">0</font>
                    <font id="h2">0</font>시간
                    <font id="m1">0</font>
                    <font id="m2">0</font>분
                    <font id="s1">0</font>
                    <font id="s2">0</font>초

                </center>

            </header>

        </article>

        <META http-equiv=Cache-Control content=no-cache>
        <META http-equiv=Expires content=0>
        <META http-equiv=Pragma content=no-cache>
        <meta http-equiv=Content-Type content="text/html;charset=euc-kr">
        <LINK href="./main/util.htm" type=text/css rel=stylesheet>
        <META content="MSHTML 6.00.2900.2769" name=GENERATOR>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=0" />
        <link rel="stylesheet" href="assets/css/main.css" />
        <script type="text/javascript" src="assets/js/facebook.js"></script>
        <script type="text/javascript" src="assets/js/pagemove.js"></script>
        <script type="text/javascript" src="/assets/js/script2.js"></script>

</head>

<!-- Scripts -->


<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.dropotron.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/jquery.scrollgress.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="assets/js/main.js"></script>

<SCRIPT LANGUAGE="JavaScript">
    function getTime() {
        now = new Date();
        later = new Date("August 29 2016 0:00:01"); //완료시간 지정 - 월 일 년 시 분 초
        days = (later - now) / 1000 / 60 / 60 / 24;
        daysRound = Math.floor(days);
        hours = (later - now) / 1000 / 60 / 60 - (24 * daysRound);
        hoursRound = Math.floor(hours);
        minutes = (later - now) / 1000 / 60 - (24 * 60 * daysRound) - (60 * hoursRound);
        minutesRound = Math.floor(minutes);
        seconds = (later - now) / 1000 - (24 * 60 * 60 * daysRound) - (60 * 60 * hoursRound) - (60 * minutesRound);
        secondsRound = Math.round(seconds);

        if (secondsRound <= 9) {
            s1.innerHTML = "0";
            s2.innerHTML = secondsRound;
        } else {
            s1.innerHTML = Math.floor(secondsRound / 10);
            s2.innerHTML = secondsRound % 10;
        }

        if (minutesRound <= 9) {
            m1.innerHTML = "0";
            m2.innerHTML = minutesRound;
        } else {
            m1.innerHTML = Math.floor(minutesRound / 10);
            m2.innerHTML = minutesRound % 10;
        }

        if (hoursRound <= 9) {
            h1.innerHTML = "0";
            h2.innerHTML = hoursRound;
        } else {
            h1.innerHTML = Math.floor(hoursRound / 10);
            h2.innerHTML = hoursRound % 10;
        }

        if (daysRound <= 9) {
            d1.innerHTML = "0";
            d2.innerHTML = "0";
            innerHTML = daysRound;
        }

        if (daysRound <= 99) {
            d1.innerHTML = "0";
            d2.innerHTML = Math.floor((daysRound / 10) % 10);
            d3.innerHTML = Math.floor(daysRound % 10);
        }

        if (daysRound <= 999) {
            d1.innerHTML = Math.floor(daysRound / 100);
            d2.innerHTML = Math.floor((daysRound / 10) % 10);
            d3.innerHTML = Math.floor(daysRound % 10);
        }
        newtime = window.setTimeout("getTime();", 1000);
    }
</script>


<STYLE type=text/css>
    BODY {
        FONT-SIZE: 9pt
    }
    
    FONT {
        FONT-SIZE: 9pt;
        LINE-HEIGHT: 16pt
    }
    
    A:link {
        TEXT-DECORATION: none
    }
    
    A:visited {
        TEXT-DECORATION: none
    }
    
    A:active {
        TEXT-DECORATION: none
    }
    
    a {
        TEXT-DECORATION: none
    }
    
    div {
        text-decoration: none;
    }
    
    .line:link {
        text-decoration: none;
    }
    
    a.yim:link {
        text-decoration: none;
    }
</STYLE>




<body class="no-sidebar" onLoad="getTime();" background="../main/back.jpg" text="black" link="blue" vlink="blue" alink="blue" onKeyDown="shiftkeydown();" style="text-decoration: none">



    <CENTER>

        <!--드랍박스 시작-->

        <div class=container>
            <ul class="nav nav-tabs">
                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                인문사회과학대학<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="javascript:KLAL()">국어국문학과</a></li>
                        <li><a href="javascript:SocialWelfare()">사회복지학과</a></li>
                        <li><a href="javascript:china()">중국학과</a></li>
                        <li><a href="javascript:YungMeUhMoon()">영미어문학부</a></li>
                        <li><a href="javascript:hangjung()">행정학부</a></li>
                        <li><a href="javascript:UnLonGuangGo()">언론광고학부</a></li>
                        <li><a href="javascript:MoonHwaContents()">문화콘텐츠학과</a></li>
                        <li><a href="javascript:BubBooDongSan()">법부동산학부</a></li>
                    </ul>
                </li>

                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                  경상대학<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="javascript:BAD()">경영학과</a></li>
                        <li>
                            <a href="javascript:HweGye()">
                                <font color="red">회계학과</font>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <font color="red">창업경영학과</font>
                            </a>
                        </li>
                        <li><a href="javascript:Tourism()">관광학부</a></li>
                        <li><a href="javascript:gyungje()">경제학과</a></li>
                        <li><a href="javascript:MooYuk()">무역학과</a></li>
                        <li>
                            <a href="#">
                                <font color="red">국제비지니스학과</font>
                            </a>
                        </li>
                        <li><a href="javascript:MAIE()">경영정보학과</a></li>
                    </ul>
                </li>

                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                생명자원과학대학<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="javascript:SanLim()">
                                <font color="red">산림과학과</font>
                            </a>
                        </li>
                        <li><a href="javascript:ChinHwanGyung()">친환경식물학부</a></li>
                        <li><a href="javascript:DongMoolSangMyung()">동물생명자원학부</a></li>
                    </ul>
                </li>

                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                  이공과대학<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="javascript:WoongYongGwaHak()">
                                <font color="red">응용물리전자학과</font>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <font color="red">정밀화학신소재학과</font>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:SangMyungGwaHak()">
                                <font color "red">생명과학과</font>
                            </a>
                        </li>
                        <li><a href="javascript:ComData()">컴퓨터데이터정보학과</a></li>
                        <li><a href="javascript:GunSulSystem()">건설시스템공학과</a></li>
                        <li>
                            <a href="javascript:SinEnerge()">
                                <font color="red">신에너지자원공학과</font>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:HwanGyung()">
                                <font color="red">환경공학과</font>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:ComputerJungBo()">
                                <font color="red">컴퓨터정보공학부</font>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:SangHwalGwaHak()">
                                <font color="red">생활과학산업학과</font>
                            </a>
                        </li>
                    </ul>
                </li>

                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                     예술체육대학<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:SangHwalJoHyung()">생활조형디자인학과</a></li>
                        <li>
                            <a href="javascript:Design()">
                                <font color="red">디자인학부</font>
                            </a>
                        </li>
                        <li><a href="javascript:CheYoockHakGwa()">체육학부</a></li>
                    </ul>
                </li>

                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                      한의과대학<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:hanE()">한의학과</a></li>
                        <li><a href="javascript:PHM()">한의예과</a></li>
                    </ul>
                </li>
                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                      보건과학대학<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:nures()">간호학과</a></li>
                        <li><a href="javascript:hanbang()">한방의료공학과</a></li>
                        <li><a href="javascript:WooiRyo()">의료경영학과</a></li>
                        <li>
                            <a href="javascript:SikPoom()">
                                <font color="red">식품영양학과</font>
                            </a>
                        </li>
                        <li><a href="javascript:JaeYak()">제약공학과</a></li>
                        <li><a href="javascript:MoolLeeChiRyo()">물리치료학과</a></li>
                        <li>
                            <a href="javascript:ImSangByungLee()">
                                <font color="red">임상병리학과</font>
                            </a>
                        </li>

                    </ul>
                </li>
                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                      교양과목<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:rating()"> 교양과목</a></li>
                        <li>
                            <a href="javascript:DaeHakKwonJang()">
                                <font color="red">대학권장</font>
                            </a>
                        </li>
                </li>
                </ul>

            </ul>

        </div>


        <BR>
        <div class="container" width="100px" class="line">
            <table class="table" cellspacing="30" bordercolordark="white" width="1%" class="line">
                <TR>
                    <th width="5%" height="20px">
                        <font size="1">구분</font>
                    </th>
                    <th width="5%">
                        <font size=-1>학년</font>
                    </th>
                    <th>
                        <font size=-1>교과목명</font>
                    </th>
                    <th width="10%">
                        <font size=-1>과목코드</font>
                    </th>
                    <th width="5%">
                        <font size=-1>학점</font>
                    </th>
                    <th width="5%">
                        <font size=-1>시간</font>
                    </th>
                    <th>
                        <font size=-1>교원명</font>
                    </th>
                    <th>
                        <font size=-1>강좌시간</font>
                    </th>
                    <th>
                        <font size=-1>강의실</font>
                    </th>
                    <th>
                        <font size=-1>강의평점</font>
                    </th>

                    <th>
                        <font size=-1>과제평점</font>
                    </th>
                </TR>


                <TR>
                    <TD align=c enter width=32>
                        <font size=-1>교선</font>
                    </TD>
                    <TD align=c enter width=32>
                        <font size=-1>전체</font>
                    </TD>

                    <TD align=l eft>
                        <A href="#a1" data-toggle="modal" style="text-decoration: none">
                            <font size=-1>경제의이해 </font>
                        </a>
                    </TD>

                    <TD align=c enter width=64>
                        <font size=-1>02508-01</font>
                    </TD>
                    <TD align=c enter width=32>
                        <font size=-1>3</font>
                    </TD>
                    <TD align=c enter width=32>
                        <font size=-1>3</font>
                    </TD>

                    <TD align=c enter width=64>
                        <font size=-1>박정원</font>
                    </TD>

                    <TD align=l eft>
                        <font size=-1>월7,8,9 &nbsp</font>
                    </TD>
                    <TD align=l eft>
                        <font size=-1>동악-4107 &nbsp</font>
                    </TD>
                    <TD align=c enter>
                        <font size=-1>
                            <div id="pd_rating_holder_8402200"></div>

                        </font>
                    </TD>
                    <!--				<TD align = center><font size=-1>97</font></TD>-->

                    <TD align=c enter>
                        <div id="pd_rating_holder_8402203"></div>

                    </TD>

                </TR>

                <TR>
                    <TD align=c enter width=32>
                        <font size=-1>교선</font>
                    </TD>
                    <TD align=c enter width=32>
                        <font size=-1>전체</font>
                    </TD>

                    <TD align=l eft>
                        <A href="#a2" data-toggle="modal">
                            <font size=-1>경제의이해 </font>
                        </a>
                    </TD>

                    <TD align=c enter width=64>
                        <font size=-1>02508-02</font>
                    </TD>
                    <TD align=c enter width=32>
                        <font size=-1>3</font>
                    </TD>
                    <TD align=c enter width=32>
                        <font size=-1>3</font>
                    </TD>

                    <TD align=c enter width=64>
                        <font size=-1>김철우</font>
                    </TD>

                    <TD align=l eft>
                        <font size=-1>목7,8,9 &nbsp</font>
                    </TD>
                    <TD align=l eft>
                        <font size=-1>동악-4114 &nbsp</font>
                    </TD>
                    <TD align=c enter>
                        <font size=-1>
                            <div id="pd_rating_holder_8402201"></div>

                        </font>
                    </TD>
                    <!--				<TD align = center><font size=-1>93</font></TD>-->

                    <TD align=c enter>
                        <div id="pd_rating_holder_8402223"></div>



                    </TD>

                </TR>

                <TR>
                    <TD align=c enter width=32>
                        <font size=-1>교선</font>
                    </TD>
                    <TD align=c enter width=32>
                        <font size=-1>전체</font>
                    </TD>

                    <TD align=l eft>
                        <A href="#a3" data-toggle="modal">
                            <font size=-1>대중문화의이해 </font>
                        </a>
                    </TD>

                    <TD align=c enter width=64>
                        <font size=-1>00479-01</font>
                    </TD>
                    <TD align=c enter width=32>
                        <font size=-1>3</font>
                    </TD>
                    <TD align=c enter width=32>
                        <font size=-1>3</font>
                    </TD>

                    <TD align=c enter width=64>
                        <font size=-1>김범수</font>
                    </TD>

                    <TD align=l eft>
                        <font size=-1>금7,8,9 &nbsp</font>
                    </TD>
                    <TD align=l eft>
                        <font size=-1>동악-5114 &nbsp</font>
                    </TD>
                    <TD align=c enter>
                        <font size=-1>
                            <div id="pd_rating_holder_8402202"></div>

                        </font>
                    </TD>
                    <!--				<TD align = center><font size=-1>82</font></TD>-->



                    <TD align=c enter>
                        <div id="pd_rating_holder_8402224"></div>


                    </TD>

                </TR>

                <TR>
                    <TD align=c enter width=32>
                        <font size=-1>교선</font>
                    </TD>
                    <TD align=c enter width=32>
                        <font size=-1>전체</font>
                    </TD>

                    <TD align=l eft>
                        <A href="#a4" data-toggle="modal">
                            <font size=-1>대중문화의이해 </font>
                        </a>
                    </TD>

                    <TD align=c enter width=64>
                        <font size=-1>00479-02</font>
                    </TD>
                    <TD align=c enter width=32>
                        <font size=-1>3</font>
                    </TD>
                    <TD align=c enter width=32>
                        <font size=-1>3</font>
                    </TD>

                    <TD align=c enter width=64>
                        <font size=-1>유현상</font>
                    </TD>

                    <TD align=l eft>
                        <font size=-1>수7,8,9 &nbsp</font>
                    </TD>
                    <TD align=l eft>
                        <font size=-1>본관-5101 &nbsp</font>
                    </TD>
                    <TD align=c enter>
                        <font size=-1>
                            <div id="pd_rating_holder_8402204"></div>

                        </font>
                    </TD>
                    <!--				<TD align = center><font size=-1>97</font></TD>-->

                    <TD align=c enter>
                        <div id="pd_rating_holder_8402228"></div>



                    </TD>

                </TR>

                <TR>
                    <TD align=c enter width=32>
                        <font size=-1>교선</font>
                    </TD>
                    <TD align=c enter width=32>
                        <font size=-1>전체</font>
                    </TD>

                    <TD align=l eft>
                        <A href="#a5" data-toggle="modal">
                            <font size=-1>리더쉽 </font>
                        </a>
                    </TD>

                    <TD align=c enter width=64>
                        <font size=-1>05188-01</font>
                    </TD>
                    <TD align=c enter width=32>
                        <font size=-1>3</font>
                    </TD>
                    <TD align=c enter width=32>
                        <font size=-1>3</font>
                    </TD>

                    <TD align=c enter width=64>
                        <font size=-1>최무현</font>
                    </TD>

                    <TD align=l eft>
                        <font size=-1>월7 수7,8 &nbsp</font>
                    </TD>
                    <TD align=l eft>
                        <font size=-1>동악-5114 &nbsp</font>
                    </TD>
                    <TD align=c enter>
                        <font size=-1>
                            <div id="pd_rating_holder_8402205"></div>

                        </font>
                    </TD>
                    <!--				<TD align = center><font size=-1>30</font></TD>-->

                    <TD align=c enter>
                        <div id="pd_rating_holder_8402229"></div>


                    </TD>

                </TR>

                <TR>
                    <TD align=c enter width=32>
                        <font size=-1>교선</font>
                    </TD>
                    <TD align=c enter width=32>
                        <font size=-1>전체</font>
                    </TD>

                    <TD align=l eft>
                        <A href="#a6" data-toggle="modal">
                            <font size=-1>미래사회의이해 </font>
                        </a>
                    </TD>

                    <TD align=c enter width=64>
                        <font size=-1>00664-01</font>
                    </TD>
                    <TD align=c enter width=32>
                        <font size=-1>3</font>
                    </TD>
                    <TD align=c enter width=32>
                        <font size=-1>3</font>
                    </TD>

                    <TD align=c enter width=64>
                        <font size=-1>김종채</font>
                    </TD>

                    <TD align=l eft>
                        <font size=-1>금4,5,6 &nbsp</font>
                    </TD>
                    <TD align=l eft>
                        <font size=-1>동악-3102 &nbsp</font>
                    </TD>
                    <TD align=c enter>
                        <font size=-1>
                            <div id="pd_rating_holder_8402206"></div>

                        </font>
                    </TD>
                    <!--				<TD align = center><font size=-1>29</font></TD>-->

                    <TD align=c enter>
                        <div id="pd_rating_holder_8402231"></div>


                    </TD>

                </TR>

                <TR>
                    <TD align=c enter width=32>
                        <font size=-1>교선</font>
                    </TD>
                    <TD align=c enter width=32>
                        <font size=-1>전체</font>
                    </TD>

                    <TD align=l eft>
                        <A href="#a7" data-toggle="modal">
                            <font size=-1>미래사회의이해 </font>
                        </a>
                    </TD>

                    <TD align=c enter width=64>
                        <font size=-1>00664-02</font>
                    </TD>
                    <TD align=c enter width=32>
                        <font size=-1>3</font>
                    </TD>
                    <TD align=c enter width=32>
                        <font size=-1>3</font>
                    </TD>

                    <TD align=c enter width=64>
                        <font size=-1>김종채</font>
                    </TD>

                    <TD align=l eft>
                        <font size=-1>금7,8,9 &nbsp</font>
                    </TD>
                    <TD align=l eft>
                        <font size=-1>동악-3102 &nbsp</font>
                    </TD>
                    <TD align=c enter>
                        <font size=-1>
                            <div id="pd_rating_holder_8402207"></div>

                        </font>
                    </TD>
                    <!--				<TD align = center><font size=-1>15</font></TD>-->

                    <TD align=c enter>
                        <div id="pd_rating_holder_8402232"></div>


                    </TD>

                </TR>

                <TR>
                    <TD align=c enter width=32>
                        <font size=-1>교선</font>
                    </TD>
                    <TD align=c enter width=32>
                        <font size=-1>전체</font>
                    </TD>

                    <TD align=l eft>
                        <A href="#a8" data-toggle="modal">
                            <font size=-1>민족과통일 </font>
                        </a>
                    </TD>

                    <TD align=c enter width=64>
                        <font size=-1>02529-01</font>
                    </TD>
                    <TD align=c enter width=32>
                        <font size=-1>3</font>
                    </TD>
                    <TD align=c enter width=32>
                        <font size=-1>3</font>
                    </TD>

                    <TD align=c enter width=64>
                        <font size=-1>조기형</font>
                    </TD>

                    <TD align=l eft>
                        <font size=-1>목7,8,9 &nbsp</font>
                    </TD>
                    <TD align=l eft>
                        <font size=-1>본관-5101 &nbsp</font>
                    </TD>
                    <TD align=c enter>
                        <div id="pd_rating_holder_8402278"></div>


                    </TD>
                    <!--				<TD align = center><font size=-1>29</font></TD>-->

                    <TD align=c enter>
                        <div id="pd_rating_holder_8402233"></div>


                    </TD>

                </TR>

                <TR>
                    <TD align=c enter width=32>
                        <font size=-1>교선</font>
                    </TD>
                    <TD align=c enter width=32>
                        <font size=-1>전체</font>
                    </TD>

                    <TD align=l eft>
                        <A href="#a9" data-toggle="modal">
                            <font size=-1>법과사회 </font>
                        </a>
                    </TD>

                    <TD align=c enter width=64>
                        <font size=-1>00720-01</font>
                    </TD>
                    <TD align=c enter width=32>
                        <font size=-1>3</font>
                    </TD>
                    <TD align=c enter width=32>
                        <font size=-1>3</font>
                    </TD>

                    <TD align=c enter width=64>
                        <font size=-1>원영철</font>
                    </TD>

                    <TD align=l eft>
                        <font size=-1>목7,8,9 &nbsp</font>
                    </TD>
                    <TD align=l eft>
                        <font size=-1>동악-3108 &nbsp</font>
                    </TD>
                    <TD align=c enter>
                        <font size=-1>
                            <div id="pd_rating_holder_8402209"></div>

                        </font>
                    </TD>
                    <!--				<TD align = center><font size=-1>80</font></TD>-->

                    <TD align=c enter>
                        <div id="pd_rating_holder_8402234"></div>

                    </TD>

                </TR>

                <TR>
                    <TD align=c enter width=32>
                        <font size=-1>교선</font>
                    </TD>
                    <TD align=c enter width=32>
                        <font size=-1>전체</font>
                    </TD>

                    <TD align=l eft>
                        <A href="#a10" data-toggle="modal">
                            <font size=-1>북한학 </font>
                    </TD>

                    <TD align=c enter width=64>
                        <font size=-1>05182-01</font>
                    </TD>
                    <TD align=c enter width=32>
                        <font size=-1>3</font>
                    </TD>
                    <TD align=c enter width=32>
                        <font size=-1>3</font>
                    </TD>

                    <TD align=c enter width=64>
                        <font size=-1>김영일</font>
                    </TD>

                    <TD align=l eft>
                        <font size=-1>수1,2,3 &nbsp</font>
                    </TD>
                    <TD align=l eft>
                        <font size=-1>동악-3109 &nbsp</font>
                    </TD>
                    <TD align=c enter>
                        <font size=-1>
                            <div id="pd_rating_holder_8402210"></div>

                        </font>
                    </TD>
                    <!--				<TD align = center><font size=-1>80</font></TD>-->

                    <TD align=c enter>
                        <div id="pd_rating_holder_8402255"></div>


                    </TD>

                </TR>

                <TR>
                    <TD align=c enter width=32>
                        <font size=-1>교선</font>
                    </TD>
                    <TD align=c enter width=32>
                        <font size=-1>전체</font>
                    </TD>

                    <TD align=l eft>
                        <A href="#a11" data-toggle="modal">
                            <font size=-1>사회학 </font>
                    </TD>

                    <TD align=c enter width=64>
                        <font size=-1>00888-01</font>
                    </TD>
                    <TD align=c enter width=32>
                        <font size=-1>3</font>
                    </TD>
                    <TD align=c enter width=32>
                        <font size=-1>3</font>
                    </TD>

                    <TD align=c enter width=64>
                        <font size=-1>허은</font>
                    </TD>

                    <TD align=l eft>
                        <font size=-1>수1,2,3 &nbsp</font>
                    </TD>
                    <TD align=l eft>
                        <font size=-1>동악-4107 &nbsp</font>
                    </TD>
                    <TD align=c enter>
                        <div id="pd_rating_holder_8402211"></div>

                    </TD>
                    <!--				<TD align = center><font size=-1>90</font></TD>-->

                    <TD align=c enter>
                        <div id="pd_rating_holder_8402235"></div>



                    </TD>

                </TR>

                <TR>
                    <TD align=c enter width=32>
                        <font size=-1>교선</font>
                    </TD>
                    <TD align=c enter width=32>
                        <font size=-1>전체</font>
                    </TD>

                    <TD align=l eft>
                        <A href="#a12" data-toggle="modal">
                            <font size=-1>사회학 </font>
                    </TD>

                    <TD align=c enter width=64>
                        <font size=-1>00888-02</font>
                    </TD>
                    <TD align=c enter width=32>
                        <font size=-1>3</font>
                    </TD>
                    <TD align=c enter width=32>
                        <font size=-1>3</font>
                    </TD>

                    <TD align=c enter width=64>
                        <font size=-1>허은</font>
                    </TD>

                    <TD align=l eft>
                        <font size=-1>수7,8,9 &nbsp</font>
                    </TD>
                    <TD align=l eft>
                        <font size=-1>동악-4107 &nbsp</font>
                    </TD>
                    <TD align=c enter>
                        <div id="pd_rating_holder_8402212"></div>

                    </TD>
                    <!--				<TD align = center><font size=-1>81</font></TD>-->

                    <TD align=c enter>
                        <div id="pd_rating_holder_8402237"></div>


                    </TD>

                </TR>

                <TR>
                    <TD align=c enter width=32>
                        <font size=-1>교선</font>
                    </TD>
                    <TD align=c enter width=32>
                        <font size=-1>전체</font>
                    </TD>

                    <TD align=l eft>
                        <A href="#a13" data-toggle="modal">
                            <font size=-1>생태사회와시민운동 </font>
                        </a>
                    </TD>

                    <TD align=c enter width=64>
                        <font size=-1>04438-01</font>
                    </TD>
                    <TD align=c enter width=32>
                        <font size=-1>3</font>
                    </TD>
                    <TD align=c enter width=32>
                        <font size=-1>3</font>
                    </TD>

                    <TD align=c enter width=64>
                        <font size=-1>홍성태</font>
                    </TD>

                    <TD align=l eft>
                        <font size=-1>화2 수7,8 &nbsp</font>
                    </TD>
                    <TD align=l eft>
                        <font size=-1>동악-4114, 동악-2112 &nbsp</font>
                    </TD>
                    <TD align=c enter>
                        <div id="pd_rating_holder_8402213"></div>

                    </TD>
                    <!--				<TD align = center><font size=-1>3</font></TD>-->

                    <TD align=c enter>
                        <div id="pd_rating_holder_8402238"></div>



                    </TD>

                </TR>

                <TR>
                    <TD align=c enter width=32>
                        <font size=-1>교선</font>
                    </TD>
                    <TD align=c enter width=32>
                        <font size=-1>전체</font>
                    </TD>

                    <TD align=l eft>
                        <A href="#a14" data-toggle="modal">
                            <font size=-1>여성과일 </font>
                        </a>
                    </TD>

                    <TD align=c enter width=64>
                        <font size=-1>01281-01</font>
                    </TD>
                    <TD align=c enter width=32>
                        <font size=-1>3</font>
                    </TD>
                    <TD align=c enter width=32>
                        <font size=-1>3</font>
                    </TD>

                    <TD align=c enter width=64>
                        <font size=-1>강은애</font>
                    </TD>

                    <TD align=l eft>
                        <font size=-1>월7,8,9 &nbsp</font>
                    </TD>
                    <TD align=l eft>
                        <font size=-1>체육-202 &nbsp</font>
                    </TD>
                    <TD align=c enter>
                        <div id="pd_rating_holder_8402214"></div>

                    </TD>
                    <!--				<TD align = center><font size=-1>99</font></TD>-->

                    <TD align=c enter>
                        <div id="pd_rating_holder_8402239"></div>


                    </TD>

                </TR>

                <TR>
                    <TD align=c enter width=32>
                        <font size=-1>교선</font>
                    </TD>
                    <TD align=c enter width=32>
                        <font size=-1>전체</font>
                    </TD>

                    <TD align=l eft>
                        <A href="#a15" data-toggle="modal">
                            <font size=-1>인간과복지 </font>
                        </a>
                    </TD>

                    <TD align=c enter width=64>
                        <font size=-1>01525-01</font>
                    </TD>
                    <TD align=c enter width=32>
                        <font size=-1>3</font>
                    </TD>
                    <TD align=c enter width=32>
                        <font size=-1>3</font>
                    </TD>

                    <TD align=c enter width=64>
                        <font size=-1>신동민</font>
                    </TD>

                    <TD align=l eft>
                        <font size=-1>목7,8,9 &nbsp</font>
                    </TD>
                    <TD align=l eft>
                        <font size=-1>동악-5114 &nbsp</font>
                    </TD>
                    <TD align=c enter>
                        <div id="pd_rating_holder_8402277"></div>


                    </TD>
                    <!--				<TD align = center><font size=-1>96</font></TD>-->

                    <TD align=c enter>
                        <div id="pd_rating_holder_8402240"></div>


                    </TD>

                </TR>



            </TABLE>
        </div>
        <nav>
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li><a href="javascript:rating()">1</a></li>
                <li><a href="javascript:rating2()">2</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>

    </CENTER>

    <!--    <center><font face="돋움" size="3" color="cccccc">ss00803</font></center>-->
    <!--    <center><font face="돋움" size="3" color="cccccc">ss00802</font></center>-->

    <!--a1 경제의이해1 시작 -->
    <div class="modal modal-center fade" id="a1" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
        <div class="modal-dialog modal-80size modal-center" role="document">
            <div class="modal-content modal-80size">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><center>경제의이해</center></h4>
                </div>
                <div class="modal-body">
                    <table align="center" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    <center>교수명</center>
                                </th>
                                <center>
                                    <th>
                                        <center>강좌 시간</center>
                                    </th>
                                </center>
                                <center>
                                    <th>
                                        <center>학점
                                            <center>
                                    </th>
                                    </center>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <center>박정원</center>
                                </td>
                                <td>
                                    <center>월 789</center>
                                </td>
                                <td>
                                    <center>3학점</center>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div id="fb-root">
                    <center>

                        <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=1" data-numposts="5"></div>
                    </center>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    <!--a1경제의이해1 끝-->
    <!--a1 경제의이해2 시작 -->
    <div class="modal modal-center fade" id="a2" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
        <div class="modal-dialog modal-80size modal-center" role="document">
            <div class="modal-content modal-80size">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><center>경제의이해</center></h4>
                </div>
                <div class="modal-body">
                    <table align="center" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    <center>교수명</center>
                                </th>
                                <center>
                                    <th>
                                        <center>강좌 시간
                                            <center>
                                    </th>
                                    </center>
                                    <center>
                                        <th>
                                            <center>학점
                                                <center>
                                        </th>
                                        </center>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <center>김철우</center>
                                </td>
                                <td>
                                    <center>목 789</center>
                                </td>
                                <td>
                                    <center>3학점</center>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div id="fb-root">
                    <center>

                        <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=2" data-numposts="5"></div>
                    </center>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    <!--a1경제의이해2 끝-->
    <!--a1 대중문화의이해1 시작 -->
    <div class="modal modal-center fade" id="a3" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
        <div class="modal-dialog modal-80size modal-center" role="document">
            <div class="modal-content modal-80size">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><center>대중문화의이해</center></h4>
                </div>
                <div class="modal-body">
                    <table align="center" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    <center>교수명</center>
                                </th>
                                <center>
                                    <th>
                                        <center>강좌 시간
                                            <center>
                                    </th>
                                    </center>
                                    <center>
                                        <th>
                                            <center>학점
                                                <center>
                                        </th>
                                        </center>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <center>김범수</center>
                                </td>
                                <td>
                                    <center>금 789</center>
                                </td>
                                <td>
                                    <center>3학점</center>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div id="fb-root">
                    <center>

                        <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=3" data-numposts="5"></div>
                    </center>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    <!--대중문화의이해1 끝-->
    <!--a1 대중문화의이해2 시작 -->
    <div class="modal modal-center fade" id="a4" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
        <div class="modal-dialog modal-80size modal-center" role="document">
            <div class="modal-content modal-80size">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><center>대중문화의이해</center></h4>
                </div>
                <div class="modal-body">
                    <table align="center" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    <center>교수명</center>
                                </th>
                                <center>
                                    <th>
                                        <center>강좌 시간
                                            <center>
                                    </th>
                                    </center>
                                    <center>
                                        <th>
                                            <center>학점
                                                <center>
                                        </th>
                                        </center>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <center>유현상</center>
                                </td>
                                <td>
                                    <center>수 789</center>
                                </td>
                                <td>
                                    <center>3학점</center>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div id="fb-root">
                    <center>

                        <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=4" data-numposts="5"></div>
                    </center>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    <!--대중문화의이해2 끝-->
    <!-- 리더쉽 시작 -->
    <div class="modal modal-center fade" id="a5" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
        <div class="modal-dialog modal-80size modal-center" role="document">
            <div class="modal-content modal-80size">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><center>리더쉽</center></h4>
                </div>
                <div class="modal-body">
                    <table align="center" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    <center>교수명</center>
                                </th>
                                <center>
                                    <th>
                                        <center>강좌 시간
                                            <center>
                                    </th>
                                    </center>
                                    <center>
                                        <th>
                                            <center>학점
                                                <center>
                                        </th>
                                        </center>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <center>최무현</center>
                                </td>
                                <td>
                                    <center>월 7 수 78</center>
                                </td>
                                <td>
                                    <center>3학점</center>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div id="fb-root">
                    <center>

                        <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=5" data-numposts="5"></div>
                    </center>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 리더쉽 끝-->
    <!-- 미래사회의이해 시작 -->
    <div class="modal modal-center fade" id="a6" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
        <div class="modal-dialog modal-80size modal-center" role="document">
            <div class="modal-content modal-80size">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><center>미래사회의이해</center></h4>
                </div>
                <div class="modal-body">
                    <table align="center" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    <center>교수명</center>
                                </th>
                                <center>
                                    <th>
                                        <center>강좌 시간
                                            <center>
                                    </th>
                                    </center>
                                    <center>
                                        <th>
                                            <center>학점
                                                <center>
                                        </th>
                                        </center>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <center>김종채</center>
                                </td>
                                <td>
                                    <center>금 456</center>
                                </td>
                                <td>
                                    <center>3학점</center>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div id="fb-root">
                    <center>

                        <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=6" data-numposts="5"></div>
                    </center>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 미래사회의이해 끝-->
    <!-- 미래사회의이해 시작 -->
    <div class="modal modal-center fade" id="a7" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
        <div class="modal-dialog modal-80size modal-center" role="document">
            <div class="modal-content modal-80size">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><center>미래사회의이해</center></h4>
                </div>
                <div class="modal-body">
                    <table align="center" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    <center>교수명</center>
                                </th>
                                <center>
                                    <th>
                                        <center>강좌 시간
                                            <center>
                                    </th>
                                    </center>
                                    <center>
                                        <th>
                                            <center>학점
                                                <center>
                                        </th>
                                        </center>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <center>김종채</center>
                                </td>
                                <td>
                                    <center>금 789</center>
                                </td>
                                <td>
                                    <center>3학점</center>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div id="fb-root">
                    <center>

                        <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=7" data-numposts="5"></div>
                    </center>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 미래사회의이해 끝-->
    <!-- 민족과통일 시작 -->
    <div class="modal modal-center fade" id="a8" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
        <div class="modal-dialog modal-80size modal-center" role="document">
            <div class="modal-content modal-80size">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><center>민족과통일</center></h4>
                </div>
                <div class="modal-body">
                    <table align="center" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    <center>교수명</center>
                                </th>
                                <center>
                                    <th>
                                        <center>강좌 시간
                                            <center>
                                    </th>
                                    </center>
                                    <center>
                                        <th>
                                            <center>학점
                                                <center>
                                        </th>
                                        </center>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <center>조기형</center>
                                </td>
                                <td>
                                    <center>목 789</center>
                                </td>
                                <td>
                                    <center>3학점</center>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div id="fb-root">
                    <center>

                        <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=8" data-numposts="5"></div>
                    </center>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 민족과통일 끝-->
    <!-- 법과사회 시작 -->
    <div class="modal modal-center fade" id="a9" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
        <div class="modal-dialog modal-80size modal-center" role="document">
            <div class="modal-content modal-80size">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><center>법과사회</center></h4>
                </div>
                <div class="modal-body">
                    <table align="center" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    <center>교수명</center>
                                </th>
                                <center>
                                    <th>
                                        <center>강좌 시간
                                            <center>
                                    </th>
                                    </center>
                                    <center>
                                        <th>
                                            <center>학점
                                                <center>
                                        </th>
                                        </center>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <center>원영철</center>
                                </td>
                                <td>
                                    <center>목 789</center>
                                </td>
                                <td>
                                    <center>3학점</center>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div id="fb-root">
                    <center>

                        <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=9" data-numposts="5"></div>
                    </center>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 법과사회 끝-->
    <!-- 북한학 시작 -->
    <div class="modal modal-center fade" id="a10" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
        <div class="modal-dialog modal-80size modal-center" role="document">
            <div class="modal-content modal-80size">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><center>북한학</center></h4>
                </div>
                <div class="modal-body">
                    <table align="center" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    <center>교수명</center>
                                </th>
                                <center>
                                    <th>
                                        <center>강좌 시간
                                            <center>
                                    </th>
                                    </center>
                                    <center>
                                        <th>
                                            <center>학점
                                                <center>
                                        </th>
                                        </center>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <center>원영일</center>
                                </td>
                                <td>
                                    <center>수 123</center>
                                </td>
                                <td>
                                    <center>3학점</center>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div id="fb-root">
                    <center>

                        <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=10" data-numposts="5"></div>
                    </center>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 북한학 끝-->
    <!-- 사회학 시작 -->
    <div class="modal modal-center fade" id="a11" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
        <div class="modal-dialog modal-80size modal-center" role="document">
            <div class="modal-content modal-80size">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><center>사회학</center></h4>
                </div>
                <div class="modal-body">
                    <table align="center" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    <center>교수명</center>
                                </th>
                                <center>
                                    <th>
                                        <center>강좌 시간
                                            <center>
                                    </th>
                                    </center>
                                    <center>
                                        <th>
                                            <center>학점
                                                <center>
                                        </th>
                                        </center>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <center>허은</center>
                                </td>
                                <td>
                                    <center>수 123</center>
                                </td>
                                <td>
                                    <center>3학점</center>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div id="fb-root">
                    <center>

                        <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=11" data-numposts="5"></div>
                    </center>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 사회학 끝-->
    <!-- 사회학 시작 -->
    <div class="modal modal-center fade" id="a12" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
        <div class="modal-dialog modal-80size modal-center" role="document">
            <div class="modal-content modal-80size">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><center>사회학</center></h4>
                </div>
                <div class="modal-body">
                    <table align="center" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    <center>교수명</center>
                                </th>
                                <center>
                                    <th>
                                        <center>강좌 시간
                                            <center>
                                    </th>
                                    </center>
                                    <center>
                                        <th>
                                            <center>학점
                                                <center>
                                        </th>
                                        </center>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <center>허은</center>
                                </td>
                                <td>
                                    <center>수 789</center>
                                </td>
                                <td>
                                    <center>3학점</center>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div id="fb-root">
                    <center>

                        <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=12" data-numposts="5"></div>
                    </center>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 사회학 끝-->
    <!-- 생태사회와시민운동 시작 -->
    <div class="modal modal-center fade" id="a13" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
        <div class="modal-dialog modal-80size modal-center" role="document">
            <div class="modal-content modal-80size">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><center>생태사회와시민운동</center></h4>
                </div>
                <div class="modal-body">
                    <table align="center" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    <center>교수명</center>
                                </th>
                                <center>
                                    <th>
                                        <center>강좌 시간
                                            <center>
                                    </th>
                                    </center>
                                    <center>
                                        <th>
                                            <center>학점
                                                <center>
                                        </th>
                                        </center>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <center>홍성태</center>
                                </td>
                                <td>
                                    <center>화 2 수 78</center>
                                </td>
                                <td>
                                    <center>3학점</center>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div id="fb-root">
                    <center>

                        <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=13" data-numposts="5"></div>
                    </center>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 생태사회와시민운동 끝-->
    <!-- 여성과일동 시작 -->
    <div class="modal modal-center fade" id="a14" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
        <div class="modal-dialog modal-80size modal-center" role="document">
            <div class="modal-content modal-80size">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><center>여성과일</center></h4>
                </div>
                <div class="modal-body">
                    <table align="center" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    <center>교수명</center>
                                </th>
                                <center>
                                    <th>
                                        <center>강좌 시간
                                            <center>
                                    </th>
                                    </center>
                                    <center>
                                        <th>
                                            <center>학점
                                                <center>
                                        </th>
                                        </center>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <center>강은애</center>
                                </td>
                                <td>
                                    <center>월 789</center>
                                </td>
                                <td>
                                    <center>3학점</center>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div id="fb-root">
                    <center>

                        <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=14" data-numposts="5"></div>
                    </center>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 여성과일 끝-->
    <!-- 인간과복지 시작 -->
    <div class="modal modal-center fade" id="a15" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
        <div class="modal-dialog modal-80size modal-center" role="document">
            <div class="modal-content modal-80size">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><center>인간과복지</center></h4>
                </div>
                <div class="modal-body">
                    <table align="center" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    <center>교수명</center>
                                </th>
                                <center>
                                    <th>
                                        <center>강좌 시간
                                            <center>
                                    </th>
                                    </center>
                                    <center>
                                        <th>
                                            <center>학점
                                                <center>
                                        </th>
                                        </center>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <center>신동민</center>
                                </td>
                                <td>
                                    <center>목 789</center>
                                </td>
                                <td>
                                    <center>3학점</center>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div id="fb-root">
                    <center>

                        <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=15" data-numposts="5"></div>
                    </center>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 인간과복지 끝-->



</body>

</html>