<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<META http-equiv=Cache-Control content=no-cache>
<META http-equiv=Expires content=0>
<META http-equiv=Pragma content=no-cache>
<meta http-equiv=Content-Type content="text/html;charset=euc-kr">
<LINK href="./main/util.htm" type=text/css rel=stylesheet>
<META content="MSHTML 6.00.2900.2769" name=GENERATOR>




<!사회복지학과>

	<div class="modal modal-center fade" id="d628" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
        <div class="modal-dialog modal-80size modal-center" role="document">
            <div class="modal-content modal-80size">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><center>사회복지개론</center></h4>
                </div>
                <div class="modal-body">
                    <table align="center" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    <center>교수명</center>
                                </th>
                                <th>
                                    <center>강좌 시간</center>
                                </th>
                                <th>
                                    <center>학점</center>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <center>박지영</center>
                                </td>
                                <td>
                                    <center>화6 수4, 5  </center>
                                </td>
                                <td>
                                    <center>3학점</center>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="fb-root">
                    <center>
                        <script>
                            (function(d, s, id) {
                                    var js, fjs = d.getElementsByTagName(s)[0];
                                    if (d.getElementById(id)) return;
                                    js = d.createElement(s);
                                    js.id = id;
                                    js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                    fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                        </script>
                        <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=628" data-numposts="5"></div>
                    </center>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>


	<div class="modal modal-center fade" id="d629" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
        <div class="modal-dialog modal-80size modal-center" role="document">
            <div class="modal-content modal-80size">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><center>사회학개론</center></h4>
                </div>
                <div class="modal-body">
                    <table align="center" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    <center>교수명</center>
                                </th>
                                <th>
                                    <center>강좌 시간</center>
                                </th>
                                <th>
                                    <center>학점</center>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <center>김형방</center>
                                </td>
                                <td>
                                    <center>월1, 2, 3  </center>
                                </td>
                                <td>
                                    <center>3학점</center>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="fb-root">
                    <center>
                        <script>
                            (function(d, s, id) {
                                    var js, fjs = d.getElementsByTagName(s)[0];
                                    if (d.getElementById(id)) return;
                                    js = d.createElement(s);
                                    js.id = id;
                                    js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                    fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                        </script>
                        <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=629" data-numposts="5"></div>
                    </center>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>


<div class="modal modal-center fade" id="d630" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
        <div class="modal-dialog modal-80size modal-center" role="document">
            <div class="modal-content modal-80size">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><center>사회문제론</center></h4>
                </div>
                <div class="modal-body">
                    <table align="center" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    <center>교수명</center>
                                </th>
                                <th>
                                    <center>강좌 시간</center>
                                </th>
                                <th>
                                    <center>학점</center>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <center>이승선</center>
                                </td>
                                <td>
                                    <center>금 1, 2, 3  </center>
                                </td>
                                <td>
                                    <center>3학점</center>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="fb-root">
                    <center>
                        <script>
                            (function(d, s, id) {
                                    var js, fjs = d.getElementsByTagName(s)[0];
                                    if (d.getElementById(id)) return;
                                    js = d.createElement(s);
                                    js.id = id;
                                    js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                    fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                        </script>
                        <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=630" data-numposts="5"></div>
                    </center>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>



<div class="modal modal-center fade" id="d631" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
        <div class="modal-dialog modal-80size modal-center" role="document">
            <div class="modal-content modal-80size">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><center>사회보장론</center></h4>
                </div>
                <div class="modal-body">
                    <table align="center" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    <center>교수명</center>
                                </th>
                                <th>
                                    <center>강좌 시간</center>
                                </th>
                                <th>
                                    <center>학점</center>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <center>류만희</center>
                                </td>
                                <td>
                                    <center>월1, 2, 3   </center>
                                </td>
                                <td>
                                    <center>3학점</center>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="fb-root">
                    <center>
                        <script>
                            (function(d, s, id) {
                                    var js, fjs = d.getElementsByTagName(s)[0];
                                    if (d.getElementById(id)) return;
                                    js = d.createElement(s);
                                    js.id = id;
                                    js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                    fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                        </script>
                        <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=631" data-numposts="5"></div>
                    </center>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="modal modal-center fade" id="d632" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
        <div class="modal-dialog modal-80size modal-center" role="document">
            <div class="modal-content modal-80size">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><center>사회복지실천론</center></h4>
                </div>
                <div class="modal-body">
                    <table align="center" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    <center>교수명</center>
                                </th>
                                <th>
                                    <center>강좌 시간</center>
                                </th>
                                <th>
                                    <center>학점</center>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <center>김형방</center>
                                </td>
                                <td>
                                    <center>금1, 2, 3   </center>
                                </td>
                                <td>
                                    <center>3학점</center>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="fb-root">
                    <center>
                        <script>
                            (function(d, s, id) {
                                    var js, fjs = d.getElementsByTagName(s)[0];
                                    if (d.getElementById(id)) return;
                                    js = d.createElement(s);
                                    js.id = id;
                                    js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                    fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                        </script>
                        
                        
                        
                        
                        <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=632" data-numposts="5"></div>
                    </center>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    
    
    
  
    
     
     <div class="modal modal-center fade" id="d633" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
        <div class="modal-dialog modal-80size modal-center" role="document">
            <div class="modal-content modal-80size">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><center>자원봉사론</center></h4>
                </div>
                <div class="modal-body">
                    <table align="center" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    <center>교수명</center>
                                </th>
                                <th>
                                    <center>강좌 시간</center>
                                </th>
                                <th>
                                    <center>학점</center>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <center>최경인</center>
                                </td>
                                <td>
                                    <center>목7, 8, 9   </center>
                                </td>
                                <td>
                                    <center>3학점</center>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="fb-root">
                    <center>
                        <script>
                            (function(d, s, id) {
                                    var js, fjs = d.getElementsByTagName(s)[0];
                                    if (d.getElementById(id)) return;
                                    js = d.createElement(s);
                                    js.id = id;
                                    js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                    fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                        </script>
                        <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=633" data-numposts="5"></div>
                    </center>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    
    
    
    <div class="modal modal-center fade" id="d634" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
        <div class="modal-dialog modal-80size modal-center" role="document">
            <div class="modal-content modal-80size">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><center>사회복지실천기술론 </center></h4>
                </div>
                <div class="modal-body">
                    <table align="center" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    <center>교수명</center>
                                </th>
                                <th>
                                    <center>강좌 시간</center>
                                </th>
                                <th>
                                    <center>학점</center>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <center>김희국</center>
                                </td>
                                <td>
                                    <center>화8, 9 목1   </center>
                                </td>
                                <td>
                                    <center>3학점</center>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="fb-root">
                    <center>
                        <script>
                            (function(d, s, id) {
                                    var js, fjs = d.getElementsByTagName(s)[0];
                                    if (d.getElementById(id)) return;
                                    js = d.createElement(s);
                                    js.id = id;
                                    js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                    fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                        </script>
                        <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=634" data-numposts="5"></div>
                    </center>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    
    
     <div class="modal modal-center fade" id="d635" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
        <div class="modal-dialog modal-80size modal-center" role="document">
            <div class="modal-content modal-80size">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><center>사회복지자료분석론 </center></h4>
                </div>
                <div class="modal-body">
                    <table align="center" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    <center>교수명</center>
                                </th>
                                <th>
                                    <center>강좌 시간</center>
                                </th>
                                <th>
                                    <center>학점</center>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <center>송사리</center>
                                </td>
                                <td>
                                    <center>금4, 5, 6   </center>
                                </td>
                                <td>
                                    <center>3학점</center>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="fb-root">
                    <center>
                        <script>
                            (function(d, s, id) {
                                    var js, fjs = d.getElementsByTagName(s)[0];
                                    if (d.getElementById(id)) return;
                                    js = d.createElement(s);
                                    js.id = id;
                                    js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                    fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                        </script>
                        <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=635" data-numposts="5"></div>
                    </center>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    
    
     <div class="modal modal-center fade" id="d636" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
        <div class="modal-dialog modal-80size modal-center" role="document">
            <div class="modal-content modal-80size">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><center>사회복지정책론 </center></h4>
                </div>
                <div class="modal-body">
                    <table align="center" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    <center>교수명</center>
                                </th>
                                <th>
                                    <center>강좌 시간</center>
                                </th>
                                <th>
                                    <center>학점</center>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <center>류만희</center>
                                </td>
                                <td>
                                    <center>수7, 8 목2  </center>
                                </td>
                                <td>
                                    <center>3학점</center>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="fb-root">
                    <center>
                        <script>
                            (function(d, s, id) {
                                    var js, fjs = d.getElementsByTagName(s)[0];
                                    if (d.getElementById(id)) return;
                                    js = d.createElement(s);
                                    js.id = id;
                                    js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                    fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                        </script>
                        <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=636" data-numposts="5"></div>
                    </center>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="modal modal-center fade" id="d637" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
        <div class="modal-dialog modal-80size modal-center" role="document">
            <div class="modal-content modal-80size">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><center>아동복지론 </center></h4>
                </div>
                <div class="modal-body">
                    <table align="center" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    <center>교수명</center>
                                </th>
                                <th>
                                    <center>강좌 시간</center>
                                </th>
                                <th>
                                    <center>학점</center>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <center>최현숙</center>
                                </td>
                                <td>
                                    <center>화5, 6 목6  </center>
                                </td>
                                <td>
                                    <center>3학점</center>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="fb-root">
                    <center>
                        <script>
                            (function(d, s, id) {
                                    var js, fjs = d.getElementsByTagName(s)[0];
                                    if (d.getElementById(id)) return;
                                    js = d.createElement(s);
                                    js.id = id;
                                    js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                    fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                        </script>
                        <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=637" data-numposts="5"></div>
                    </center>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    
    
    
     <div class="modal modal-center fade" id="d638" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
        <div class="modal-dialog modal-80size modal-center" role="document">
            <div class="modal-content modal-80size">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><center>의료사회복지론 </center></h4>
                </div>
                <div class="modal-body">
                    <table align="center" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    <center>교수명</center>
                                </th>
                                <th>
                                    <center>강좌 시간</center>
                                </th>
                                <th>
                                    <center>학점</center>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <center>서청희</center>
                                </td>
                                <td>
                                    <center>금7, 8, 9  </center>
                                </td>
                                <td>
                                    <center>3학점</center>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="fb-root">
                    <center>
                        <script>
                            (function(d, s, id) {
                                    var js, fjs = d.getElementsByTagName(s)[0];
                                    if (d.getElementById(id)) return;
                                    js = d.createElement(s);
                                    js.id = id;
                                    js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                    fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                        </script>
                        <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=638" data-numposts="5"></div>
                    </center>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    
    
     <div class="modal modal-center fade" id="d639" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
        <div class="modal-dialog modal-80size modal-center" role="document">
            <div class="modal-content modal-80size">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><center>프로그램개발과평가 </center></h4>
                </div>
                <div class="modal-body">
                    <table align="center" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    <center>교수명</center>
                                </th>
                                <th>
                                    <center>강좌 시간</center>
                                </th>
                                <th>
                                    <center>학점</center>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <center>박지영</center>
                                </td>
                                <td>
                                    <center>월9 화1, 2  </center>
                                </td>
                                <td>
                                    <center>3학점</center>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="fb-root">
                    <center>
                        <script>
                            (function(d, s, id) {
                                    var js, fjs = d.getElementsByTagName(s)[0];
                                    if (d.getElementById(id)) return;
                                    js = d.createElement(s);
                                    js.id = id;
                                    js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                    fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                        </script>
                        <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=639" data-numposts="5"></div>
                    </center>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    
       <div class="modal modal-center fade" id="d640" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
        <div class="modal-dialog modal-80size modal-center" role="document">
            <div class="modal-content modal-80size">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><center>사회복지와환경 </center></h4>
                </div>
                <div class="modal-body">
                    <table align="center" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    <center>교수명</center>
                                </th>
                                <th>
                                    <center>강좌 시간</center>
                                </th>
                                <th>
                                    <center>학점</center>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <center>박지영</center>
                                </td>
                                <td>
                                    <center>목1  </center>
                                </td>
                                <td>
                                    <center>3학점</center>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="fb-root">
                    <center>
                        <script>
                            (function(d, s, id) {
                                    var js, fjs = d.getElementsByTagName(s)[0];
                                    if (d.getElementById(id)) return;
                                    js = d.createElement(s);
                                    js.id = id;
                                    js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                    fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                        </script>
                        <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=640" data-numposts="5"></div>
                    </center>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    
    
    
    <div class="modal modal-center fade" id="d641" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
        <div class="modal-dialog modal-80size modal-center" role="document">
            <div class="modal-content modal-80size">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><center>사회복지윤리와철학 </center></h4>
                </div>
                <div class="modal-body">
                    <table align="center" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    <center>교수명</center>
                                </th>
                                <th>
                                    <center>강좌 시간</center>
                                </th>
                                <th>
                                    <center>학점</center>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <center>심상용</center>
                                </td>
                                <td>
                                    <center>수7, 8, 9   </center>
                                </td>
                                <td>
                                    <center>3학점</center>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="fb-root">
                    <center>
                        <script>
                            (function(d, s, id) {
                                    var js, fjs = d.getElementsByTagName(s)[0];
                                    if (d.getElementById(id)) return;
                                    js = d.createElement(s);
                                    js.id = id;
                                    js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                    fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                        </script>
                        <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=641" data-numposts="5"></div>
                    </center>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    
    
    
    <div class="modal modal-center fade" id="d642" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
        <div class="modal-dialog modal-80size modal-center" role="document">
            <div class="modal-content modal-80size">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><center>사회복지지도감독론 </center></h4>
                </div>
                <div class="modal-body">
                    <table align="center" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    <center>교수명</center>
                                </th>
                                <th>
                                    <center>강좌 시간</center>
                                </th>
                                <th>
                                    <center>학점</center>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <center>최종길</center>
                                </td>
                                <td>
                                    <center>금7, 8, 9  </center>
                                </td>
                                <td>
                                    <center>3학점</center>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="fb-root">
                    <center>
                        <script>
                            (function(d, s, id) {
                                    var js, fjs = d.getElementsByTagName(s)[0];
                                    if (d.getElementById(id)) return;
                                    js = d.createElement(s);
                                    js.id = id;
                                    js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                    fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                        </script>
                        <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=642" data-numposts="5"></div>
                    </center>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    
    
    
    <div class="modal modal-center fade" id="d643" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
        <div class="modal-dialog modal-80size modal-center" role="document">
            <div class="modal-content modal-80size">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><center>사회복지현장실습(2) </center></h4>
                </div>
                <div class="modal-body">
                    <table align="center" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    <center>교수명</center>
                                </th>
                                <th>
                                    <center>강좌 시간</center>
                                </th>
                                <th>
                                    <center>학점</center>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <center>김희국</center>
                                </td>
                                <td>
                                    <center>월7, 8, 9   </center>
                                </td>
                                <td>
                                    <center>3학점</center>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="fb-root">
                    <center>
                        <script>
                            (function(d, s, id) {
                                    var js, fjs = d.getElementsByTagName(s)[0];
                                    if (d.getElementById(id)) return;
                                    js = d.createElement(s);
                                    js.id = id;
                                    js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                    fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                        </script>
                        <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=643" data-numposts="5"></div>
                    </center>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    
    
     <div class="modal modal-center fade" id="d644" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
        <div class="modal-dialog modal-80size modal-center" role="document">
            <div class="modal-content modal-80size">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><center>학교사회복지론 </center></h4>
                </div>
                <div class="modal-body">
                    <table align="center" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    <center>교수명</center>
                                </th>
                                <th>
                                    <center>강좌 시간</center>
                                </th>
                                <th>
                                    <center>학점</center>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <center>박명숙</center>
                                </td>
                                <td>
                                    <center>화7, 8, 9  </center>
                                </td>
                                <td>
                                    <center>3학점</center>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="fb-root">
                    <center>
                        <script>
                            (function(d, s, id) {
                                    var js, fjs = d.getElementsByTagName(s)[0];
                                    if (d.getElementById(id)) return;
                                    js = d.createElement(s);
                                    js.id = id;
                                    js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                    fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                        </script>
                        <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=644" data-numposts="5"></div>
                    </center>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    
    
<script langauage="javascript"> 
<!-- 
function hidestatus(){ 
window.status='' 
return true 
} 

if (document.layers) 
document.captureEvents(Event.MOUSEOVER | Event.MOUSEOUT) 

document.onmouseover=hidestatus 
document.onmouseout=hidestatus 
//--> 
</script> 

</HEAD>

<STYLE type=text/css>BODY {
	FONT-SIZE: 9pt
}
FONT {
	FONT-SIZE: 9pt; LINE-HEIGHT: 16pt
}
A:link {
	TEXT-DECORATION: none
}
A:visited {
	TEXT-DECORATION: none
}
A:active {
	TEXT-DECORATION: none
}
</STYLE>





<!--2006.09.22 추가 park sang chul  -->
 <script language="javascript">
     	  function fnQues(){
// if(alert("교원 및 재학생은 홈페이지를 통하여 로그인 후 사용하세요.")){
 if(confirm("교원 및 재학생은 홈페이지를 통하여 로그인 후 사용하세요. 학적정보로 이동 하시겠습니까?",0)){
  parent.location.href = "http://hakjuk.sangji.ac.kr/index_direct.jsp"
//  parent.location.href = "http://www.sangji.ac.kr"
 }else{
  parent.location.href = "http://www.sangji.ac.kr"
  return;
 }

//	alert("홈페이지 로그인 후 사용하세요.");
//	parent.location.href = "http://www.sangji.ac.kr/user/sangji/sangji.jsp";

}
     </script>
<!------------------------------------->


      <script language="javascript">
//      alert("조교는 학부재학생 웹학적정보를 사용하실수 없습니다. 대학 홈페이지로 이동합니다..301 ");
//      parent.location.href = "http://www.sangji.ac.kr"
      </script> 
	  


<body background ="../main/back.jpg" text="black" link="blue" vlink="blue" alink="blue" onKeyDown="shiftkeydown();">



<!--
--  ***********************************************************************
--  procedure id : (ss00803) 개설과목 select 후 출력 
--  ***********************************************************************
-->

   <HTML>
           <BODY text="black" link="blue" vlink="purple" alink="red">
   <CENTER>
   


           <BODY TEXT="black" LINK="blue" VLINK="purple" ALINK="red">


	<BR>
	        <table BORDER="1"  cellspacing="0" bordercolordark="white" bordercolorlight="black" width="91%">
	<TR> 
           <th bgcolor=#98C4EF  height=20><font size=-1>구분</font></th>
           <th bgcolor=#98C4EF ><font size=-1>학년</font></th>
           <th bgcolor=#98C4EF ><font size=-1>교과목명</font></th>
           <th bgcolor=#98C4EF ><font size=-1>과목코드</font></th>
           <th bgcolor=#98C4EF ><font size=-1>학점</font></th>
           <th bgcolor=#98C4EF ><font size=-1>시간</font></th>
           <th bgcolor=#98C4EF ><font size=-1>교원명</font></th>
           <th bgcolor=#98C4EF ><font size=-1>강좌시간</font></th>
	        <th bgcolor=#98C4EF ><font size=-1>강의실</font></th>
	        <th bgcolor=#98C4EF ><font size=-1>정원</font></th>
<!--	        <th bgcolor=#98C4EF ><font size=-1>현재수강인원</font></th>-->
	        <th bgcolor=#98C4EF ><font size=-1>일반선택</font></th>
   </TR>


				<TR>
				<TD align = center width=32><font size=-1>계기</font></TD>
				<TD align = center width=32><font size=-1>1</font></TD>

				<TD align = left>
				<A href=#b628 data-toggle="modal">
				<font size=-1>사회복지개론              ...</font></TD>
        
				<TD align = center width=64><font size=-1>00856-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>박지영</font></TD>
				
				<TD align = left><font size=-1>화6 수4, 5            </font></TD>
				<TD align = left><font size=-1>동악-3102             </font></TD>
				<TD align = center><font size=-1>100</font></TD>
<!--			<TD><font size=-1>76</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>계기</font></TD>
				<TD align = center width=32><font size=-1>1</font></TD>

				<TD align = left>
				<A href=#b629 data-toggle="modal">
				<font size=-1>사회학개론               ...</font></TD>
        
				<TD align = center width=64><font size=-1>00889-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>김형방</font></TD>
				
				<TD align = left><font size=-1>월1, 2, 3            </font></TD>
				<TD align = left><font size=-1>동악-3102             </font></TD>
				<TD align = center><font size=-1>100</font></TD>
<!--			<TD><font size=-1>73</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>

				<TD align = left>
					<A href=#b630 data-toggle="modal">
				<font size=-1>사회문제론               ...</font></TD>
        
				<TD align = center width=64><font size=-1>00853-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>이승선</font></TD>
				
				<TD align = left><font size=-1>금7, 8, 9            </font></TD>
				<TD align = left><font size=-1>동악-3102             </font></TD>
				<TD align = center><font size=-1>66</font></TD>
<!--			<TD><font size=-1>40</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>

				<TD align = left>
				<A href=#b631 data-toggle="modal">
				<font size=-1>사회보장론               ...</font></TD>
        
				<TD align = center width=64><font size=-1>00854-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>류만희</font></TD>
				
				<TD align = left><font size=-1>월1, 2, 3            </font></TD>
				<TD align = left><font size=-1>동악-4101             </font></TD>
				<TD align = center><font size=-1>80</font></TD>
<!--			<TD><font size=-1>60</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>

				<TD align = left>
				<A href=#b632 data-toggle="modal">
				<font size=-1>사회복지실천론             ...</font></TD>
        
				<TD align = center width=64><font size=-1>00865-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>김형방</font></TD>
				
				<TD align = left><font size=-1>금1, 2, 3            </font></TD>
				<TD align = left><font size=-1>동악-3102             </font></TD>
				<TD align = center><font size=-1>90</font></TD>
<!--			<TD><font size=-1>67</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>

				<TD align = left>
				<A href=#b633 data-toggle="modal">
				<font size=-1>자원봉사론               ...</font></TD>
        
				<TD align = center width=64><font size=-1>01646-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>최경인</font></TD>
				
				<TD align = left><font size=-1>목7, 8, 9            </font></TD>
				<TD align = left><font size=-1>동악-3102             </font></TD>
				<TD align = center><font size=-1>70</font></TD>
<!--			<TD><font size=-1>36</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href=#b634 data-toggle="modal">
				<font size=-1>사회복지실천기술론           ...</font></TD>
        
				<TD align = center width=64><font size=-1>00864-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>김희국</font></TD>
				
				<TD align = left><font size=-1>화8, 9 목1            </font></TD>
				<TD align = left><font size=-1>동악-3102             </font></TD>
				<TD align = center><font size=-1>70</font></TD>
<!--			<TD><font size=-1>58</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href=#b635 data-toggle="modal">
				<font size=-1>사회복지자료분석론           ...</font></TD>
        
				<TD align = center width=64><font size=-1>00869-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>송사리</font></TD>
				
				<TD align = left><font size=-1>금4, 5, 6            </font></TD>
				<TD align = left><font size=-1>동악-2109             </font></TD>
				<TD align = center><font size=-1>60</font></TD>
<!--			<TD><font size=-1>46</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href=#b636 data-toggle="modal">
				<font size=-1>사회복지정책론             ...</font></TD>
        
				<TD align = center width=64><font size=-1>00872-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>류만희</font></TD>
				
				<TD align = left><font size=-1>수7, 8 목2            </font></TD>
				<TD align = left><font size=-1>동악-1101, 동악-4108    </font></TD>
				<TD align = center><font size=-1>80</font></TD>
<!--			<TD><font size=-1>59</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href=#b637 data-toggle="modal">
				<font size=-1>아동복지론               ...</font></TD>
        
				<TD align = center width=64><font size=-1>01217-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>최현숙</font></TD>
				
				<TD align = left><font size=-1>화5, 6 목6            </font></TD>
				<TD align = left><font size=-1>동악-4101             </font></TD>
				<TD align = center><font size=-1>60</font></TD>
<!--			<TD><font size=-1>25</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href=#b638 data-toggle="modal">
				<font size=-1>의료사회복지론             ...</font></TD>
        
				<TD align = center width=64><font size=-1>05048-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>서청희</font></TD>
				
				<TD align = left><font size=-1>금7, 8, 9            </font></TD>
				<TD align = left><font size=-1>복합-311              </font></TD>
				<TD align = center><font size=-1>60</font></TD>
<!--			<TD><font size=-1>27</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href=#b639 data-toggle="modal">
				<font size=-1>프로그램개발과평가           ...</font></TD>
        
				<TD align = center width=64><font size=-1>02113-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>박지영</font></TD>
				
				<TD align = left><font size=-1>월9 화1, 2            </font></TD>
				<TD align = left><font size=-1>동악-1103, 동악-3109    </font></TD>
				<TD align = center><font size=-1>70</font></TD>
<!--			<TD><font size=-1>48</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>

				<TD align = left>
				<A href=#b640 data-toggle="modal">
				<font size=-1>사회복지와환경             ...</font></TD>
        
				<TD align = center width=64><font size=-1>04488-01</font></TD>
				<TD align = center width=32><font size=-1>1</font></TD>
				<TD align = center width=32><font size=-1>1</font></TD>
        
					<TD align = center width=64><font size=-1>박지영</font></TD>
				
				<TD align = left><font size=-1>목1                  </font></TD>
				<TD align = left><font size=-1>복합-311              </font></TD>
				<TD align = center><font size=-1>60</font></TD>
<!--			<TD><font size=-1>1</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>

				<TD align = left>
				<A href=#b641 data-toggle="modal">
				<font size=-1>사회복지윤리와철학           ...</font></TD>
        
				<TD align = center width=64><font size=-1>00868-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>심상용</font></TD>
				
				<TD align = left><font size=-1>수7, 8, 9            </font></TD>
				<TD align = left><font size=-1>복합-311              </font></TD>
				<TD align = center><font size=-1>60</font></TD>
<!--			<TD><font size=-1>45</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>

				<TD align = left>
				<A href=#b642 data-toggle="modal">
				<font size=-1>사회복지지도감독론           ...</font></TD>
        
				<TD align = center width=64><font size=-1>03172-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>최종길</font></TD>
				
				<TD align = left><font size=-1>금7, 8, 9            </font></TD>
				<TD align = left><font size=-1>동악-1103             </font></TD>
				<TD align = center><font size=-1>60</font></TD>
<!--			<TD><font size=-1>13</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>

				<TD align = left>
				<A href=#b643 data-toggle="modal">
				<font size=-1>사회복지현장실습(2)         ...</font></TD>
        
				<TD align = center width=64><font size=-1>00884-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>김희국</font></TD>
				
				<TD align = left><font size=-1>월7, 8, 9            </font></TD>
				<TD align = left><font size=-1>동악-4102             </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>19</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>

				<TD align = left>
				<A href=#b644 data-toggle="modal">
				<font size=-1>학교사회복지론             ...</font></TD>
        
				<TD align = center width=64><font size=-1>05047-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>박명숙</font></TD>
				
				<TD align = left><font size=-1>화7, 8, 9            </font></TD>
				<TD align = left><font size=-1>동악-3104             </font></TD>
				<TD align = center><font size=-1>60</font></TD>
<!--			<TD><font size=-1>19</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
   </TABLE>






  	</TABLE>

	</CENTER>
	</BODY>
   </HTML>




<!--    <center><font face="돋움" size="3" color="cccccc">ss00803</font></center>-->
  


