<div id="fb-root">
                    <center>
                        <script>
                            (function(d, s, id) {
                                    var js, fjs = d.getElementsByTagName(s)[0];
                                    if (d.getElementById(id)) return;
                                    js = d.createElement(s);
                                    js.id = id;
                                    js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                    fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                        </script>
                        <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=a190" data-numposts="5"></div>
                    </center>
                </div>
                
<div id="fb-root">
<script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) 
      return;
      js = d.createElement(s);
      js.id = id;
      js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
      fjs.parentNode.insertBefore(js, fjs);
    }
    (document, 'script', 'facebook-jssdk'));
</script>
<div class="fb-like" data-href="https://connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852&amp;xfbml=1" data-layout="button_count" data-action="recommend" data-show-faces="false" data-share="false"></div>
</div>

<TD align=c enter><div id="fb-root"></div>
                                            
<script>
        (function(d, s, id) 
        {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); 
          js.id = id;
          js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <div class="fb-like" data-href="https://testtestcrllll-eunchanan.c9users.io/home/rating#a1" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
</TD>