 <!--a1 물리치료학개론  시작 -->
          <div class="modal modal-center fade" id="c33" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>물리치료학개론</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>박소연</center></td>
                        			<td><center>월2, 3, 4</center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=433" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->
    
    <!--a1 인체해부학및실습 시작 -->
          <div class="modal modal-center fade" id="c34" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>인체해부학및실습</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>하성민</center></td>
                        			<td><center>수5, 6 목8, 9</center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=434" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->
    
     <!--a1 일반물리학및실험 시작 -->
          <div class="modal modal-center fade" id="c35" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>일반물리학및실험</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>이현숙</center></td>
                        			<td><center>금5, 6, 7</center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=435" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->
    
       <!--a1 일반생물학 시작 -->
          <div class="modal modal-center fade" id="c36" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>일반생물학</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>이민호</center></td>
                        			<td><center>화8, 9 목1</center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=436" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->
    
     <!--a1 기능해부학및실습 시작 -->
          <div class="modal modal-center fade" id="c37" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>기능해부학및실습</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>박소연</center></td>
                        			<td><center>화7, 8 수7, 8</center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=437" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->

 <!--a1 병리학 시작 -->
          <div class="modal modal-center fade" id="c38" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>병리학</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>정연규</center></td>
                        			<td><center>금5, 6, 7 </center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=438" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->
    
     <!--a1 보건통계학및문헌검색 시작 -->
          <div class="modal modal-center fade" id="c39" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>보건통계학및문헌검색</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>하성민</center></td>
                        			<td><center>금1, 2, 3 </center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=439" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->
    
     <!--a1 신경해부학및실습 시작 -->
          <div class="modal modal-center fade" id="c40" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>신경해부학및실습</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>정연규</center></td>
                        			<td><center>화5, 6 수3, 4 </center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=440" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->
    
        <!--a1 운동생리및처방학 시작 -->
          <div class="modal modal-center fade" id="c41" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>운동생리및처방학</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>박호준</center></td>
                        			<td><center>목1, 2, 3 </center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=441" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->
    
        <!--a1 근·골격계 물리치료학 및 실습  시작 -->
          <div class="modal modal-center fade" id="c42" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>근·골격계 물리치료학 및 실습 </center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>하성민</center></td>
                        			<td><center>수2,3 목5,6  </center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=442" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->
    
     <!--a1 근골격계및신경계질환진단학  시작 -->
          <div class="modal modal-center fade" id="c43" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>근골격계및신경계질환진단학 </center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>하성민</center></td>
                        			<td><center>월7 목1, 2  </center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=443" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->
    
        <!--a1 신경계물리치료학및실습  시작 -->
          <div class="modal modal-center fade" id="c44" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>신경계물리치료학및실습</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>정연규</center></td>
                        			<td><center>화2, 3 금2, 3 </center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=444" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->
    
    
         <!--a1 연구방법론및근거중심물리치료학  시작 -->
          <div class="modal modal-center fade" id="c45" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>연구방법론 및 근거중심 물리치료학</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>박소연</center></td>
                        			<td><center>월8, 9 수9 </center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=445" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->


     <!--a1 응용운동치료학및실습  시작 -->
          <div class="modal modal-center fade" id="c46" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>응용운동치료학및실습</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>박소연</center></td>
                        			<td><center>화5,6 수5,6 </center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=446" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->
    
        <!--a1 근골격계물리치료학임상실습  시작 -->
          <div class="modal modal-center fade" id="c47" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>근골격계 물리치료 임상실습</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>하성민</center></td>
                        			<td><center>화1,2,3,4,5,6,7,8,9 </center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=447" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->
    
     <!--a1 성인물리치료학임상실습  시작 -->
          <div class="modal modal-center fade" id="c48" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>성인물리치료학 임상실습</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>박소연</center></td>
                        			<td><center>금1,2,3,4,5,6,7,8,9</center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=448" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->
    
     <!--a1 순환계물리치료학임상실습  시작 -->
          <div class="modal modal-center fade" id="c49" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>순환계 물리치료학 임상실습</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>박호준</center></td>
                        			<td><center>수1,2,3,4,5,6,7,8,9</center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=449" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->


  <!--a1 신경계물리치료학임상실습  시작 -->
          <div class="modal modal-center fade" id="c50" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>신경계 물리치료학 임상실습</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>정연규</center></td>
                        			<td><center>월1,2,3,4,5,6,7,8,9</center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=450" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->
    
    
     <!--a1 아동물리치료학임상실습  시작 -->
          <div class="modal modal-center fade" id="c51" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>아동물리치료학 임상실습</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>박소연</center></td>
                        			<td><center>목1,2,3,4,5,6,7,8,9</center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=451" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->



<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<META http-equiv=Cache-Control content=no-cache>
<META http-equiv=Expires content=0>
<META http-equiv=Pragma content=no-cache>
<meta http-equiv=Content-Type content="text/html;charset=euc-kr">
<LINK href="./main/util.htm" type=text/css rel=stylesheet>
<META content="MSHTML 6.00.2900.2769" name=GENERATOR>



<!물리치료학과>






<script langauage="javascript"> 
<!-- 
function hidestatus(){ 
window.status='' 
return true 
} 

if (document.layers) 
document.captureEvents(Event.MOUSEOVER | Event.MOUSEOUT) 

document.onmouseover=hidestatus 
document.onmouseout=hidestatus 
//--> 
</script> 

</HEAD>

<STYLE type=text/css>BODY {
	FONT-SIZE: 9pt
}
FONT {
	FONT-SIZE: 9pt; LINE-HEIGHT: 16pt
}
A:link {
	TEXT-DECORATION: none
}
A:visited {
	TEXT-DECORATION: none
}
A:active {
	TEXT-DECORATION: none
}
</STYLE>

 



<!--2006.09.22 추가 park sang chul  -->
 <script language="javascript">
     	  function fnQues(){
// if(alert("교원 및 재학생은 홈페이지를 통하여 로그인 후 사용하세요.")){
 if(confirm("교원 및 재학생은 홈페이지를 통하여 로그인 후 사용하세요. 학적정보로 이동 하시겠습니까?",0)){
  parent.location.href = "http://hakjuk.sangji.ac.kr/index_direct.jsp"
//  parent.location.href = "http://www.sangji.ac.kr"
 }else{
  parent.location.href = "http://www.sangji.ac.kr"
  return;
 }

//	alert("홈페이지 로그인 후 사용하세요.");
//	parent.location.href = "http://www.sangji.ac.kr/user/sangji/sangji.jsp";

}
     </script>
<!------------------------------------->


      <script language="javascript">
//      alert("조교는 학부재학생 웹학적정보를 사용하실수 없습니다. 대학 홈페이지로 이동합니다..301 ");
//      parent.location.href = "http://www.sangji.ac.kr"
      </script> 
	  


<body background ="../main/back.jpg" text="black" link="blue" vlink="blue" alink="blue" onKeyDown="shiftkeydown();">



<!--
--  ***********************************************************************
--  procedure id : (ss00803) 개설과목 select 후 출력 
--  ***********************************************************************
-->

   <HTML>
           <BODY text="black" link="blue" vlink="purple" alink="red">
   <CENTER>
   


           <BODY TEXT="black" LINK="blue" VLINK="purple" ALINK="red">


	<BR>
	        <table BORDER="1"  cellspacing="0" bordercolordark="white" bordercolorlight="black" width="91%">
	<TR> 
           <th bgcolor=#98C4EF  height=20><font size=-1>구분</font></th>
           <th bgcolor=#98C4EF ><font size=-1>학년</font></th>
           <th bgcolor=#98C4EF ><font size=-1>교과목명</font></th>
           <th bgcolor=#98C4EF ><font size=-1>과목코드</font></th>
           <th bgcolor=#98C4EF ><font size=-1>학점</font></th>
           <th bgcolor=#98C4EF ><font size=-1>시간</font></th>
           <th bgcolor=#98C4EF ><font size=-1>교원명</font></th>
           <th bgcolor=#98C4EF ><font size=-1>강좌시간</font></th>
	        <th bgcolor=#98C4EF ><font size=-1>강의실</font></th>
	        <th bgcolor=#98C4EF ><font size=-1>정원</font></th>
<!--	        <th bgcolor=#98C4EF ><font size=-1>현재수강인원</font></th>-->
	        <th bgcolor=#98C4EF ><font size=-1>일반선택</font></th>
   </TR>


				<TR>
				<TD align = center width=32><font size=-1>계기</font></TD>
				<TD align = center width=32><font size=-1>1</font></TD>

				<TD align = left>
				<A href="#c33" data-toggle="modal">
				<font size=-1>물리치료학개론              </font></TD>
        
				<TD align = center width=64><font size=-1>05264-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>박소연</font></TD>
				
				<TD align = left><font size=-1>월2, 3, 4            </font></TD>
				<TD align = left><font size=-1>복합-508              </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>36</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>계기</font></TD>
				<TD align = center width=32><font size=-1>1</font></TD>

				<TD align = left>
				<A href="#c34" data-toggle="modal">
				<font size=-1>인체해부학및실습             </font></TD>
        
				<TD align = center width=64><font size=-1>05263-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>
        
					<TD align = center width=64><font size=-1>하성민</font></TD>
				
				<TD align = left><font size=-1>수5, 6 목8, 9         </font></TD>
				<TD align = left><font size=-1>복합-509              </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>36</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>계기</font></TD>
				<TD align = center width=32><font size=-1>1</font></TD>

				<TD align = left>
				<A href="#c35" data-toggle="modal">
				<font size=-1>일반물리학및실험             </font></TD>
        
				<TD align = center width=64><font size=-1>05096-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>이현숙</font></TD>
				
				<TD align = left><font size=-1>금5, 6, 7            </font></TD>
				<TD align = left><font size=-1>복합-509              </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>32</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>계기</font></TD>
				<TD align = center width=32><font size=-1>1</font></TD>

				<TD align = left>
				<A href="#c36" data-toggle="modal">
				<font size=-1>일반생물학                </font></TD>
        
				<TD align = center width=64><font size=-1>05095-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>이민호</font></TD>
				
				<TD align = left><font size=-1>화8, 9 목1            </font></TD>
				<TD align = left><font size=-1>복합-509              </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>31</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전필</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>

				<TD align = left>
				<A href="#c37" data-toggle="modal">
				<font size=-1>기능해부학및실습             </font></TD>
        
				<TD align = center width=64><font size=-1>05268-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>
        
					<TD align = center width=64><font size=-1>박소연</font></TD>
				
				<TD align = left><font size=-1>화7, 8 수7, 8         </font></TD>
				<TD align = left><font size=-1>복합-508              </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>30</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>

				<TD align = left>
				<A href="#c38" data-toggle="modal">
				<font size=-1>병리학                  </font></TD>
        
				<TD align = center width=64><font size=-1>05270-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>정연규</font></TD>
				
				<TD align = left><font size=-1>금5, 6, 7            </font></TD>
				<TD align = left><font size=-1>복합-508              </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>29</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>

				<TD align = left>
				<A href="#c39" data-toggle="modal">
				<font size=-1>보건통계학및문헌검색           </font></TD>
        
				<TD align = center width=64><font size=-1>05271-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>하성민</font></TD>
				
				<TD align = left><font size=-1>금1, 2, 3            </font></TD>
				<TD align = left><font size=-1>동악-2109             </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>29</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전필</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>

				<TD align = left>
				<A href="#c40" data-toggle="modal">
				<font size=-1>신경해부학및실습             </font></TD>
        
				<TD align = center width=64><font size=-1>05269-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>
        
					<TD align = center width=64><font size=-1>정연규</font></TD>
				
				<TD align = left><font size=-1>화5, 6 수3, 4         </font></TD>
				<TD align = left><font size=-1>복합-508              </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>30</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>

				<TD align = left>
				<A href="#c41" data-toggle="modal">
				<font size=-1>운동생리및처방학             </font></TD>
        
				<TD align = center width=64><font size=-1>05267-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>박호준</font></TD>
				
				<TD align = left><font size=-1>목1, 2, 3            </font></TD>
				<TD align = left><font size=-1>복합-508              </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>29</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전필</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href="#c42" data-toggle="modal">
				<font size=-1>근골격계물리치료학및실습         </font></TD>
        
				<TD align = center width=64><font size=-1>05284-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>
        
					<TD align = center width=64><font size=-1>하성민</font></TD>
				
				<TD align = left><font size=-1>수2,3 목5,6           </font></TD>
				<TD align = left><font size=-1>복합-506              </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>16</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전필</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href="#c43" data-toggle="modal">
				<font size=-1>근골격계및신경계질환진단학        </font></TD>
        
				<TD align = center width=64><font size=-1>05650-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>하성민</font></TD>
				
				<TD align = left><font size=-1>월7 목1, 2            </font></TD>
				<TD align = left><font size=-1>복합-506              </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>16</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전필</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href="#c44" data-toggle="modal">
				<font size=-1>신경계물리치료학및실습          </font></TD>
        
				<TD align = center width=64><font size=-1>05285-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>
        
					<TD align = center width=64><font size=-1>정연규</font></TD>
				
				<TD align = left><font size=-1>화2, 3 금2, 3         </font></TD>
				<TD align = left><font size=-1>복합-508              </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>16</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전필</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href="#c45" data-toggle="modal">
				<font size=-1>연구방법론및근거중심물리치료학      </font></TD>
        
				<TD align = center width=64><font size=-1>05278-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>박소연</font></TD>
				
				<TD align = left><font size=-1>월8, 9 수9            </font></TD>
				<TD align = left><font size=-1>복합-508              </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>16</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전필</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href="#c46" data-toggle="modal">
				<font size=-1>응용운동치료학및실습           </font></TD>
        
				<TD align = center width=64><font size=-1>05277-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>
        
					<TD align = center width=64><font size=-1>박소연</font></TD>
				
				<TD align = left><font size=-1>화5,6 수5,6           </font></TD>
				<TD align = left><font size=-1>복합-506              </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>16</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전필</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>

				<TD align = left>
				<A href="#c47" data-toggle="modal">
				<font size=-1>근골격계물리치료학임상실습        </font></TD>
        
				<TD align = center width=64><font size=-1>05290-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>9</font></TD>
        
					<TD align = center width=64><font size=-1>하성민</font></TD>
				
				<TD align = left><font size=-1>화1,2,3,4,5,6,7,8,9  </font></TD>
				<TD align = left><font size=-1>복합-507              </font></TD>
				<TD align = center><font size=-1>30</font></TD>
<!--			<TD><font size=-1>19</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전필</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>

				<TD align = left>
				<A href="#c48" data-toggle="modal">
				<font size=-1>성인물리치료학임상실습          </font></TD>
        
				<TD align = center width=64><font size=-1>05291-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>9</font></TD>
        
					<TD align = center width=64><font size=-1>박소연</font></TD>
				
				<TD align = left><font size=-1>금1,2,3,4,5,6,7,8,9  </font></TD>
				<TD align = left><font size=-1>복합-507              </font></TD>
				<TD align = center><font size=-1>30</font></TD>
<!--			<TD><font size=-1>19</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전필</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>

				<TD align = left>
				<A href="#c49" data-toggle="modal">
				<font size=-1>순환계물리치료학임상실습         </font></TD>
        
				<TD align = center width=64><font size=-1>05293-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>9</font></TD>
        
					<TD align = center width=64><font size=-1>박호준</font></TD>
				
				<TD align = left><font size=-1>수1,2,3,4,5,6,7,8,9  </font></TD>
				<TD align = left><font size=-1>복합-507              </font></TD>
				<TD align = center><font size=-1>30</font></TD>
<!--			<TD><font size=-1>19</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전필</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>

				<TD align = left>
				<A href="#c50" data-toggle="modal">
				<font size=-1>신경계물리치료학임상실습         </font></TD>
        
				<TD align = center width=64><font size=-1>05289-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>9</font></TD>
        
					<TD align = center width=64><font size=-1>정연규</font></TD>
				
				<TD align = left><font size=-1>월1,2,3,4,5,6,7,8,9  </font></TD>
				<TD align = left><font size=-1>복합-507              </font></TD>
				<TD align = center><font size=-1>30</font></TD>
<!--			<TD><font size=-1>19</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전필</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>

				<TD align = left>
				<A href="#c51" data-toggle="modal">
				<font size=-1>아동물리치료학임상실습          </font></TD>
        
				<TD align = center width=64><font size=-1>05292-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>9</font></TD>
        
					<TD align = center width=64><font size=-1>박소연</font></TD>
				
				<TD align = left><font size=-1>목1,2,3,4,5,6,7,8,9  </font></TD>
				<TD align = left><font size=-1>복합-507              </font></TD>
				<TD align = center><font size=-1>30</font></TD>
<!--			<TD><font size=-1>19</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
   </TABLE>

	<TABLE BORDER=0 WIDTH=700>
	<TR>
		<TD><center>
			<form action="javascript:window.print()"> 
					<input type="submit" value="인   쇄"> 
			</form> 

		</TD>
	</TR>

	<TR>
   <TD><font face="굴림" size="2">▶ 수강편람 수록 교양선택과목 수강제한 필독<br> -.각 전공(학과)에서 개설한 교양선택과목은 소속 학부 및 전공(학과) 전체 학년 학생의 경우 수강할 수 없음(복수전공학과 포함)</font></TD>
  	</TR>
	<TR>
   <TD><font face="굴림" size="2">▶ 전학기까지 이수과목 확인 후 수강신청함(중복수강 금지)</font></TD>
  	</TR>




  	</TABLE>

	</CENTER>
	</BODY>
   </HTML>




<!--    <center><font face="돋움" size="3" color="cccccc">ss00803</font></center>-->
  


