<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<META http-equiv=Cache-Control content=no-cache>
<META http-equiv=Expires content=0>
<META http-equiv=Pragma content=no-cache>
<meta http-equiv=Content-Type content="text/html;charset=euc-kr">
<LINK href="./main/util.htm" type=text/css rel=stylesheet>
<META content="MSHTML 6.00.2900.2769" name=GENERATOR>



<!생활과예술>






<script langauage="javascript"> 
<!-- 
function hidestatus(){ 
window.status='' 
return true 
} 

if (document.layers) 
document.captureEvents(Event.MOUSEOVER | Event.MOUSEOUT) 

document.onmouseover=hidestatus 
document.onmouseout=hidestatus 
//--> 
</script> 

</HEAD>

<STYLE type=text/css>BODY {
	FONT-SIZE: 9pt
}
FONT {
	FONT-SIZE: 9pt; LINE-HEIGHT: 16pt
}
A:link {
	TEXT-DECORATION: none
}
A:visited {
	TEXT-DECORATION: none
}
A:active {
	TEXT-DECORATION: none
}
</STYLE>





<!--2006.09.22 추가 park sang chul  -->
 <script language="javascript">
     	  function fnQues(){
// if(alert("교원 및 재학생은 홈페이지를 통하여 로그인 후 사용하세요.")){
 if(confirm("교원 및 재학생은 홈페이지를 통하여 로그인 후 사용하세요. 학적정보로 이동 하시겠습니까?",0)){
  parent.location.href = "http://hakjuk.sangji.ac.kr/index_direct.jsp"
//  parent.location.href = "http://www.sangji.ac.kr"
 }else{
  parent.location.href = "http://www.sangji.ac.kr"
  return;
 }

//	alert("홈페이지 로그인 후 사용하세요.");
//	parent.location.href = "http://www.sangji.ac.kr/user/sangji/sangji.jsp";

}
     </script>
<!------------------------------------->


      <script language="javascript">
//      alert("조교는 학부재학생 웹학적정보를 사용하실수 없습니다. 대학 홈페이지로 이동합니다..301 ");
//      parent.location.href = "http://www.sangji.ac.kr"
      </script> 
	  


<body background ="../main/back.jpg" text="black" link="blue" vlink="blue" alink="blue" onKeyDown="shiftkeydown();">



<!--
--  ***********************************************************************
--  procedure id : (ss00803) 개설과목 select 후 출력 
--  ***********************************************************************
-->

   <HTML>
           <BODY text="black" link="blue" vlink="purple" alink="red">
   <CENTER>
   


           <BODY TEXT="black" LINK="blue" VLINK="purple" ALINK="red">


	<BR>
	        <table BORDER="1"  cellspacing="0" bordercolordark="white" bordercolorlight="black" width="91%">
	<TR> 
           <th bgcolor=#98C4EF  height=20><font size=-1>구분</font></th>
           <th bgcolor=#98C4EF ><font size=-1>학년</font></th>
           <th bgcolor=#98C4EF ><font size=-1>교과목명</font></th>
           <th bgcolor=#98C4EF ><font size=-1>과목코드</font></th>
           <th bgcolor=#98C4EF ><font size=-1>학점</font></th>
           <th bgcolor=#98C4EF ><font size=-1>시간</font></th>
           <th bgcolor=#98C4EF ><font size=-1>교원명</font></th>
           <th bgcolor=#98C4EF ><font size=-1>강좌시간</font></th>
	        <th bgcolor=#98C4EF ><font size=-1>강의실</font></th>
	        <th bgcolor=#98C4EF ><font size=-1>정원</font></th>
<!--	        <th bgcolor=#98C4EF ><font size=-1>현재수강인원</font></th>-->
	        <th bgcolor=#98C4EF ><font size=-1>일반선택</font></th>
   </TR>


				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="./ss008_ss00804.jsp?wsu15030=00088&wsu15040=01&wsu15180=A09006&hakcode=ZZ144&wtemp=ZZ1000&hakyy=2016&hakgi=1">
					<font size=-1>건강교육                                    </font></a></TD>
        
				<TD align = center width=64><font size=-1>00088-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>이강구</font></TD>
				
				<TD align = left><font size=-1>수1,2,3              &nbsp</font></TD>
				<TD align = left><font size=-1>체육-203              &nbsp</font></TD>
				<TD align = center><font size=-1>100</font></TD>
<!--				<TD align = center><font size=-1>100</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="./ss008_ss00804.jsp?wsu15030=00088&wsu15040=02&wsu15180=A86013&hakcode=ZZ144&wtemp=ZZ1000&hakyy=2016&hakgi=1">
					<font size=-1>건강교육                                    </font></a></TD>
        
				<TD align = center width=64><font size=-1>00088-02</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>하철수</font></TD>
				
				<TD align = left><font size=-1>화1,2,3              &nbsp</font></TD>
				<TD align = left><font size=-1>체육-203              &nbsp</font></TD>
				<TD align = center><font size=-1>100</font></TD>
<!--				<TD align = center><font size=-1>100</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="./ss008_ss00804.jsp?wsu15030=00089&wsu15040=01&wsu15180=D15059&hakcode=ZZ144&wtemp=ZZ1000&hakyy=2016&hakgi=1">
					<font size=-1>결혼과가정                                   </font></a></TD>
        
				<TD align = center width=64><font size=-1>00089-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>김우정</font></TD>
				
				<TD align = left><font size=-1>월7,8,9              &nbsp</font></TD>
				<TD align = left><font size=-1>동악-3102             &nbsp</font></TD>
				<TD align = center><font size=-1>100</font></TD>
<!--				<TD align = center><font size=-1>100</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="./ss008_ss00804.jsp?wsu15030=00233&wsu15040=01&wsu15180=A87004&hakcode=ZZ144&wtemp=ZZ1000&hakyy=2016&hakgi=1">
					<font size=-1>관광의이해                                   </font></a></TD>
        
				<TD align = center width=64><font size=-1>00233-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>한승엽</font></TD>
				
				<TD align = left><font size=-1>월7 수7,8             &nbsp</font></TD>
				<TD align = left><font size=-1>동악-1106             &nbsp</font></TD>
				<TD align = center><font size=-1>180</font></TD>
<!--				<TD align = center><font size=-1>97</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="./ss008_ss00804.jsp?wsu15030=00233&wsu15040=02&wsu15180=A87004&hakcode=ZZ144&wtemp=ZZ1000&hakyy=2016&hakgi=1">
					<font size=-1>관광의이해                                   </font></a></TD>
        
				<TD align = center width=64><font size=-1>00233-02</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>한승엽</font></TD>
				
				<TD align = left><font size=-1>화2,3 목7             &nbsp</font></TD>
				<TD align = left><font size=-1>동악-1106             &nbsp</font></TD>
				<TD align = center><font size=-1>180</font></TD>
<!--				<TD align = center><font size=-1>90</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="./ss008_ss00804.jsp?wsu15030=03699&wsu15040=01&wsu15180=A88005&hakcode=ZZ144&wtemp=ZZ1000&hakyy=2016&hakgi=1">
					<font size=-1>레저스포츠Ⅰ                                  </font></a></TD>
        
				<TD align = center width=64><font size=-1>03699-01</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
        
					<TD align = center width=64><font size=-1>강명학</font></TD>
				
				<TD align = left><font size=-1>월7,8                &nbsp</font></TD>
				<TD align = left><font size=-1>체육-HALL             &nbsp</font></TD>
				<TD align = center><font size=-1>40</font></TD>
<!--				<TD align = center><font size=-1>39</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="./ss008_ss00804.jsp?wsu15030=03699&wsu15040=02&wsu15180=A86009&hakcode=ZZ144&wtemp=ZZ1000&hakyy=2016&hakgi=1">
					<font size=-1>레저스포츠Ⅰ                                  </font></a></TD>
        
				<TD align = center width=64><font size=-1>03699-02</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
        
					<TD align = center width=64><font size=-1>정성국</font></TD>
				
				<TD align = left><font size=-1>화2,3                &nbsp</font></TD>
				<TD align = left><font size=-1>체육-HALL             &nbsp</font></TD>
				<TD align = center><font size=-1>40</font></TD>
<!--				<TD align = center><font size=-1>39</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="./ss008_ss00804.jsp?wsu15030=03699&wsu15040=03&wsu15180=A85006&hakcode=ZZ144&wtemp=ZZ1000&hakyy=2016&hakgi=1">
					<font size=-1>레저스포츠Ⅰ                                  </font></a></TD>
        
				<TD align = center width=64><font size=-1>03699-03</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
        
					<TD align = center width=64><font size=-1>최명수</font></TD>
				
				<TD align = left><font size=-1>수1,2                &nbsp</font></TD>
				<TD align = left><font size=-1>체육-HALL             &nbsp</font></TD>
				<TD align = center><font size=-1>40</font></TD>
<!--				<TD align = center><font size=-1>40</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="./ss008_ss00804.jsp?wsu15030=03699&wsu15040=04&wsu15180=A09007&hakcode=ZZ144&wtemp=ZZ1000&hakyy=2016&hakgi=1">
					<font size=-1>레저스포츠Ⅰ                                  </font></a></TD>
        
				<TD align = center width=64><font size=-1>03699-04</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
        
					<TD align = center width=64><font size=-1>박창범</font></TD>
				
				<TD align = left><font size=-1>화1,2                &nbsp</font></TD>
				<TD align = left><font size=-1>체육-114              &nbsp</font></TD>
				<TD align = center><font size=-1>40</font></TD>
<!--				<TD align = center><font size=-1>40</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="./ss008_ss00804.jsp?wsu15030=03699&wsu15040=05&wsu15180=A05002&hakcode=ZZ144&wtemp=ZZ1000&hakyy=2016&hakgi=1">
					<font size=-1>레저스포츠Ⅰ                                  </font></a></TD>
        
				<TD align = center width=64><font size=-1>03699-05</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
        
					<TD align = center width=64><font size=-1>신승엽</font></TD>
				
				<TD align = left><font size=-1>수2,3                &nbsp</font></TD>
				<TD align = left><font size=-1>체육-114              &nbsp</font></TD>
				<TD align = center><font size=-1>40</font></TD>
<!--				<TD align = center><font size=-1>36</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="./ss008_ss00804.jsp?wsu15030=03699&wsu15040=06&wsu15180=A06011&hakcode=ZZ144&wtemp=ZZ1000&hakyy=2016&hakgi=1">
					<font size=-1>레저스포츠Ⅰ                                  </font></a></TD>
        
				<TD align = center width=64><font size=-1>03699-06</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
        
					<TD align = center width=64><font size=-1>김규태</font></TD>
				
				<TD align = left><font size=-1>목7,8                &nbsp</font></TD>
				<TD align = left><font size=-1>체육-114              &nbsp</font></TD>
				<TD align = center><font size=-1>40</font></TD>
<!--				<TD align = center><font size=-1>39</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="./ss008_ss00804.jsp?wsu15030=05378&wsu15040=01&wsu15180=A12003&hakcode=ZZ144&wtemp=ZZ1000&hakyy=2016&hakgi=1">
					<font size=-1>만화와에니메이션                                </font></a></TD>
        
				<TD align = center width=64><font size=-1>05378-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>한상정</font></TD>
				
				<TD align = left><font size=-1>월7 수1,2             &nbsp</font></TD>
				<TD align = left><font size=-1>동악-1102, 동악-4114    &nbsp</font></TD>
				<TD align = center><font size=-1>80</font></TD>
<!--				<TD align = center><font size=-1>80</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="./ss008_ss00804.jsp?wsu15030=05372&wsu15040=01&wsu15180=A16327&hakcode=ZZ144&wtemp=ZZ1000&hakyy=2016&hakgi=1">
					<font size=-1>미술과사회                                   </font></a></TD>
        
				<TD align = center width=64><font size=-1>05372-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>문미나</font></TD>
				
				<TD align = left><font size=-1>화1,2,3              &nbsp</font></TD>
				<TD align = left><font size=-1>동악-5114             &nbsp</font></TD>
				<TD align = center><font size=-1>100</font></TD>
<!--				<TD align = center><font size=-1>98</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="./ss008_ss00804.jsp?wsu15030=05372&wsu15040=02&wsu15180=A16329&hakcode=ZZ144&wtemp=ZZ1000&hakyy=2016&hakgi=1">
					<font size=-1>미술과사회                                   </font></a></TD>
        
				<TD align = center width=64><font size=-1>05372-02</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>이시종</font></TD>
				
				<TD align = left><font size=-1>금7,8,9              &nbsp</font></TD>
				<TD align = left><font size=-1>동악-4114             &nbsp</font></TD>
				<TD align = center><font size=-1>100</font></TD>
<!--				<TD align = center><font size=-1>80</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="./ss008_ss00804.jsp?wsu15030=05374&wsu15040=01&wsu15180=D14048&hakcode=ZZ144&wtemp=ZZ1000&hakyy=2016&hakgi=1">
					<font size=-1>영화와인생                                   </font></a></TD>
        
				<TD align = center width=64><font size=-1>05374-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>강경표</font></TD>
				
				<TD align = left><font size=-1>수7,8,9              &nbsp</font></TD>
				<TD align = left><font size=-1>체육-203              &nbsp</font></TD>
				<TD align = center><font size=-1>100</font></TD>
<!--				<TD align = center><font size=-1>98</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="./ss008_ss00804.jsp?wsu15030=05374&wsu15040=02&wsu15180=D08103&hakcode=ZZ144&wtemp=ZZ1000&hakyy=2016&hakgi=1">
					<font size=-1>영화와인생                                   </font></a></TD>
        
				<TD align = center width=64><font size=-1>05374-02</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>김범수</font></TD>
				
				<TD align = left><font size=-1>금4,5,6              &nbsp</font></TD>
				<TD align = left><font size=-1>동악-5114             &nbsp</font></TD>
				<TD align = center><font size=-1>100</font></TD>
<!--				<TD align = center><font size=-1>97</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="./ss008_ss00804.jsp?wsu15030=05373&wsu15040=01&wsu15180=A16326&hakcode=ZZ144&wtemp=ZZ1000&hakyy=2016&hakgi=1">
					<font size=-1>음악감성론                                   </font></a></TD>
        
				<TD align = center width=64><font size=-1>05373-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>길정은</font></TD>
				
				<TD align = left><font size=-1>수1,2,3              &nbsp</font></TD>
				<TD align = left><font size=-1>학술-B101             &nbsp</font></TD>
				<TD align = center><font size=-1>100</font></TD>
<!--				<TD align = center><font size=-1>100</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="./ss008_ss00804.jsp?wsu15030=05373&wsu15040=02&wsu15180=A16326&hakcode=ZZ144&wtemp=ZZ1000&hakyy=2016&hakgi=1">
					<font size=-1>음악감성론                                   </font></a></TD>
        
				<TD align = center width=64><font size=-1>05373-02</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>길정은</font></TD>
				
				<TD align = left><font size=-1>월7,8,9              &nbsp</font></TD>
				<TD align = left><font size=-1>학술-B101             &nbsp</font></TD>
				<TD align = center><font size=-1>100</font></TD>
<!--				<TD align = center><font size=-1>98</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="./ss008_ss00804.jsp?wsu15030=05373&wsu15040=03&wsu15180=A16326&hakcode=ZZ144&wtemp=ZZ1000&hakyy=2016&hakgi=1">
					<font size=-1>음악감성론                                   </font></a></TD>
        
				<TD align = center width=64><font size=-1>05373-03</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>길정은</font></TD>
				
				<TD align = left><font size=-1>목7,8,9              &nbsp</font></TD>
				<TD align = left><font size=-1>학술-B101             &nbsp</font></TD>
				<TD align = center><font size=-1>100</font></TD>
<!--				<TD align = center><font size=-1>97</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="./ss008_ss00804.jsp?wsu15030=02535&wsu15040=01&wsu15180=D01010&hakcode=ZZ144&wtemp=ZZ1000&hakyy=2016&hakgi=1">
					<font size=-1>패션의이해                                   </font></a></TD>
        
				<TD align = center width=64><font size=-1>02535-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>김기성</font></TD>
				
				<TD align = left><font size=-1>목7,8,9              &nbsp</font></TD>
				<TD align = left><font size=-1>동악-1108             &nbsp</font></TD>
				<TD align = center><font size=-1>100</font></TD>
<!--				<TD align = center><font size=-1>100</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="./ss008_ss00804.jsp?wsu15030=02535&wsu15040=02&wsu15180=D01010&hakcode=ZZ144&wtemp=ZZ1000&hakyy=2016&hakgi=1">
					<font size=-1>패션의이해                                   </font></a></TD>
        
				<TD align = center width=64><font size=-1>02535-02</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>김기성</font></TD>
				
				<TD align = left><font size=-1>수7,8,9              &nbsp</font></TD>
				<TD align = left><font size=-1>동악-3102             &nbsp</font></TD>
				<TD align = center><font size=-1>100</font></TD>
<!--				<TD align = center><font size=-1>99</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="./ss008_ss00804.jsp?wsu15030=02133&wsu15040=01&wsu15180=D09051&hakcode=ZZ144&wtemp=ZZ1000&hakyy=2016&hakgi=1">
					<font size=-1>한국인의식생활과건강                              </font></a></TD>
        
				<TD align = center width=64><font size=-1>02133-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>김수현</font></TD>
				
				<TD align = left><font size=-1>월7,8,9              &nbsp</font></TD>
				<TD align = left><font size=-1>동악-4108             &nbsp</font></TD>
				<TD align = center><font size=-1>100</font></TD>
<!--				<TD align = center><font size=-1>99</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
   </TABLE>

	<TABLE BORDER=0 WIDTH=700>
	<TR>
		<TD><center>
			<form action="javascript:window.print()"> 
					<input type="submit" value="인   쇄"> 
			</form> 

		</TD>
	</TR>

	<TR>
   <TD><font face="굴림" size="2">▶ 수강편람 수록 교양선택과목 수강제한 필독<br> -.각 전공(학과)에서 개설한 교양선택과목은 소속 학부 및 전공(학과) 전체 학년 학생의 경우 수강할 수 없음(복수전공학과 포함)</font></TD>
  	</TR>
	<TR>
   <TD><font face="굴림" size="2">▶ 전학기까지 이수과목 확인 후 수강신청함(중복수강 금지)</font></TD>
  	</TR>




  	</TABLE>

	</CENTER>
	</BODY>
   </HTML>




<!--    <center><font face="돋움" size="3" color="cccccc">ss00803</font></center>-->
  


