<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<META http-equiv=Cache-Control content=no-cache>
<META http-equiv=Expires content=0>
<META http-equiv=Pragma content=no-cache>
<meta http-equiv=Content-Type content="text/html;charset=euc-kr">
<LINK href="./main/util.htm" type=text/css rel=stylesheet>
<META content="MSHTML 6.00.2900.2769" name=GENERATOR>



<!신에너지,자원공학과>






<script langauage="javascript"> 
<!-- 
function hidestatus(){ 
window.status='' 
return true 
} 

if (document.layers) 
document.captureEvents(Event.MOUSEOVER | Event.MOUSEOUT) 

document.onmouseover=hidestatus 
document.onmouseout=hidestatus 
//--> 
</script> 

</HEAD>

<STYLE type=text/css>BODY {
	FONT-SIZE: 9pt
}
FONT {
	FONT-SIZE: 9pt; LINE-HEIGHT: 16pt
}
A:link {
	TEXT-DECORATION: none
}
A:visited {
	TEXT-DECORATION: none
}
A:active {
	TEXT-DECORATION: none
}
</STYLE>

 



<!--2006.09.22 추가 park sang chul  -->
 <script language="javascript">
     	  function fnQues(){
// if(alert("교원 및 재학생은 홈페이지를 통하여 로그인 후 사용하세요.")){
 if(confirm("교원 및 재학생은 홈페이지를 통하여 로그인 후 사용하세요. 학적정보로 이동 하시겠습니까?",0)){
  parent.location.href = "http://hakjuk.sangji.ac.kr/index_direct.jsp"
//  parent.location.href = "http://www.sangji.ac.kr"
 }else{
  parent.location.href = "http://www.sangji.ac.kr"
  return;
 }

//	alert("홈페이지 로그인 후 사용하세요.");
//	parent.location.href = "http://www.sangji.ac.kr/user/sangji/sangji.jsp";

}
     </script>
<!------------------------------------->


      <script language="javascript">
//      alert("조교는 학부재학생 웹학적정보를 사용하실수 없습니다. 대학 홈페이지로 이동합니다..301 ");
//      parent.location.href = "http://www.sangji.ac.kr"
      </script> 
	  


<body background ="../main/back.jpg" text="black" link="blue" vlink="blue" alink="blue" onKeyDown="shiftkeydown();">



<!--
--  ***********************************************************************
--  procedure id : (ss00803) 개설과목 select 후 출력 
--  ***********************************************************************
-->

   <HTML>
           <BODY text="black" link="blue" vlink="purple" alink="red">
   <CENTER>
   


           <BODY TEXT="black" LINK="blue" VLINK="purple" ALINK="red">


	<BR>
	        <table BORDER="1"  cellspacing="0" bordercolordark="white" bordercolorlight="black" width="91%">
	<TR> 
           <th bgcolor=#98C4EF  height=20><font size=-1>구분</font></th>
           <th bgcolor=#98C4EF ><font size=-1>학년</font></th>
           <th bgcolor=#98C4EF ><font size=-1>교과목명</font></th>
           <th bgcolor=#98C4EF ><font size=-1>과목코드</font></th>
           <th bgcolor=#98C4EF ><font size=-1>학점</font></th>
           <th bgcolor=#98C4EF ><font size=-1>시간</font></th>
           <th bgcolor=#98C4EF ><font size=-1>교원명</font></th>
           <th bgcolor=#98C4EF ><font size=-1>강좌시간</font></th>
	        <th bgcolor=#98C4EF ><font size=-1>강의실</font></th>
	        <th bgcolor=#98C4EF ><font size=-1>정원</font></th>
<!--	        <th bgcolor=#98C4EF ><font size=-1>현재수강인원</font></th>-->
	        <th bgcolor=#98C4EF ><font size=-1>일반선택</font></th>
   </TR>


				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>1</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=01593&wsu15040=01&wsu15180=A08004&hakcode=4S1&wtemp=4S1000&hakyy=2016&hakgi=1">
				<font size=-1>일반화학                ...</font></TD>
        
				<TD align = center width=64><font size=-1>01593-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>김선회</font></TD>
				
				<TD align = left><font size=-1>월2, 3, 4            </font></TD>
				<TD align = left><font size=-1>이공2-201             </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>36</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>계기</font></TD>
				<TD align = center width=32><font size=-1>1</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=01641&wsu15040=01&wsu15180=A94019&hakcode=4S1&wtemp=4S1000&hakyy=2016&hakgi=1">
				<font size=-1>자원공학개론              ...</font></TD>
        
				<TD align = center width=64><font size=-1>01641-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>최원규</font></TD>
				
				<TD align = left><font size=-1>월7, 8, 9            </font></TD>
				<TD align = left><font size=-1>이공2-207             </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>26</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=04940&wsu15040=01&wsu15180=A08004&hakcode=4S1&wtemp=4S1000&hakyy=2016&hakgi=1">
				<font size=-1>물리화학및연습(1)          ...</font></TD>
        
				<TD align = center width=64><font size=-1>04940-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>김선회</font></TD>
				
				<TD align = left><font size=-1>화6, 7 금4            </font></TD>
				<TD align = left><font size=-1>이공2-201             </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>16</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=05715&wsu15040=01&wsu15180=F15002&hakcode=4S1&wtemp=4S1000&hakyy=2016&hakgi=1">
				<font size=-1>암석학및실험              ...</font></TD>
        
				<TD align = center width=64><font size=-1>05715-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>송석진</font></TD>
				
				<TD align = left><font size=-1>월2, 3, 4            </font></TD>
				<TD align = left><font size=-1>이공2-207             </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>21</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=05110&wsu15040=01&wsu15180=A15905&hakcode=4S1&wtemp=4S1000&hakyy=2016&hakgi=1">
				<font size=-1>에너지양론               ...</font></TD>
        
				<TD align = center width=64><font size=-1>05110-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>
        
					<TD align = center width=64><font size=-1>추천호</font></TD>
				
				<TD align = left><font size=-1>수2, 3, 4, 5         </font></TD>
				<TD align = left><font size=-1>이공2-201             </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>20</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=01891&wsu15040=01&wsu15180=A85010&hakcode=4S1&wtemp=4S1000&hakyy=2016&hakgi=1">
				<font size=-1>지질학및실습              ...</font></TD>
        
				<TD align = center width=64><font size=-1>01891-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>김세현</font></TD>
				
				<TD align = left><font size=-1>화2, 3 목6            </font></TD>
				<TD align = left><font size=-1>이공2-201             </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>19</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=05716&wsu15040=01&wsu15180=F14002&hakcode=4S1&wtemp=4S1000&hakyy=2016&hakgi=1">
				<font size=-1>해양학개론               ...</font></TD>
        
				<TD align = center width=64><font size=-1>05716-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>강정극</font></TD>
				
				<TD align = left><font size=-1>수7, 8, 9            </font></TD>
				<TD align = left><font size=-1>이공2-201             </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>20</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=04706&wsu15040=01&wsu15180=A94019&hakcode=4S1&wtemp=4S1000&hakyy=2016&hakgi=1">
				<font size=-1>공업논리및논술             ...</font></TD>
        
				<TD align = center width=64><font size=-1>04706-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>최원규</font></TD>
				
				<TD align = left><font size=-1>수5 금6, 7            </font></TD>
				<TD align = left><font size=-1>이공2-207             </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>15</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=05720&wsu15040=01&wsu15180=A94019&hakcode=4S1&wtemp=4S1000&hakyy=2016&hakgi=1">
				<font size=-1>광산보안및실습             ...</font></TD>
        
				<TD align = center width=64><font size=-1>05720-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>최원규</font></TD>
				
				<TD align = left><font size=-1>수1, 2 목3            </font></TD>
				<TD align = left><font size=-1>이공2-207             </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>19</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=00299&wsu15040=01&wsu15180=A85010&hakcode=4S1&wtemp=4S1000&hakyy=2016&hakgi=1">
				<font size=-1>구조지질학               ...</font></TD>
        
				<TD align = center width=64><font size=-1>00299-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>김세현</font></TD>
				
				<TD align = left><font size=-1>화5, 6 금4            </font></TD>
				<TD align = left><font size=-1>이공2-202             </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>21</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=03260&wsu15040=01&wsu15180=A06932&hakcode=4S1&wtemp=4S1000&hakyy=2016&hakgi=1">
				<font size=-1>발파공학및실습             ...</font></TD>
        
				<TD align = center width=64><font size=-1>03260-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>
        
					<TD align = center width=64><font size=-1>심동수</font></TD>
				
				<TD align = left><font size=-1>월1, 2, 3, 4         </font></TD>
				<TD align = left><font size=-1>이공2-202             </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>17</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=01220&wsu15040=01&wsu15180=D14008&hakcode=4S1&wtemp=4S1000&hakyy=2016&hakgi=1">
				<font size=-1>암석역학및실험             ...</font></TD>
        
				<TD align = center width=64><font size=-1>01220-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>정병호</font></TD>
				
				<TD align = left><font size=-1>금1, 2, 3            </font></TD>
				<TD align = left><font size=-1>이공2-202             </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>6</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전필</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=04942&wsu15040=01&wsu15180=A08004&hakcode=4S1&wtemp=4S1000&hakyy=2016&hakgi=1">
				<font size=-1>에너지열역학              ...</font></TD>
        
				<TD align = center width=64><font size=-1>04942-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>김선회</font></TD>
				
				<TD align = left><font size=-1>화9 목5, 6            </font></TD>
				<TD align = left><font size=-1>이공2-202             </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>21</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=05596&wsu15040=01&wsu15180=D14073&hakcode=4S1&wtemp=4S1000&hakyy=2016&hakgi=1">
				<font size=-1>열및물질전달              ...</font></TD>
        
				<TD align = center width=64><font size=-1>05596-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>
        
					<TD align = center width=64><font size=-1>전길송</font></TD>
				
				<TD align = left><font size=-1>화1, 2, 3, 4         </font></TD>
				<TD align = left><font size=-1>이공2-202             </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>9</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전필</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=05593&wsu15040=01&wsu15180=A85010&hakcode=4S1&wtemp=4S1000&hakyy=2016&hakgi=1">
				<font size=-1>광해방지공학및실습           ...</font></TD>
        
				<TD align = center width=64><font size=-1>05593-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>김세현</font></TD>
				
				<TD align = left><font size=-1>수1, 2 목2            </font></TD>
				<TD align = left><font size=-1>이공2-202             </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>24</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=04775&wsu15040=01&wsu15180=A94019&hakcode=4S1&wtemp=4S1000&hakyy=2016&hakgi=1">
				<font size=-1>석유개발공학및실습           ...</font></TD>
        
				<TD align = center width=64><font size=-1>04775-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>최원규</font></TD>
				
				<TD align = left><font size=-1>금1, 2, 3            </font></TD>
				<TD align = left><font size=-1>이공2-207             </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>15</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=05011&wsu15040=01&wsu15180=A08004&hakcode=4S1&wtemp=4S1000&hakyy=2016&hakgi=1">
				<font size=-1>시스템전기화학공학           ...</font></TD>
        
				<TD align = center width=64><font size=-1>05011-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>
        
					<TD align = center width=64><font size=-1>김선회</font></TD>
				
				<TD align = left><font size=-1>월7, 8 수8, 9         </font></TD>
				<TD align = left><font size=-1>이공2-202             </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>13</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
   </TABLE>

	<TABLE BORDER=0 WIDTH=700>
	<TR>
		<TD><center>
			<form action="javascript:window.print()"> 
					<input type="submit" value="인   쇄"> 
			</form> 

		</TD>
	</TR>

	<TR>
   <TD><font face="굴림" size="2">▶ 수강편람 수록 교양선택과목 수강제한 필독<br> -.각 전공(학과)에서 개설한 교양선택과목은 소속 학부 및 전공(학과) 전체 학년 학생의 경우 수강할 수 없음(복수전공학과 포함)</font></TD>
  	</TR>
	<TR>
   <TD><font face="굴림" size="2">▶ 전학기까지 이수과목 확인 후 수강신청함(중복수강 금지)</font></TD>
  	</TR>




  	</TABLE>

	</CENTER>
	</BODY>
   </HTML>




<!--    <center><font face="돋움" size="3" color="cccccc">ss00803</font></center>-->
  


