<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<META http-equiv=Cache-Control content=no-cache>
<META http-equiv=Expires content=0>
<META http-equiv=Pragma content=no-cache>
<meta http-equiv=Content-Type content="text/html;charset=euc-kr">
<LINK href="./main/util.htm" type=text/css rel=stylesheet>
<META content="MSHTML 6.00.2900.2769" name=GENERATOR>


<!실용외국어>







<script langauage="javascript"> 
<!-- 
function hidestatus(){ 
window.status='' 
return true 
} 

if (document.layers) 
document.captureEvents(Event.MOUSEOVER | Event.MOUSEOUT) 

document.onmouseover=hidestatus 
document.onmouseout=hidestatus 
//--> 
</script> 

</HEAD>

<STYLE type=text/css>BODY {
	FONT-SIZE: 9pt
}
FONT {
	FONT-SIZE: 9pt; LINE-HEIGHT: 16pt
}
A:link {
	TEXT-DECORATION: none
}
A:visited {
	TEXT-DECORATION: none
}
A:active {
	TEXT-DECORATION: none
}
</STYLE>





<!--2006.09.22 추가 park sang chul  -->
 <script language="javascript">
     	  function fnQues(){
// if(alert("교원 및 재학생은 홈페이지를 통하여 로그인 후 사용하세요.")){
 if(confirm("교원 및 재학생은 홈페이지를 통하여 로그인 후 사용하세요. 학적정보로 이동 하시겠습니까?",0)){
  parent.location.href = "http://hakjuk.sangji.ac.kr/index_direct.jsp"
//  parent.location.href = "http://www.sangji.ac.kr"
 }else{
  parent.location.href = "http://www.sangji.ac.kr"
  return;
 }

//	alert("홈페이지 로그인 후 사용하세요.");
//	parent.location.href = "http://www.sangji.ac.kr/user/sangji/sangji.jsp";

}
     </script>
<!------------------------------------->


      <script language="javascript">
//      alert("조교는 학부재학생 웹학적정보를 사용하실수 없습니다. 대학 홈페이지로 이동합니다..301 ");
//      parent.location.href = "http://www.sangji.ac.kr"
      </script> 
	  


<body background ="../main/back.jpg" text="black" link="blue" vlink="blue" alink="blue" onKeyDown="shiftkeydown();">



<!--
--  ***********************************************************************
--  procedure id : (ss00803) 개설과목 select 후 출력 
--  ***********************************************************************
-->

   <HTML>
           <BODY text="black" link="blue" vlink="purple" alink="red">
   <CENTER>
   


           <BODY TEXT="black" LINK="blue" VLINK="purple" ALINK="red">


	<BR>
	        <table BORDER="1"  cellspacing="0" bordercolordark="white" bordercolorlight="black" width="91%">
	<TR> 
           <th bgcolor=#98C4EF  height=20><font size=-1>구분</font></th>
           <th bgcolor=#98C4EF ><font size=-1>학년</font></th>
           <th bgcolor=#98C4EF ><font size=-1>교과목명</font></th>
           <th bgcolor=#98C4EF ><font size=-1>과목코드</font></th>
           <th bgcolor=#98C4EF ><font size=-1>학점</font></th>
           <th bgcolor=#98C4EF ><font size=-1>시간</font></th>
           <th bgcolor=#98C4EF ><font size=-1>교원명</font></th>
           <th bgcolor=#98C4EF ><font size=-1>강좌시간</font></th>
	        <th bgcolor=#98C4EF ><font size=-1>강의실</font></th>
	        <th bgcolor=#98C4EF ><font size=-1>정원</font></th>
<!--	        <th bgcolor=#98C4EF ><font size=-1>현재수강인원</font></th>-->
	        <th bgcolor=#98C4EF ><font size=-1>일반선택</font></th>
   </TR>


				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="./ss008_ss00804.jsp?wsu15030=02538&wsu15040=01&wsu15180=A10201&hakcode=ZZ148&wtemp=ZZ1000&hakyy=2016&hakgi=1">
					<font size=-1>실용영작문초급                                 </font></a></TD>
        
				<TD align = center width=64><font size=-1>02538-01</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
        
					<TD align = center width=64><font size=-1>나리도</font></TD>
				
				<TD align = left><font size=-1>월8,9                &nbsp</font></TD>
				<TD align = left><font size=-1>동악-4111             &nbsp</font></TD>
				<TD align = center><font size=-1>20</font></TD>
<!--				<TD align = center><font size=-1>17</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="./ss008_ss00804.jsp?wsu15030=02538&wsu15040=02&wsu15180=A10202&hakcode=ZZ148&wtemp=ZZ1000&hakyy=2016&hakgi=1">
					<font size=-1>실용영작문초급                                 </font></a></TD>
        
				<TD align = center width=64><font size=-1>02538-02</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
        
					<TD align = center width=64><font size=-1>월터</font></TD>
				
				<TD align = left><font size=-1>금4,5                &nbsp</font></TD>
				<TD align = left><font size=-1>동악-1105             &nbsp</font></TD>
				<TD align = center><font size=-1>20</font></TD>
<!--				<TD align = center><font size=-1>15</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="./ss008_ss00804.jsp?wsu15030=02538&wsu15040=03&wsu15180=A10201&hakcode=ZZ148&wtemp=ZZ1000&hakyy=2016&hakgi=1">
					<font size=-1>실용영작문초급                                 </font></a></TD>
        
				<TD align = center width=64><font size=-1>02538-03</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
        
					<TD align = center width=64><font size=-1>나리도</font></TD>
				
				<TD align = left><font size=-1>수2,3                &nbsp</font></TD>
				<TD align = left><font size=-1>동악-4113             &nbsp</font></TD>
				<TD align = center><font size=-1>20</font></TD>
<!--				<TD align = center><font size=-1>18</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="./ss008_ss00804.jsp?wsu15030=02538&wsu15040=04&wsu15180=A10201&hakcode=ZZ148&wtemp=ZZ1000&hakyy=2016&hakgi=1">
					<font size=-1>실용영작문초급                                 </font></a></TD>
        
				<TD align = center width=64><font size=-1>02538-04</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
        
					<TD align = center width=64><font size=-1>나리도</font></TD>
				
				<TD align = left><font size=-1>목7,8                &nbsp</font></TD>
				<TD align = left><font size=-1>동악-2107             &nbsp</font></TD>
				<TD align = center><font size=-1>20</font></TD>
<!--				<TD align = center><font size=-1>20</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="./ss008_ss00804.jsp?wsu15030=01190&wsu15040=01&wsu15180=A84004&hakcode=ZZ148&wtemp=ZZ1000&hakyy=2016&hakgi=1">
					<font size=-1>실용한문                                    </font></a></TD>
        
				<TD align = center width=64><font size=-1>01190-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>곽진</font></TD>
				
				<TD align = left><font size=-1>수1,2,3              &nbsp</font></TD>
				<TD align = left><font size=-1>동악-1102             &nbsp</font></TD>
				<TD align = center><font size=-1>80</font></TD>
<!--				<TD align = center><font size=-1>72</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="./ss008_ss00804.jsp?wsu15030=01190&wsu15040=02&wsu15180=D14024&hakcode=ZZ148&wtemp=ZZ1000&hakyy=2016&hakgi=1">
					<font size=-1>실용한문                                    </font></a></TD>
        
				<TD align = center width=64><font size=-1>01190-02</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>권진용</font></TD>
				
				<TD align = left><font size=-1>수7,8,9              &nbsp</font></TD>
				<TD align = left><font size=-1>동악-1103             &nbsp</font></TD>
				<TD align = center><font size=-1>80</font></TD>
<!--				<TD align = center><font size=-1>72</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="./ss008_ss00804.jsp?wsu15030=03909&wsu15040=01&wsu15180=D13013&hakcode=ZZ148&wtemp=ZZ1000&hakyy=2016&hakgi=1">
					<font size=-1>영문법의이해                                  </font></a></TD>
        
				<TD align = center width=64><font size=-1>03909-01</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
        
					<TD align = center width=64><font size=-1>이철희</font></TD>
				
				<TD align = left><font size=-1>금6,7                &nbsp</font></TD>
				<TD align = left><font size=-1>동악-1102             &nbsp</font></TD>
				<TD align = center><font size=-1>80</font></TD>
<!--				<TD align = center><font size=-1>35</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="./ss008_ss00804.jsp?wsu15030=03909&wsu15040=02&wsu15180=D13013&hakcode=ZZ148&wtemp=ZZ1000&hakyy=2016&hakgi=1">
					<font size=-1>영문법의이해                                  </font></a></TD>
        
				<TD align = center width=64><font size=-1>03909-02</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
        
					<TD align = center width=64><font size=-1>이철희</font></TD>
				
				<TD align = left><font size=-1>금8,9                &nbsp</font></TD>
				<TD align = left><font size=-1>동악-1102             &nbsp</font></TD>
				<TD align = center><font size=-1>80</font></TD>
<!--				<TD align = center><font size=-1>26</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="./ss008_ss00804.jsp?wsu15030=03909&wsu15040=03&wsu15180=A16818&hakcode=ZZ148&wtemp=ZZ1000&hakyy=2016&hakgi=1">
					<font size=-1>영문법의이해                                  </font></a></TD>
        
				<TD align = center width=64><font size=-1>03909-03</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
        
					<TD align = center width=64><font size=-1>홍순태</font></TD>
				
				<TD align = left><font size=-1>월8,9                &nbsp</font></TD>
				<TD align = left><font size=-1>동악-1102             &nbsp</font></TD>
				<TD align = center><font size=-1>80</font></TD>
<!--				<TD align = center><font size=-1>42</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="./ss008_ss00804.jsp?wsu15030=01340&wsu15040=01&wsu15180=D13013&hakcode=ZZ148&wtemp=ZZ1000&hakyy=2016&hakgi=1">
					<font size=-1>영어독해                                    </font></a></TD>
        
				<TD align = center width=64><font size=-1>01340-01</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
        
					<TD align = center width=64><font size=-1>이철희</font></TD>
				
				<TD align = left><font size=-1>월8,9                &nbsp</font></TD>
				<TD align = left><font size=-1>동악-4103             &nbsp</font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--				<TD align = center><font size=-1>53</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="./ss008_ss00804.jsp?wsu15030=01340&wsu15040=02&wsu15180=A06102&hakcode=ZZ148&wtemp=ZZ1000&hakyy=2016&hakgi=1">
					<font size=-1>영어독해                                    </font></a></TD>
        
				<TD align = center width=64><font size=-1>01340-02</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
        
					<TD align = center width=64><font size=-1>구태헌</font></TD>
				
				<TD align = left><font size=-1>수2,3                &nbsp</font></TD>
				<TD align = left><font size=-1>동악-2112             &nbsp</font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--				<TD align = center><font size=-1>54</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="./ss008_ss00804.jsp?wsu15030=01340&wsu15040=03&wsu15180=D97024&hakcode=ZZ148&wtemp=ZZ1000&hakyy=2016&hakgi=1">
					<font size=-1>영어독해                                    </font></a></TD>
        
				<TD align = center width=64><font size=-1>01340-03</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
        
					<TD align = center width=64><font size=-1>이영애</font></TD>
				
				<TD align = left><font size=-1>수2,3                &nbsp</font></TD>
				<TD align = left><font size=-1>동악-4111             &nbsp</font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--				<TD align = center><font size=-1>52</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="./ss008_ss00804.jsp?wsu15030=01340&wsu15040=04&wsu15180=D97024&hakcode=ZZ148&wtemp=ZZ1000&hakyy=2016&hakgi=1">
					<font size=-1>영어독해                                    </font></a></TD>
        
				<TD align = center width=64><font size=-1>01340-04</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
        
					<TD align = center width=64><font size=-1>이영애</font></TD>
				
				<TD align = left><font size=-1>수7,8                &nbsp</font></TD>
				<TD align = left><font size=-1>동악-1108             &nbsp</font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--				<TD align = center><font size=-1>51</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="./ss008_ss00804.jsp?wsu15030=01340&wsu15040=05&wsu15180=A16818&hakcode=ZZ148&wtemp=ZZ1000&hakyy=2016&hakgi=1">
					<font size=-1>영어독해                                    </font></a></TD>
        
				<TD align = center width=64><font size=-1>01340-05</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
        
					<TD align = center width=64><font size=-1>홍순태</font></TD>
				
				<TD align = left><font size=-1>금4,5                &nbsp</font></TD>
				<TD align = left><font size=-1>동악-2111             &nbsp</font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--				<TD align = center><font size=-1>42</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="./ss008_ss00804.jsp?wsu15030=02889&wsu15040=01&wsu15180=D13013&hakcode=ZZ148&wtemp=ZZ1000&hakyy=2016&hakgi=1">
					<font size=-1>영화와영어연습                                 </font></a></TD>
        
				<TD align = center width=64><font size=-1>02889-01</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
        
					<TD align = center width=64><font size=-1>이철희</font></TD>
				
				<TD align = left><font size=-1>금4,5                &nbsp</font></TD>
				<TD align = left><font size=-1>동악-1101             &nbsp</font></TD>
				<TD align = center><font size=-1>50</font></TD>
<!--				<TD align = center><font size=-1>49</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="./ss008_ss00804.jsp?wsu15030=02889&wsu15040=02&wsu15180=A16818&hakcode=ZZ148&wtemp=ZZ1000&hakyy=2016&hakgi=1">
					<font size=-1>영화와영어연습                                 </font></a></TD>
        
				<TD align = center width=64><font size=-1>02889-02</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
        
					<TD align = center width=64><font size=-1>홍순태</font></TD>
				
				<TD align = left><font size=-1>금6,7                &nbsp</font></TD>
				<TD align = left><font size=-1>동악-1104             &nbsp</font></TD>
				<TD align = center><font size=-1>50</font></TD>
<!--				<TD align = center><font size=-1>38</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="./ss008_ss00804.jsp?wsu15030=02889&wsu15040=03&wsu15180=A16818&hakcode=ZZ148&wtemp=ZZ1000&hakyy=2016&hakgi=1">
					<font size=-1>영화와영어연습                                 </font></a></TD>
        
				<TD align = center width=64><font size=-1>02889-03</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
        
					<TD align = center width=64><font size=-1>홍순태</font></TD>
				
				<TD align = left><font size=-1>금8,9                &nbsp</font></TD>
				<TD align = left><font size=-1>동악-2104             &nbsp</font></TD>
				<TD align = center><font size=-1>50</font></TD>
<!--				<TD align = center><font size=-1>44</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="./ss008_ss00804.jsp?wsu15030=04747&wsu15040=01&wsu15180=D11043&hakcode=ZZ148&wtemp=ZZ1000&hakyy=2016&hakgi=1">
					<font size=-1>인도네시아어                                  </font></a></TD>
        
				<TD align = center width=64><font size=-1>04747-01</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
        
					<TD align = center width=64><font size=-1>이승혜</font></TD>
				
				<TD align = left><font size=-1>금3,4                &nbsp</font></TD>
				<TD align = left><font size=-1>식물-208              &nbsp</font></TD>
				<TD align = center><font size=-1>40</font></TD>
<!--				<TD align = center><font size=-1>15</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="./ss008_ss00804.jsp?wsu15030=02887&wsu15040=01&wsu15180=A14202&hakcode=ZZ148&wtemp=ZZ1000&hakyy=2016&hakgi=1">
					<font size=-1>중급영어회화(1)                               </font></a></TD>
        
				<TD align = center width=64><font size=-1>02887-01</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
        
					<TD align = center width=64><font size=-1>포티어스</font></TD>
				
				<TD align = left><font size=-1>금4,5                &nbsp</font></TD>
				<TD align = left><font size=-1>동악-4112             &nbsp</font></TD>
				<TD align = center><font size=-1>20</font></TD>
<!--				<TD align = center><font size=-1>9</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="./ss008_ss00804.jsp?wsu15030=02887&wsu15040=02&wsu15180=A14202&hakcode=ZZ148&wtemp=ZZ1000&hakyy=2016&hakgi=1">
					<font size=-1>중급영어회화(1)                               </font></a></TD>
        
				<TD align = center width=64><font size=-1>02887-02</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
        
					<TD align = center width=64><font size=-1>포티어스</font></TD>
				
				<TD align = left><font size=-1>금7,8                &nbsp</font></TD>
				<TD align = left><font size=-1>동악-2103             &nbsp</font></TD>
				<TD align = center><font size=-1>20</font></TD>
<!--				<TD align = center><font size=-1>6</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="./ss008_ss00804.jsp?wsu15030=01865&wsu15040=01&wsu15180=A02003&hakcode=ZZ148&wtemp=ZZ1000&hakyy=2016&hakgi=1">
					<font size=-1>중급중국어(1)                                </font></a></TD>
        
				<TD align = center width=64><font size=-1>01865-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>박장재</font></TD>
				
				<TD align = left><font size=-1>수1,2,3              &nbsp</font></TD>
				<TD align = left><font size=-1>체육-202              &nbsp</font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--				<TD align = center><font size=-1>0</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="./ss008_ss00804.jsp?wsu15030=01865&wsu15040=02&wsu15180=A16808&hakcode=ZZ148&wtemp=ZZ1000&hakyy=2016&hakgi=1">
					<font size=-1>중급중국어(1)                                </font></a></TD>
        
				<TD align = center width=64><font size=-1>01865-02</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>유영옥</font></TD>
				
				<TD align = left><font size=-1>수1,2,3              &nbsp</font></TD>
				<TD align = left><font size=-1>동악-2101             &nbsp</font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--				<TD align = center><font size=-1>15</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="./ss008_ss00804.jsp?wsu15030=02885&wsu15040=01&wsu15180=A10201&hakcode=ZZ148&wtemp=ZZ1000&hakyy=2016&hakgi=1">
					<font size=-1>초급영어회화(1)                               </font></a></TD>
        
				<TD align = center width=64><font size=-1>02885-01</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
        
					<TD align = center width=64><font size=-1>나리도</font></TD>
				
				<TD align = left><font size=-1>수8,9                &nbsp</font></TD>
				<TD align = left><font size=-1>동악-4113             &nbsp</font></TD>
				<TD align = center><font size=-1>20</font></TD>
<!--				<TD align = center><font size=-1>20</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="./ss008_ss00804.jsp?wsu15030=02885&wsu15040=02&wsu15180=A10202&hakcode=ZZ148&wtemp=ZZ1000&hakyy=2016&hakgi=1">
					<font size=-1>초급영어회화(1)                               </font></a></TD>
        
				<TD align = center width=64><font size=-1>02885-02</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
        
					<TD align = center width=64><font size=-1>월터</font></TD>
				
				<TD align = left><font size=-1>월7,8                &nbsp</font></TD>
				<TD align = left><font size=-1>동악-2107             &nbsp</font></TD>
				<TD align = center><font size=-1>20</font></TD>
<!--				<TD align = center><font size=-1>20</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="./ss008_ss00804.jsp?wsu15030=02885&wsu15040=03&wsu15180=A10201&hakcode=ZZ148&wtemp=ZZ1000&hakyy=2016&hakgi=1">
					<font size=-1>초급영어회화(1)                               </font></a></TD>
        
				<TD align = center width=64><font size=-1>02885-03</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
        
					<TD align = center width=64><font size=-1>나리도</font></TD>
				
				<TD align = left><font size=-1>화2,3                &nbsp</font></TD>
				<TD align = left><font size=-1>동악-4111             &nbsp</font></TD>
				<TD align = center><font size=-1>20</font></TD>
<!--				<TD align = center><font size=-1>20</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="./ss008_ss00804.jsp?wsu15030=02885&wsu15040=04&wsu15180=A10202&hakcode=ZZ148&wtemp=ZZ1000&hakyy=2016&hakgi=1">
					<font size=-1>초급영어회화(1)                               </font></a></TD>
        
				<TD align = center width=64><font size=-1>02885-04</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
        
					<TD align = center width=64><font size=-1>월터</font></TD>
				
				<TD align = left><font size=-1>금7,8                &nbsp</font></TD>
				<TD align = left><font size=-1>동악-2108             &nbsp</font></TD>
				<TD align = center><font size=-1>20</font></TD>
<!--				<TD align = center><font size=-1>16</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="./ss008_ss00804.jsp?wsu15030=02885&wsu15040=05&wsu15180=A14201&hakcode=ZZ148&wtemp=ZZ1000&hakyy=2016&hakgi=1">
					<font size=-1>초급영어회화(1)                               </font></a></TD>
        
				<TD align = center width=64><font size=-1>02885-05</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
        
					<TD align = center width=64><font size=-1>캠피가또</font></TD>
				
				<TD align = left><font size=-1>수2,3                &nbsp</font></TD>
				<TD align = left><font size=-1>동악-5112             &nbsp</font></TD>
				<TD align = center><font size=-1>20</font></TD>
<!--				<TD align = center><font size=-1>18</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="./ss008_ss00804.jsp?wsu15030=02885&wsu15040=06&wsu15180=A14201&hakcode=ZZ148&wtemp=ZZ1000&hakyy=2016&hakgi=1">
					<font size=-1>초급영어회화(1)                               </font></a></TD>
        
				<TD align = center width=64><font size=-1>02885-06</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
        
					<TD align = center width=64><font size=-1>캠피가또</font></TD>
				
				<TD align = left><font size=-1>수7,8                &nbsp</font></TD>
				<TD align = left><font size=-1>동악-2108             &nbsp</font></TD>
				<TD align = center><font size=-1>20</font></TD>
<!--				<TD align = center><font size=-1>19</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="./ss008_ss00804.jsp?wsu15030=02885&wsu15040=07&wsu15180=A14201&hakcode=ZZ148&wtemp=ZZ1000&hakyy=2016&hakgi=1">
					<font size=-1>초급영어회화(1)                               </font></a></TD>
        
				<TD align = center width=64><font size=-1>02885-07</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
        
					<TD align = center width=64><font size=-1>캠피가또</font></TD>
				
				<TD align = left><font size=-1>목7,8                &nbsp</font></TD>
				<TD align = left><font size=-1>동악-2108             &nbsp</font></TD>
				<TD align = center><font size=-1>20</font></TD>
<!--				<TD align = center><font size=-1>19</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="./ss008_ss00804.jsp?wsu15030=02885&wsu15040=08&wsu15180=A14201&hakcode=ZZ148&wtemp=ZZ1000&hakyy=2016&hakgi=1">
					<font size=-1>초급영어회화(1)                               </font></a></TD>
        
				<TD align = center width=64><font size=-1>02885-08</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
        
					<TD align = center width=64><font size=-1>캠피가또</font></TD>
				
				<TD align = left><font size=-1>금4,5                &nbsp</font></TD>
				<TD align = left><font size=-1>동악-2101             &nbsp</font></TD>
				<TD align = center><font size=-1>20</font></TD>
<!--				<TD align = center><font size=-1>15</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="./ss008_ss00804.jsp?wsu15030=02885&wsu15040=09&wsu15180=A14201&hakcode=ZZ148&wtemp=ZZ1000&hakyy=2016&hakgi=1">
					<font size=-1>초급영어회화(1)                               </font></a></TD>
        
				<TD align = center width=64><font size=-1>02885-09</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
        
					<TD align = center width=64><font size=-1>캠피가또</font></TD>
				
				<TD align = left><font size=-1>금7,8                &nbsp</font></TD>
				<TD align = left><font size=-1>동악-2107             &nbsp</font></TD>
				<TD align = center><font size=-1>20</font></TD>
<!--				<TD align = center><font size=-1>14</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="./ss008_ss00804.jsp?wsu15030=02885&wsu15040=10&wsu15180=A14202&hakcode=ZZ148&wtemp=ZZ1000&hakyy=2016&hakgi=1">
					<font size=-1>초급영어회화(1)                               </font></a></TD>
        
				<TD align = center width=64><font size=-1>02885-10</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
        
					<TD align = center width=64><font size=-1>포티어스</font></TD>
				
				<TD align = left><font size=-1>수2,3                &nbsp</font></TD>
				<TD align = left><font size=-1>동악-4112             &nbsp</font></TD>
				<TD align = center><font size=-1>20</font></TD>
<!--				<TD align = center><font size=-1>16</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="./ss008_ss00804.jsp?wsu15030=01955&wsu15040=01&wsu15180=A84007&hakcode=ZZ148&wtemp=ZZ1000&hakyy=2016&hakgi=1">
					<font size=-1>초급중국어(1)                                </font></a></TD>
        
				<TD align = center width=64><font size=-1>01955-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>이상은</font></TD>
				
				<TD align = left><font size=-1>월7 수1,2             &nbsp</font></TD>
				<TD align = left><font size=-1>동악-1101             &nbsp</font></TD>
				<TD align = center><font size=-1>60</font></TD>
<!--				<TD align = center><font size=-1>26</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="./ss008_ss00804.jsp?wsu15030=01955&wsu15040=02&wsu15180=A99001&hakcode=ZZ148&wtemp=ZZ1000&hakyy=2016&hakgi=1">
					<font size=-1>초급중국어(1)                                </font></a></TD>
        
				<TD align = center width=64><font size=-1>01955-02</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>박균우</font></TD>
				
				<TD align = left><font size=-1>월7,8 목1             &nbsp</font></TD>
				<TD align = left><font size=-1>동악-1103             &nbsp</font></TD>
				<TD align = center><font size=-1>60</font></TD>
<!--				<TD align = center><font size=-1>23</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="./ss008_ss00804.jsp?wsu15030=01955&wsu15040=03&wsu15180=A16808&hakcode=ZZ148&wtemp=ZZ1000&hakyy=2016&hakgi=1">
					<font size=-1>초급중국어(1)                                </font></a></TD>
        
				<TD align = center width=64><font size=-1>01955-03</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>유영옥</font></TD>
				
				<TD align = left><font size=-1>화1,2,3              &nbsp</font></TD>
				<TD align = left><font size=-1>동악-1101             &nbsp</font></TD>
				<TD align = center><font size=-1>60</font></TD>
<!--				<TD align = center><font size=-1>60</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="./ss008_ss00804.jsp?wsu15030=01955&wsu15040=04&wsu15180=A16807&hakcode=ZZ148&wtemp=ZZ1000&hakyy=2016&hakgi=1">
					<font size=-1>초급중국어(1)                                </font></a></TD>
        
				<TD align = center width=64><font size=-1>01955-04</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>노장시</font></TD>
				
				<TD align = left><font size=-1>목7,8,9              &nbsp</font></TD>
				<TD align = left><font size=-1>동악-3104             &nbsp</font></TD>
				<TD align = center><font size=-1>60</font></TD>
<!--				<TD align = center><font size=-1>59</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="./ss008_ss00804.jsp?wsu15030=01955&wsu15040=05&wsu15180=A16807&hakcode=ZZ148&wtemp=ZZ1000&hakyy=2016&hakgi=1">
					<font size=-1>초급중국어(1)                                </font></a></TD>
        
				<TD align = center width=64><font size=-1>01955-05</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>노장시</font></TD>
				
				<TD align = left><font size=-1>금4,5,6              &nbsp</font></TD>
				<TD align = left><font size=-1>동악-1103             &nbsp</font></TD>
				<TD align = center><font size=-1>60</font></TD>
<!--				<TD align = center><font size=-1>43</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="./ss008_ss00804.jsp?wsu15030=01955&wsu15040=06&wsu15180=A16807&hakcode=ZZ148&wtemp=ZZ1000&hakyy=2016&hakgi=1">
					<font size=-1>초급중국어(1)                                </font></a></TD>
        
				<TD align = center width=64><font size=-1>01955-06</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>노장시</font></TD>
				
				<TD align = left><font size=-1>금7,8,9              &nbsp</font></TD>
				<TD align = left><font size=-1>동악-1101             &nbsp</font></TD>
				<TD align = center><font size=-1>60</font></TD>
<!--				<TD align = center><font size=-1>25</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="./ss008_ss00804.jsp?wsu15030=01956&wsu15040=01&wsu15180=A16808&hakcode=ZZ148&wtemp=ZZ1000&hakyy=2016&hakgi=1">
					<font size=-1>초급중국어(2)                                </font></a></TD>
        
				<TD align = center width=64><font size=-1>01956-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>유영옥</font></TD>
				
				<TD align = left><font size=-1>월7,8,9              &nbsp</font></TD>
				<TD align = left><font size=-1>복합-306              &nbsp</font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--				<TD align = center><font size=-1>18</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="./ss008_ss00804.jsp?wsu15030=03609&wsu15040=01&wsu15180=A83006&hakcode=ZZ148&wtemp=ZZ1000&hakyy=2016&hakgi=1">
					<font size=-1>사이버토익I                                  </font></a></TD>
        
				<TD align = center width=64><font size=-1>03609-01</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
        
					<TD align = center width=64><font size=-1>허종회</font></TD>
				
				<TD align = left><font size=-1>                    &nbsp</font></TD>
				<TD align = left><font size=-1>                    &nbsp</font></TD>
				<TD align = center><font size=-1>80</font></TD>
<!--				<TD align = center><font size=-1>74</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="./ss008_ss00804.jsp?wsu15030=03609&wsu15040=02&wsu15180=A86007&hakcode=ZZ148&wtemp=ZZ1000&hakyy=2016&hakgi=1">
					<font size=-1>사이버토익I                                  </font></a></TD>
        
				<TD align = center width=64><font size=-1>03609-02</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
        
					<TD align = center width=64><font size=-1>탁기현</font></TD>
				
				<TD align = left><font size=-1>                    &nbsp</font></TD>
				<TD align = left><font size=-1>                    &nbsp</font></TD>
				<TD align = center><font size=-1>80</font></TD>
<!--				<TD align = center><font size=-1>78</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="./ss008_ss00804.jsp?wsu15030=03609&wsu15040=03&wsu15180=A88013&hakcode=ZZ148&wtemp=ZZ1000&hakyy=2016&hakgi=1">
					<font size=-1>사이버토익I                                  </font></a></TD>
        
				<TD align = center width=64><font size=-1>03609-03</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
        
					<TD align = center width=64><font size=-1>이상혁</font></TD>
				
				<TD align = left><font size=-1>                    &nbsp</font></TD>
				<TD align = left><font size=-1>                    &nbsp</font></TD>
				<TD align = center><font size=-1>80</font></TD>
<!--				<TD align = center><font size=-1>49</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="./ss008_ss00804.jsp?wsu15030=03609&wsu15040=04&wsu15180=A01004&hakcode=ZZ148&wtemp=ZZ1000&hakyy=2016&hakgi=1">
					<font size=-1>사이버토익I                                  </font></a></TD>
        
				<TD align = center width=64><font size=-1>03609-04</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
        
					<TD align = center width=64><font size=-1>김미숙</font></TD>
				
				<TD align = left><font size=-1>                    &nbsp</font></TD>
				<TD align = left><font size=-1>                    &nbsp</font></TD>
				<TD align = center><font size=-1>80</font></TD>
<!--				<TD align = center><font size=-1>69</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="./ss008_ss00804.jsp?wsu15030=03609&wsu15040=05&wsu15180=A06003&hakcode=ZZ148&wtemp=ZZ1000&hakyy=2016&hakgi=1">
					<font size=-1>사이버토익I                                  </font></a></TD>
        
				<TD align = center width=64><font size=-1>03609-05</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
        
					<TD align = center width=64><font size=-1>심은숙</font></TD>
				
				<TD align = left><font size=-1>                    &nbsp</font></TD>
				<TD align = left><font size=-1>                    &nbsp</font></TD>
				<TD align = center><font size=-1>80</font></TD>
<!--				<TD align = center><font size=-1>55</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="./ss008_ss00804.jsp?wsu15030=03609&wsu15040=06&wsu15180=A06003&hakcode=ZZ148&wtemp=ZZ1000&hakyy=2016&hakgi=1">
					<font size=-1>사이버토익I                                  </font></a></TD>
        
				<TD align = center width=64><font size=-1>03609-06</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
        
					<TD align = center width=64><font size=-1>심은숙</font></TD>
				
				<TD align = left><font size=-1>                    &nbsp</font></TD>
				<TD align = left><font size=-1>                    &nbsp</font></TD>
				<TD align = center><font size=-1>80</font></TD>
<!--				<TD align = center><font size=-1>42</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
   </TABLE>

	<TABLE BORDER=0 WIDTH=700>
	<TR>
		<TD><center>
			<form action="javascript:window.print()"> 
					<input type="submit" value="인   쇄"> 
			</form> 

		</TD>
	</TR>

	<TR>
   <TD><font face="굴림" size="2">▶ 수강편람 수록 교양선택과목 수강제한 필독<br> -.각 전공(학과)에서 개설한 교양선택과목은 소속 학부 및 전공(학과) 전체 학년 학생의 경우 수강할 수 없음(복수전공학과 포함)</font></TD>
  	</TR>
	<TR>
   <TD><font face="굴림" size="2">▶ 전학기까지 이수과목 확인 후 수강신청함(중복수강 금지)</font></TD>
  	</TR>




  	</TABLE>

	</CENTER>
	</BODY>
   </HTML>




<!--    <center><font face="돋움" size="3" color="cccccc">ss00803</font></center>-->
  


