<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<META http-equiv=Cache-Control content=no-cache>
<META http-equiv=Expires content=0>
<META http-equiv=Pragma content=no-cache>
<meta http-equiv=Content-Type content="text/html;charset=euc-kr">
<LINK href="./main/util.htm" type=text/css rel=stylesheet>
<META content="MSHTML 6.00.2900.2769" name=GENERATOR>

<!임상병리학과>








<script langauage="javascript"> 
<!-- 
function hidestatus(){ 
window.status='' 
return true 
} 

if (document.layers) 
document.captureEvents(Event.MOUSEOVER | Event.MOUSEOUT) 

document.onmouseover=hidestatus 
document.onmouseout=hidestatus 
//--> 
</script> 

</HEAD>

<STYLE type=text/css>BODY {
	FONT-SIZE: 9pt
}
FONT {
	FONT-SIZE: 9pt; LINE-HEIGHT: 16pt
}
A:link {
	TEXT-DECORATION: none
}
A:visited {
	TEXT-DECORATION: none
}
A:active {
	TEXT-DECORATION: none
}
</STYLE>





<!--2006.09.22 추가 park sang chul  -->
 <script language="javascript">
     	  function fnQues(){
// if(alert("교원 및 재학생은 홈페이지를 통하여 로그인 후 사용하세요.")){
 if(confirm("교원 및 재학생은 홈페이지를 통하여 로그인 후 사용하세요. 학적정보로 이동 하시겠습니까?",0)){
  parent.location.href = "http://hakjuk.sangji.ac.kr/index_direct.jsp"
//  parent.location.href = "http://www.sangji.ac.kr"
 }else{
  parent.location.href = "http://www.sangji.ac.kr"
  return;
 }

//	alert("홈페이지 로그인 후 사용하세요.");
//	parent.location.href = "http://www.sangji.ac.kr/user/sangji/sangji.jsp";

}
     </script>
<!------------------------------------->


      <script language="javascript">
//      alert("조교는 학부재학생 웹학적정보를 사용하실수 없습니다. 대학 홈페이지로 이동합니다..301 ");
//      parent.location.href = "http://www.sangji.ac.kr"
      </script> 
	  


<body background ="../main/back.jpg" text="black" link="blue" vlink="blue" alink="blue" onKeyDown="shiftkeydown();">



<!--
--  ***********************************************************************
--  procedure id : (ss00803) 개설과목 select 후 출력 
--  ***********************************************************************
-->

   <HTML>
           <BODY text="black" link="blue" vlink="purple" alink="red">
   <CENTER>
   


           <BODY TEXT="black" LINK="blue" VLINK="purple" ALINK="red">


	<BR>
	        <table BORDER="1"  cellspacing="0" bordercolordark="white" bordercolorlight="black" width="91%">
	<TR> 
           <th bgcolor=#98C4EF  height=20><font size=-1>구분</font></th>
           <th bgcolor=#98C4EF ><font size=-1>학년</font></th>
           <th bgcolor=#98C4EF ><font size=-1>교과목명</font></th>
           <th bgcolor=#98C4EF ><font size=-1>과목코드</font></th>
           <th bgcolor=#98C4EF ><font size=-1>학점</font></th>
           <th bgcolor=#98C4EF ><font size=-1>시간</font></th>
           <th bgcolor=#98C4EF ><font size=-1>교원명</font></th>
           <th bgcolor=#98C4EF ><font size=-1>강좌시간</font></th>
	        <th bgcolor=#98C4EF ><font size=-1>강의실</font></th>
	        <th bgcolor=#98C4EF ><font size=-1>정원</font></th>
<!--	        <th bgcolor=#98C4EF ><font size=-1>현재수강인원</font></th>-->
	        <th bgcolor=#98C4EF ><font size=-1>일반선택</font></th>
   </TR>


				<TR>
				<TD align = center width=32><font size=-1>계기</font></TD>
				<TD align = center width=32><font size=-1>1</font></TD>

				<TD align = left>
				<A href="#b294" data-toggle="modal">
				<font size=-1>의료경영영어              ...</font></TD>
        
				<TD align = center width=64><font size=-1>05260-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>이진숙</font></TD>
				
				<TD align = left><font size=-1>수4, 5, 6            </font></TD>
				<TD align = left><font size=-1>한울관-101             </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>36</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>계기</font></TD>
				<TD align = center width=32><font size=-1>1</font></TD>

				<TD align = left>
				<A href="#b295" data-toggle="modal">
				<font size=-1>의료경영학원론             ...</font></TD>
        
				<TD align = center width=64><font size=-1>04333-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>조형원</font></TD>
				
				<TD align = left><font size=-1>월1, 2, 3            </font></TD>
				<TD align = left><font size=-1>한울관-101             </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>37</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>1</font></TD>

				<TD align = left>
				<A href="#b296" data-toggle="modal">
				<font size=-1>의료생명환경론             ...</font></TD>
        
				<TD align = center width=64><font size=-1>04800-01</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
        
					<TD align = center width=64><font size=-1>송현종</font></TD>
				
				<TD align = left><font size=-1>금1, 2               </font></TD>
				<TD align = left><font size=-1>다산-105              </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>44</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>

				<TD align = left>
				<A href="#b297" data-toggle="modal">
				<font size=-1>병리학                 ...</font></TD>
        
				<TD align = center width=64><font size=-1>04343-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>이근신</font></TD>
				
				<TD align = left><font size=-1>월7, 8, 9            </font></TD>
				<TD align = left><font size=-1>한울관-101             </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>44</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>

				<TD align = left>
				<A href="#b298" data-toggle="modal">
				<font size=-1>병원및보건통계             ...</font></TD>
        
				<TD align = center width=64><font size=-1>04335-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>송현종</font></TD>
				
				<TD align = left><font size=-1>화7, 8 목6            </font></TD>
				<TD align = left><font size=-1>한울관-101             </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>35</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>

				<TD align = left>
				<A href="#b299" data-toggle="modal">
				<font size=-1>병원사무관리              ...</font></TD>
        
				<TD align = center width=64><font size=-1>05737-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>손민성</font></TD>
				
				<TD align = left><font size=-1>목2, 3, 4            </font></TD>
				<TD align = left><font size=-1>다산-105              </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>41</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전필</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>

				<TD align = left>
				<A href="#b300" data-toggle="modal">
				<font size=-1>의료인적자원관리            ...</font></TD>
        
				<TD align = center width=64><font size=-1>04341-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>조형원</font></TD>
				
				<TD align = left><font size=-1>화5 금1, 2            </font></TD>
				<TD align = left><font size=-1>한울관-101             </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>37</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>

				<TD align = left>
				<A href="#b301" data-toggle="modal">
				<font size=-1>의무기록관리학             ...</font></TD>
        
				<TD align = center width=64><font size=-1>04331-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>김유미</font></TD>
				
				<TD align = left><font size=-1>월2, 3 화6            </font></TD>
				<TD align = left><font size=-1>한울관-201, 한울관-101    </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>40</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href="#b302" data-toggle="modal">
				<font size=-1>보건교육방법론             ...</font></TD>
        
				<TD align = center width=64><font size=-1>04797-01</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
        
					<TD align = center width=64><font size=-1>송현종</font></TD>
				
				<TD align = left><font size=-1>목3, 4               </font></TD>
				<TD align = left><font size=-1>한울관-201             </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>25</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href="#b303" data-toggle="modal">
				<font size=-1>보건의료DB실습            ...</font></TD>
        
				<TD align = center width=64><font size=-1>04794-01</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>김유미</font></TD>
				
				<TD align = left><font size=-1>수5, 6, 7            </font></TD>
				<TD align = left><font size=-1>다산-107              </font></TD>
				<TD align = center><font size=-1>70</font></TD>
<!--			<TD><font size=-1>40</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href="#b304" data-toggle="modal">
				<font size=-1>보건의료기초법             ...</font></TD>
        
				<TD align = center width=64><font size=-1>04332-01</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
        
					<TD align = center width=64><font size=-1>조형원</font></TD>
				
				<TD align = left><font size=-1>수1, 2               </font></TD>
				<TD align = left><font size=-1>한울관-101             </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>0</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전필</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href="#b305" data-toggle="modal">
				<font size=-1>의료보험론               ...</font></TD>
        
				<TD align = center width=64><font size=-1>04628-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>송현종</font></TD>
				
				<TD align = left><font size=-1>월7, 8, 9            </font></TD>
				<TD align = left><font size=-1>한울관-201             </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>42</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href="#b306" data-toggle="modal">
				<font size=-1>의료서비스마케팅            ...</font></TD>
        
				<TD align = center width=64><font size=-1>05738-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>손민성</font></TD>
				
				<TD align = left><font size=-1>목5, 6, 7            </font></TD>
				<TD align = left><font size=-1>다산-105              </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>45</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href="#b307" data-toggle="modal">
				<font size=-1>의무기록실습              ...</font></TD>
        
				<TD align = center width=64><font size=-1>04632-01</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>김유미</font></TD>
				
				<TD align = left><font size=-1>화1, 2, 3            </font></TD>
				<TD align = left><font size=-1>한울관-201             </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>35</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href="#b308" data-toggle="modal">
				<font size=-1>질병분류및수술             ...</font></TD>
        
				<TD align = center width=64><font size=-1>04672-01</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>김수영</font></TD>
				
				<TD align = left><font size=-1>금1, 2, 3            </font></TD>
				<TD align = left><font size=-1>한울관-201             </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>29</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>

				<TD align = left>
				<A href="#b309" data-toggle="modal">
				<font size=-1>보건의료관계법규            ...</font></TD>
        
				<TD align = center width=64><font size=-1>04630-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>조형원</font></TD>
				
				<TD align = left><font size=-1>화3 수3, 4            </font></TD>
				<TD align = left><font size=-1>한울관-101, 한울관-201    </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>36</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>

				<TD align = left>
				<A href="#b310" data-toggle="modal">
				<font size=-1>보건의사소통              ...</font></TD>
        
				<TD align = center width=64><font size=-1>04840-01</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
        
					<TD align = center width=64><font size=-1>팀티칭</font></TD>
				
				<TD align = left><font size=-1>화5, 6               </font></TD>
				<TD align = left><font size=-1>한울관-201             </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>10</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>

				<TD align = left>
				<A href="#b311" data-toggle="modal">
				<font size=-1>의료기기경영              ...</font></TD>
        
				<TD align = center width=64><font size=-1>05687-01</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
        
					<TD align = center width=64><font size=-1>팀티칭</font></TD>
				
				<TD align = left><font size=-1>월3, 4               </font></TD>
				<TD align = left><font size=-1>다산-105              </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>3</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>

				<TD align = left>
				<A href="#b312" data-toggle="modal">
				<font size=-1>의료의질관리              ...</font></TD>
        
				<TD align = center width=64><font size=-1>04767-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>김유미</font></TD>
				
				<TD align = left><font size=-1>월1 목1, 2            </font></TD>
				<TD align = left><font size=-1>한울관-201             </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>36</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
   </TABLE>

	<TABLE BORDER=0 WIDTH=700>
	<TR>
		<TD><center>
			<form action="javascript:window.print()"> 
					<input type="submit" value="인   쇄"> 
			</form> 

		</TD>
	</TR>

	<TR>
   <TD><font face="굴림" size="2">▶ 수강편람 수록 교양선택과목 수강제한 필독<br> -.각 전공(학과)에서 개설한 교양선택과목은 소속 학부 및 전공(학과) 전체 학년 학생의 경우 수강할 수 없음(복수전공학과 포함)</font></TD>
  	</TR>
	<TR>
   <TD><font face="굴림" size="2">▶ 전학기까지 이수과목 확인 후 수강신청함(중복수강 금지)</font></TD>
  	</TR>




  	</TABLE>

	</CENTER>
	</BODY>
   </HTML>




<!--    <center><font face="돋움" size="3" color="cccccc">ss00803</font></center>-->
  


