<!--a1 공학윤리 시작 -->
          <div class="modal modal-center fade" id="c52" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>공학윤리</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>최종덕</center></td>
                        			<td><center>수1,2,3</center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=452" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->
   
    <!--a1 과학과기술의역사 시작 -->
          <div class="modal modal-center fade" id="c53" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>과학과기술의역사</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>이영규</center></td>
                        			<td><center>월7,8,9</center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=453" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->
    
     <!--a1 과학과생활 시작 -->
          <div class="modal modal-center fade" id="c54" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>과학과생활</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>이영규</center></td>
                        			<td><center>금4,5,6</center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=454" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->
    
     <!--a1 과학과생활 시작 -->
          <div class="modal modal-center fade" id="c55" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>과학과생활</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>이영규</center></td>
                        			<td><center>금7,8,9</center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=455" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->
     <!--a1 동물과환경 시작 -->
          <div class="modal modal-center fade" id="c56" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>동물과환경</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>길지용</center></td>
                        			<td><center>월7,8,9</center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=456" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->
    
         <!--a1 생명공학의이해 시작 -->
          <div class="modal modal-center fade" id="c57" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>생명공학의이해</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>신성철</center></td>
                        			<td><center>수7,8,9</center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=457" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->
    
        <!--a1 생명의세계 시작 -->
          <div class="modal modal-center fade" id="c58" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>생명의세계</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>유관희</center></td>
                        			<td><center>화1,2,3</center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=458" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->
    
     <!--a1 생활원예 시작 -->
          <div class="modal modal-center fade" id="c59" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>생활원예</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>이광회</center></td>
                        			<td><center>월8,9 화3</center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=459" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->
    
     <!--a1 수학의이해 시작 -->
          <div class="modal modal-center fade" id="c60" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>수학의이해</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>김익성</center></td>
                        			<td><center>월7,8,9</center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=460" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->
    
       <!--a1 숲과인류생활 시작 -->
          <div class="modal modal-center fade" id="c61" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>숲과인류생활</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>김갑태</center></td>
                        			<td><center>월8,9 화1</center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=461" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->
    
        <!--a1 영양과생체 시작 -->
          <div class="modal modal-center fade" id="c62" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>영양과생체</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>이은</center></td>
                        			<td><center>수1,2,3</center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=462" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->
    
     <!--a1인간과식량 시작 -->
          <div class="modal modal-center fade" id="c63" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>인간과식량</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>용석호</center></td>
                        			<td><center>목7,8,9</center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=463" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->


<!--a1인간과환경 시작 -->
          <div class="modal modal-center fade" id="c64" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>인간과환경</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>신윤근</center></td>
                        			<td><center>수1,2,3</center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=464" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->
    
    <!--a1인간과환경 시작 -->
          <div class="modal modal-center fade" id="c65" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>인간과환경</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>홍성하</center></td>
                        			<td><center>화1,2,3</center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=465" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->
    
     <!--a1정보사회와컴퓨터 시작 -->
          <div class="modal modal-center fade" id="c66" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>정보사회와컴퓨터</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>김건희</center></td>
                        			<td><center>화1,2,3</center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=466" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->
    
     <!--a1지구환경과학 시작 -->
          <div class="modal modal-center fade" id="c67" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>지구환경과학</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>최원규</center></td>
                        			<td><center>화2,3 목7</center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=467" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<META http-equiv=Cache-Control content=no-cache>
<META http-equiv=Expires content=0>
<META http-equiv=Pragma content=no-cache>
<meta http-equiv=Content-Type content="text/html;charset=euc-kr">
<LINK href="./main/util.htm" type=text/css rel=stylesheet>
<META content="MSHTML 6.00.2900.2769" name=GENERATOR>



<!자연과환경>






<script langauage="javascript"> 
<!-- 
function hidestatus(){ 
window.status='' 
return true 
} 

if (document.layers) 
document.captureEvents(Event.MOUSEOVER | Event.MOUSEOUT) 

document.onmouseover=hidestatus 
document.onmouseout=hidestatus 
//--> 
</script> 

</HEAD>

<STYLE type=text/css>BODY {
	FONT-SIZE: 9pt
}
FONT {
	FONT-SIZE: 9pt; LINE-HEIGHT: 16pt
}
A:link {
	TEXT-DECORATION: none
}
A:visited {
	TEXT-DECORATION: none
}
A:active {
	TEXT-DECORATION: none
}
</STYLE>

 



<!--2006.09.22 추가 park sang chul  -->
 <script language="javascript">
     	  function fnQues(){
// if(alert("교원 및 재학생은 홈페이지를 통하여 로그인 후 사용하세요.")){
 if(confirm("교원 및 재학생은 홈페이지를 통하여 로그인 후 사용하세요. 학적정보로 이동 하시겠습니까?",0)){
  parent.location.href = "http://hakjuk.sangji.ac.kr/index_direct.jsp"
//  parent.location.href = "http://www.sangji.ac.kr"
 }else{
  parent.location.href = "http://www.sangji.ac.kr"
  return;
 }

//	alert("홈페이지 로그인 후 사용하세요.");
//	parent.location.href = "http://www.sangji.ac.kr/user/sangji/sangji.jsp";

}
     </script>
<!------------------------------------->


      <script language="javascript">
//      alert("조교는 학부재학생 웹학적정보를 사용하실수 없습니다. 대학 홈페이지로 이동합니다..301 ");
//      parent.location.href = "http://www.sangji.ac.kr"
      </script> 
	  


<body background ="../main/back.jpg" text="black" link="blue" vlink="blue" alink="blue" onKeyDown="shiftkeydown();">



<!--
--  ***********************************************************************
--  procedure id : (ss00803) 개설과목 select 후 출력 
--  ***********************************************************************
-->

   <HTML>
           <BODY text="black" link="blue" vlink="purple" alink="red">
   <CENTER>
   


           <BODY TEXT="black" LINK="blue" VLINK="purple" ALINK="red">


	<BR>
	        <table BORDER="1"  cellspacing="0" bordercolordark="white" bordercolorlight="black" width="91%">
	<TR> 
           <th bgcolor=#98C4EF  height=20><font size=-1>구분</font></th>
           <th bgcolor=#98C4EF ><font size=-1>학년</font></th>
           <th bgcolor=#98C4EF ><font size=-1>교과목명</font></th>
           <th bgcolor=#98C4EF ><font size=-1>과목코드</font></th>
           <th bgcolor=#98C4EF ><font size=-1>학점</font></th>
           <th bgcolor=#98C4EF ><font size=-1>시간</font></th>
           <th bgcolor=#98C4EF ><font size=-1>교원명</font></th>
           <th bgcolor=#98C4EF ><font size=-1>강좌시간</font></th>
	        <th bgcolor=#98C4EF ><font size=-1>강의실</font></th>
	        <th bgcolor=#98C4EF ><font size=-1>정원</font></th>
<!--	        <th bgcolor=#98C4EF ><font size=-1>현재수강인원</font></th>-->
	        <th bgcolor=#98C4EF ><font size=-1>일반선택</font></th>
   </TR>


				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="#c52" data-toggle="modal">
					<font size=-1>공학윤리                                    </font></a></TD>
        
				<TD align = center width=64><font size=-1>04860-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>최종덕</font></TD>
				
				<TD align = left><font size=-1>수1,2,3              &nbsp</font></TD>
				<TD align = left><font size=-1>동악-1108             &nbsp</font></TD>
				<TD align = center><font size=-1>100</font></TD>
<!--				<TD align = center><font size=-1>69</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="#c53" data-toggle="modal">
					<font size=-1>과학과기술의역사                                </font></a></TD>
        
				<TD align = center width=64><font size=-1>05379-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>이영규</font></TD>
				
				<TD align = left><font size=-1>월7,8,9              &nbsp</font></TD>
				<TD align = left><font size=-1>학술-601              &nbsp</font></TD>
				<TD align = center><font size=-1>80</font></TD>
<!--				<TD align = center><font size=-1>80</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="#c54" data-toggle="modal">
					<font size=-1>과학과생활                                   </font></a></TD>
        
				<TD align = center width=64><font size=-1>00212-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>이영규</font></TD>
				
				<TD align = left><font size=-1>금4,5,6              &nbsp</font></TD>
				<TD align = left><font size=-1>학술-601              &nbsp</font></TD>
				<TD align = center><font size=-1>80</font></TD>
<!--				<TD align = center><font size=-1>78</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="#c55" data-toggle="modal">
					<font size=-1>과학과생활                                   </font></a></TD>
        
				<TD align = center width=64><font size=-1>00212-02</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>이영규</font></TD>
				
				<TD align = left><font size=-1>금7,8,9              &nbsp</font></TD>
				<TD align = left><font size=-1>학술-601              &nbsp</font></TD>
				<TD align = center><font size=-1>80</font></TD>
<!--				<TD align = center><font size=-1>77</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="#c56" data-toggle="modal">
					<font size=-1>동물과환경                                   </font></a></TD>
        
				<TD align = center width=64><font size=-1>00515-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>길지용</font></TD>
				
				<TD align = left><font size=-1>월7,8,9              &nbsp</font></TD>
				<TD align = left><font size=-1>동악-3101             &nbsp</font></TD>
				<TD align = center><font size=-1>100</font></TD>
<!--				<TD align = center><font size=-1>99</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="#c57" data-toggle="modal">
					<font size=-1>생명공학의이해                                 </font></a></TD>
        
				<TD align = center width=64><font size=-1>00961-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>신성철</font></TD>
				
				<TD align = left><font size=-1>수7,8,9              &nbsp</font></TD>
				<TD align = left><font size=-1>동물-402              &nbsp</font></TD>
				<TD align = center><font size=-1>100</font></TD>
<!--				<TD align = center><font size=-1>99</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="#c58" data-toggle="modal">
					<font size=-1>생명의세계                                   </font></a></TD>
        
				<TD align = center width=64><font size=-1>00965-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>유관희</font></TD>
				
				<TD align = left><font size=-1>화1,2,3              &nbsp</font></TD>
				<TD align = left><font size=-1>동악-1102             &nbsp</font></TD>
				<TD align = center><font size=-1>80</font></TD>
<!--				<TD align = center><font size=-1>80</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="#c59" data-toggle="modal">
					<font size=-1>생활원예                                    </font></a></TD>
        
				<TD align = center width=64><font size=-1>01011-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>이광회</font></TD>
				
				<TD align = left><font size=-1>월8,9 화3             &nbsp</font></TD>
				<TD align = left><font size=-1>식물-502, 식물-501      &nbsp</font></TD>
				<TD align = center><font size=-1>80</font></TD>
<!--				<TD align = center><font size=-1>53</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="#c60" data-toggle="modal">
					<font size=-1>수학의이해                                   </font></a></TD>
        
				<TD align = center width=64><font size=-1>01097-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>김익성</font></TD>
				
				<TD align = left><font size=-1>월7,8,9              &nbsp</font></TD>
				<TD align = left><font size=-1>동악-1108             &nbsp</font></TD>
				<TD align = center><font size=-1>100</font></TD>
<!--				<TD align = center><font size=-1>89</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="#c61" data-toggle="modal">
					<font size=-1>숲과인류생활                                  </font></a></TD>
        
				<TD align = center width=64><font size=-1>01098-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>김갑태</font></TD>
				
				<TD align = left><font size=-1>월8,9 화1             &nbsp</font></TD>
				<TD align = left><font size=-1>동물-402              &nbsp</font></TD>
				<TD align = center><font size=-1>100</font></TD>
<!--				<TD align = center><font size=-1>34</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="#c62" data-toggle="modal">
					<font size=-1>영양과생체                                   </font></a></TD>
        
				<TD align = center width=64><font size=-1>01317-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>이은</font></TD>
				
				<TD align = left><font size=-1>수1,2,3              &nbsp</font></TD>
				<TD align = left><font size=-1>동악-4108             &nbsp</font></TD>
				<TD align = center><font size=-1>100</font></TD>
<!--				<TD align = center><font size=-1>97</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="#c63" data-toggle="modal">
					<font size=-1>인간과식량                                   </font></a></TD>
        
				<TD align = center width=64><font size=-1>02532-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>용석호</font></TD>
				
				<TD align = left><font size=-1>목7,8,9              &nbsp</font></TD>
				<TD align = left><font size=-1>식물-502              &nbsp</font></TD>
				<TD align = center><font size=-1>80</font></TD>
<!--				<TD align = center><font size=-1>79</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="#c64" data-toggle="modal">
					<font size=-1>인간과환경                                   </font></a></TD>
        
				<TD align = center width=64><font size=-1>01528-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>신윤근</font></TD>
				
				<TD align = left><font size=-1>수1,2,3              &nbsp</font></TD>
				<TD align = left><font size=-1>동악-3101             &nbsp</font></TD>
				<TD align = center><font size=-1>100</font></TD>
<!--				<TD align = center><font size=-1>87</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="#c65" data-toggle="modal">
					<font size=-1>인간과환경                                   </font></a></TD>
        
				<TD align = center width=64><font size=-1>01528-02</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>홍성하</font></TD>
				
				<TD align = left><font size=-1>화1,2,3              &nbsp</font></TD>
				<TD align = left><font size=-1>동악-3101             &nbsp</font></TD>
				<TD align = center><font size=-1>100</font></TD>
<!--				<TD align = center><font size=-1>91</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="#c66" data-toggle="modal">
					<font size=-1>정보사회와컴퓨터                                </font></a></TD>
        
				<TD align = center width=64><font size=-1>01747-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>김건희</font></TD>
				
				<TD align = left><font size=-1>화1,2,3              &nbsp</font></TD>
				<TD align = left><font size=-1>식물-5105             &nbsp</font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--				<TD align = center><font size=-1>52</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>교선</font></TD>
				<TD align = center width=32><font size=-1>전체</font></TD>

					<TD align = left>
					<A href="#c67" data-toggle="modal">
					<font size=-1>지구환경과학                                  </font></a></TD>
        
				<TD align = center width=64><font size=-1>02531-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>최원규</font></TD>
				
				<TD align = left><font size=-1>화2,3 목7             &nbsp</font></TD>
				<TD align = left><font size=-1>동악-1103             &nbsp</font></TD>
				<TD align = center><font size=-1>80</font></TD>
<!--				<TD align = center><font size=-1>29</font></TD>-->
        
					<TD align = center>&nbsp;</TD>
        
				</TR>
        
   </TABLE>

	<TABLE BORDER=0 WIDTH=700>
	<TR>
		<TD><center>
			<form action="javascript:window.print()"> 
					<input type="submit" value="인   쇄"> 
			</form> 

		</TD>
	</TR>

	<TR>
   <TD><font face="굴림" size="2">▶ 수강편람 수록 교양선택과목 수강제한 필독<br> -.각 전공(학과)에서 개설한 교양선택과목은 소속 학부 및 전공(학과) 전체 학년 학생의 경우 수강할 수 없음(복수전공학과 포함)</font></TD>
  	</TR>
	<TR>
   <TD><font face="굴림" size="2">▶ 전학기까지 이수과목 확인 후 수강신청함(중복수강 금지)</font></TD>
  	</TR>




  	</TABLE>

	</CENTER>
	</BODY>
   </HTML>




<!--    <center><font face="돋움" size="3" color="cccccc">ss00803</font></center>-->
  


