<!--a1 생명과학론 시작 -->
          <div class="modal modal-center fade" id="c68" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>생명과학론</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>황귀혜</center></td>
                        			<td><center>수4,5,6</center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=468" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->
    
    <!--a1 약학개론 시작 -->
          <div class="modal modal-center fade" id="c69" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>약학개론</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>차배천</center></td>
                        			<td><center>화6 목5, 6</center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=469" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->
    
     <!--a1 일반화학I 시작 -->
          <div class="modal modal-center fade" id="c70" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>일반화학I</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>박희준</center></td>
                        			<td><center>금7, 8, 9</center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=470" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->
    
     <!--a1 미생물학 시작 -->
          <div class="modal modal-center fade" id="c71" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>미생물학</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>조재용</center></td>
                        			<td><center>금3, 4, 5</center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=471" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->
    
      <!--a1 분자생물학 시작 -->
          <div class="modal modal-center fade" id="c72" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>분자생물학</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>황귀혜</center></td>
                        			<td><center>목4, 5, 6</center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=472" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->
    
     <!--a1 생리학실험 시작 -->
          <div class="modal modal-center fade" id="c73" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>생리학실험</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>이은</center></td>
                        			<td><center>월7, 8, 9</center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=473" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->
    
       <!--a1 생리학실험 시작 -->
          <div class="modal modal-center fade" id="c74" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>생리학실험</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>이은</center></td>
                        			<td><center>목1,2,3</center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=474" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->
    
    <!--a1 유기화학I 시작 -->
          <div class="modal modal-center fade" id="c75" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>유기화학I</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>차배천</center></td>
                        			<td><center>월4 화4,5</center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=475" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->
    
     <!--a1제제공학 시작 -->
          <div class="modal modal-center fade" id="c76" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>제제공학</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>황성희</center></td>
                        			<td><center>월2,3 화7</center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=476" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->
    
      <!--a1미생물공학및실험 시작 -->
          <div class="modal modal-center fade" id="c77" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>미생물공학및실험</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>황귀혜</center></td>
                        			<td><center>화6 목7,8,9</center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=477" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->
    
     <!--a1미생물공학및실험 시작 -->
          <div class="modal modal-center fade" id="c78" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>미생물공학및실험</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>황귀혜</center></td>
                        			<td><center>화6, 7, 8, 9</center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=478" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->
    
       <!--a1생화학(1) 시작 -->
          <div class="modal modal-center fade" id="c79" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>생화학(1)</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>이은</center></td>
                        			<td><center>화1, 2, 3</center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=479" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->
    
     <!--a1약전학및실험 시작 -->
          <div class="modal modal-center fade" id="c80" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>약전학및실험</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>황성희</center></td>
                        			<td><center>수2,4,5</center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=480" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->
    
    <!--a1약전학및실험 시작 -->
          <div class="modal modal-center fade" id="c81" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>약전학및실험</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>황성희</center></td>
                        			<td><center>수2 목2,3</center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=481" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->
    
     <!--a1약품분석실험 시작 -->
          <div class="modal modal-center fade" id="c82" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>약품분석실험</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>차배천</center></td>
                        			<td><center>수7,8,9</center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=482" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->
    
       <!--a1약품분석실험 시작 -->
          <div class="modal modal-center fade" id="c83" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>약품분석실험</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>차배천</center></td>
                        			<td><center>월2,3 수7</center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=483" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->
     <!--a1천연물화학및실험험 시작 -->
          <div class="modal modal-center fade" id="c84" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>천연물화학및실험</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>박종혁</center></td>
                        			<td><center>목6 금1,2,3</center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=484" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->
    
         <!--a1천연물화학및실험험 시작 -->
          <div class="modal modal-center fade" id="c85" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>천연물화학및실험</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>박종혁</center></td>
                        			<td><center>목6 금4, 5, 6</center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=485" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->
    
     <!--a1기능성물질및향장품학 시작 -->
          <div class="modal modal-center fade" id="c86" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>기능성물질 및 향장품학</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>차배천</center></td>
                        			<td><center>월7, 8, 9</center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=486" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->
    
    <!--a1독성학 시작 -->
          <div class="modal modal-center fade" id="c87" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>독성학</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>이은</center></td>
                        			<td><center>월1, 2, 3</center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=487" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->
    
    <!--a1약리학 시작 -->
          <div class="modal modal-center fade" id="c88" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>약리학</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>박희준</center></td>
                        			<td><center>수1, 2, 3</center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=488" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->
    
     <!--a1약제학 시작 -->
          <div class="modal modal-center fade" id="c89" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>약제학</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>황성희</center></td>
                        			<td><center>화4, 5, 6</center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=489" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<META http-equiv=Cache-Control content=no-cache>
<META http-equiv=Expires content=0>
<META http-equiv=Pragma content=no-cache>
<meta http-equiv=Content-Type content="text/html;charset=euc-kr">
<LINK href="./main/util.htm" type=text/css rel=stylesheet>
<META content="MSHTML 6.00.2900.2769" name=GENERATOR>



<!제약공학과>






<script langauage="javascript"> 
<!-- 
function hidestatus(){ 
window.status='' 
return true 
} 

if (document.layers) 
document.captureEvents(Event.MOUSEOVER | Event.MOUSEOUT) 

document.onmouseover=hidestatus 
document.onmouseout=hidestatus 
//--> 
</script> 

</HEAD>

<STYLE type=text/css>BODY {
	FONT-SIZE: 9pt
}
FONT {
	FONT-SIZE: 9pt; LINE-HEIGHT: 16pt
}
A:link {
	TEXT-DECORATION: none
}
A:visited {
	TEXT-DECORATION: none
}
A:active {
	TEXT-DECORATION: none
}
</STYLE>




<!--2006.09.22 추가 park sang chul  -->
 <script language="javascript">
     	  function fnQues(){
// if(alert("교원 및 재학생은 홈페이지를 통하여 로그인 후 사용하세요.")){
 if(confirm("교원 및 재학생은 홈페이지를 통하여 로그인 후 사용하세요. 학적정보로 이동 하시겠습니까?",0)){
  parent.location.href = "http://hakjuk.sangji.ac.kr/index_direct.jsp"
//  parent.location.href = "http://www.sangji.ac.kr"
 }else{
  parent.location.href = "http://www.sangji.ac.kr"
  return;
 }

//	alert("홈페이지 로그인 후 사용하세요.");
//	parent.location.href = "http://www.sangji.ac.kr/user/sangji/sangji.jsp";

}
     </script>
<!------------------------------------->


      <script language="javascript">
//      alert("조교는 학부재학생 웹학적정보를 사용하실수 없습니다. 대학 홈페이지로 이동합니다..301 ");
//      parent.location.href = "http://www.sangji.ac.kr"
      </script> 
	  


<body background ="../main/back.jpg" text="black" link="blue" vlink="blue" alink="blue" onKeyDown="shiftkeydown();">



<!--
--  ***********************************************************************
--  procedure id : (ss00803) 개설과목 select 후 출력 
--  ***********************************************************************
-->

   <HTML>
           <BODY text="black" link="blue" vlink="purple" alink="red">
   <CENTER>
   


           <BODY TEXT="black" LINK="blue" VLINK="purple" ALINK="red">


	<BR>
	        <table BORDER="1"  cellspacing="0" bordercolordark="white" bordercolorlight="black" width="91%">
	<TR> 
           <th bgcolor=#98C4EF  height=20><font size=-1>구분</font></th>
           <th bgcolor=#98C4EF ><font size=-1>학년</font></th>
           <th bgcolor=#98C4EF ><font size=-1>교과목명</font></th>
           <th bgcolor=#98C4EF ><font size=-1>과목코드</font></th>
           <th bgcolor=#98C4EF ><font size=-1>학점</font></th>
           <th bgcolor=#98C4EF ><font size=-1>시간</font></th>
           <th bgcolor=#98C4EF ><font size=-1>교원명</font></th>
           <th bgcolor=#98C4EF ><font size=-1>강좌시간</font></th>
	        <th bgcolor=#98C4EF ><font size=-1>강의실</font></th>
	        <th bgcolor=#98C4EF ><font size=-1>정원</font></th>
<!--	        <th bgcolor=#98C4EF ><font size=-1>현재수강인원</font></th>-->
	        <th bgcolor=#98C4EF ><font size=-1>일반선택</font></th>
   </TR>


				<TR>
				<TD align = center width=32><font size=-1>계기</font></TD>
				<TD align = center width=32><font size=-1>1</font></TD>

				<TD align = left>
				<A href="#c68" data-toggle="modal">
				<font size=-1>생명과학론                </font></TD>
        
				<TD align = center width=64><font size=-1>03163-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>황귀혜</font></TD>
				
				<TD align = left><font size=-1>수4, 5, 6            </font></TD>
				<TD align = left><font size=-1>동물-402              </font></TD>
				<TD align = center><font size=-1>75</font></TD>
<!--			<TD><font size=-1>70</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>1</font></TD>

				<TD align = left>
				<A href="#c69" data-toggle="modal">
				<font size=-1>약학개론                 </font></TD>
        
				<TD align = center width=64><font size=-1>04440-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>차배천</font></TD>
				
				<TD align = left><font size=-1>화6 목5, 6            </font></TD>
				<TD align = left><font size=-1>한울관-306             </font></TD>
				<TD align = center><font size=-1>50</font></TD>
<!--			<TD><font size=-1>39</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>계기</font></TD>
				<TD align = center width=32><font size=-1>1</font></TD>

				<TD align = left>
				<A href="#c70" data-toggle="modal">
				<font size=-1>일반화학I                </font></TD>
        
				<TD align = center width=64><font size=-1>02893-04</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>박희준</font></TD>
				
				<TD align = left><font size=-1>금7, 8, 9            </font></TD>
				<TD align = left><font size=-1>한울관-306             </font></TD>
				<TD align = center><font size=-1>50</font></TD>
<!--			<TD><font size=-1>43</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>

				<TD align = left>
				<A href="#c71" data-toggle="modal">
				<font size=-1>미생물학                 </font></TD>
        
				<TD align = center width=64><font size=-1>00670-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>조재용</font></TD>
				
				<TD align = left><font size=-1>금3, 4, 5            </font></TD>
				<TD align = left><font size=-1>한울관-306             </font></TD>
				<TD align = center><font size=-1>50</font></TD>
<!--			<TD><font size=-1>15</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>

				<TD align = left>
				<A href="#c72" data-toggle="modal">
				<font size=-1>분자생물학 I              </font></TD>
        
				<TD align = center width=64><font size=-1>04875-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>황귀혜</font></TD>
				
				<TD align = left><font size=-1>목4, 5, 6            </font></TD>
				<TD align = left><font size=-1>한울관-307             </font></TD>
				<TD align = center><font size=-1>50</font></TD>
<!--			<TD><font size=-1>45</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>

				<TD align = left>
				<A href="#c73" data-toggle="modal">
				<font size=-1>생리학실험                </font></TD>
        
				<TD align = center width=64><font size=-1>04877-01</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>이은</font></TD>
				
				<TD align = left><font size=-1>월7, 8, 9            </font></TD>
				<TD align = left><font size=-1>식물-406, 동물-205      </font></TD>
				<TD align = center><font size=-1>15</font></TD>
<!--			<TD><font size=-1>14</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>

				<TD align = left>
				<A href="#c74" data-toggle="modal">
				<font size=-1>생리학실험                </font></TD>
        
				<TD align = center width=64><font size=-1>04877-02</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>이은</font></TD>
				
				<TD align = left><font size=-1>목1, 2, 3            </font></TD>
				<TD align = left><font size=-1>식물-406, 동물-205      </font></TD>
				<TD align = center><font size=-1>20</font></TD>
<!--			<TD><font size=-1>18</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전필</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>

				<TD align = left>
				<A href="#c75" data-toggle="modal">
				<font size=-1>유기화학I                </font></TD>
        
				<TD align = center width=64><font size=-1>02417-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>차배천</font></TD>
				
				<TD align = left><font size=-1>월4 화4, 5            </font></TD>
				<TD align = left><font size=-1>한울관-306             </font></TD>
				<TD align = center><font size=-1>50</font></TD>
<!--			<TD><font size=-1>49</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전필</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>

				<TD align = left>
				<A href="#c76" data-toggle="modal">
				<font size=-1>제제공학                 </font></TD>
        
				<TD align = center width=64><font size=-1>04623-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>황성희</font></TD>
				
				<TD align = left><font size=-1>월2, 3 화7            </font></TD>
				<TD align = left><font size=-1>한울관-307             </font></TD>
				<TD align = center><font size=-1>50</font></TD>
<!--			<TD><font size=-1>42</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href="#c77" data-toggle="modal">
				<font size=-1>미생물공학및실험             </font></TD>
        
				<TD align = center width=64><font size=-1>04231-02</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>
        
					<TD align = center width=64><font size=-1>황귀혜</font></TD>
				
				<TD align = left><font size=-1>화6 목7, 8, 9         </font></TD>
				<TD align = left><font size=-1>식물-406              </font></TD>
				<TD align = center><font size=-1>15</font></TD>
<!--			<TD><font size=-1>9</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href="#c78" data-toggle="modal">
				<font size=-1>미생물공학및실험             </font></TD>
        
				<TD align = center width=64><font size=-1>04231-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>
        
					<TD align = center width=64><font size=-1>황귀혜</font></TD>
				
				<TD align = left><font size=-1>화6, 7, 8, 9         </font></TD>
				<TD align = left><font size=-1>식물-406, 동물-202      </font></TD>
				<TD align = center><font size=-1>15</font></TD>
<!--			<TD><font size=-1>15</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href="#c79" data-toggle="modal">
				<font size=-1>생화학(1)               </font></TD>
        
				<TD align = center width=64><font size=-1>03344-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>이은</font></TD>
				
				<TD align = left><font size=-1>화1, 2, 3            </font></TD>
				<TD align = left><font size=-1>식물-406              </font></TD>
				<TD align = center><font size=-1>40</font></TD>
<!--			<TD><font size=-1>33</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href="#c80" data-toggle="modal">
				<font size=-1>약전학및실험               </font></TD>
        
				<TD align = center width=64><font size=-1>05736-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>황성희</font></TD>
				
				<TD align = left><font size=-1>수2,4,5              </font></TD>
				<TD align = left><font size=-1>식물-406, 동물-203      </font></TD>
				<TD align = center><font size=-1>17</font></TD>
<!--			<TD><font size=-1>17</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href="#c81" data-toggle="modal">
				<font size=-1>약전학및실험               </font></TD>
        
				<TD align = center width=64><font size=-1>05736-02</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>황성희</font></TD>
				
				<TD align = left><font size=-1>수2 목2,3             </font></TD>
				<TD align = left><font size=-1>식물-406, 동물-203      </font></TD>
				<TD align = center><font size=-1>15</font></TD>
<!--			<TD><font size=-1>15</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href="#c82" data-toggle="modal">
				<font size=-1>약품분석실험               </font></TD>
        
				<TD align = center width=64><font size=-1>05735-02</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>차배천</font></TD>
				
				<TD align = left><font size=-1>수7,8,9              </font></TD>
				<TD align = left><font size=-1>식물-406, 동물-204      </font></TD>
				<TD align = center><font size=-1>15</font></TD>
<!--			<TD><font size=-1>15</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href="#c83" data-toggle="modal">
				<font size=-1>약품분석실험               </font></TD>
        
				<TD align = center width=64><font size=-1>05735-01</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>차배천</font></TD>
				
				<TD align = left><font size=-1>월2, 3 수7            </font></TD>
				<TD align = left><font size=-1>동물-204, 식물-406      </font></TD>
				<TD align = center><font size=-1>15</font></TD>
<!--			<TD><font size=-1>11</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href="#c84" data-toggle="modal">
				<font size=-1>천연물화학및실험             </font></TD>
        
				<TD align = center width=64><font size=-1>01911-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>
        
					<TD align = center width=64><font size=-1>박종혁</font></TD>
				
				<TD align = left><font size=-1>목6 금1, 2, 3         </font></TD>
				<TD align = left><font size=-1>식물-406, 식물-101      </font></TD>
				<TD align = center><font size=-1>15</font></TD>
<!--			<TD><font size=-1>9</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href="#c85" data-toggle="modal">
				<font size=-1>천연물화학및실험             </font></TD>
        
				<TD align = center width=64><font size=-1>01911-02</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>
        
					<TD align = center width=64><font size=-1>박종혁</font></TD>
				
				<TD align = left><font size=-1>목6 금4, 5, 6         </font></TD>
				<TD align = left><font size=-1>식물-406              </font></TD>
				<TD align = center><font size=-1>15</font></TD>
<!--			<TD><font size=-1>0</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>

				<TD align = left>
				<A href="#c86" data-toggle="modal">
				<font size=-1>기능성물질및향장품학           </font></TD>
        
				<TD align = center width=64><font size=-1>04882-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>차배천</font></TD>
				
				<TD align = left><font size=-1>월7, 8, 9            </font></TD>
				<TD align = left><font size=-1>한울관-306             </font></TD>
				<TD align = center><font size=-1>40</font></TD>
<!--			<TD><font size=-1>19</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>

				<TD align = left>
				<A href="#c87" data-toggle="modal">
				<font size=-1>독성학                  </font></TD>
        
				<TD align = center width=64><font size=-1>04885-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>이은</font></TD>
				
				<TD align = left><font size=-1>월1, 2, 3            </font></TD>
				<TD align = left><font size=-1>식물-406              </font></TD>
				<TD align = center><font size=-1>40</font></TD>
<!--			<TD><font size=-1>16</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>

				<TD align = left>
				<A href="#c88" data-toggle="modal">
				<font size=-1>약리학                  </font></TD>
        
				<TD align = center width=64><font size=-1>01228-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>박희준</font></TD>
				
				<TD align = left><font size=-1>수1, 2, 3            </font></TD>
				<TD align = left><font size=-1>한울관-306             </font></TD>
				<TD align = center><font size=-1>40</font></TD>
<!--			<TD><font size=-1>12</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>

				<TD align = left>
				<A href="#c89" data-toggle="modal">
				<font size=-1>약제학                  </font></TD>
        
				<TD align = center width=64><font size=-1>04881-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>황성희</font></TD>
				
				<TD align = left><font size=-1>화4, 5, 6            </font></TD>
				<TD align = left><font size=-1>한울관-307             </font></TD>
				<TD align = center><font size=-1>40</font></TD>
<!--			<TD><font size=-1>23</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
   </TABLE>

	<TABLE BORDER=0 WIDTH=700>
	<TR>
		<TD><center>
			<form action="javascript:window.print()"> 
					<input type="submit" value="인   쇄"> 
			</form> 

		</TD>
	</TR>

	<TR>
   <TD><font face="굴림" size="2">▶ 수강편람 수록 교양선택과목 수강제한 필독<br> -.각 전공(학과)에서 개설한 교양선택과목은 소속 학부 및 전공(학과) 전체 학년 학생의 경우 수강할 수 없음(복수전공학과 포함)</font></TD>
  	</TR>
	<TR>
   <TD><font face="굴림" size="2">▶ 전학기까지 이수과목 확인 후 수강신청함(중복수강 금지)</font></TD>
  	</TR>




  	</TABLE>

	</CENTER>
	</BODY>
   </HTML>




<!--    <center><font face="돋움" size="3" color="cccccc">ss00803</font></center>-->
  


