<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<META http-equiv=Cache-Control content=no-cache>
<META http-equiv=Expires content=0>
<META http-equiv=Pragma content=no-cache>
<meta http-equiv=Content-Type content="text/html;charset=euc-kr">
<LINK href="./main/util.htm" type=text/css rel=stylesheet>
<META content="MSHTML 6.00.2900.2769" name=GENERATOR>




<!친환경식물학부>





<script langauage="javascript"> 
<!-- 
function hidestatus(){ 
window.status='' 
return true 
} 

if (document.layers) 
document.captureEvents(Event.MOUSEOVER | Event.MOUSEOUT) 

document.onmouseover=hidestatus 
document.onmouseout=hidestatus 
//--> 
</script> 

</HEAD>

<STYLE type=text/css>BODY {
	FONT-SIZE: 9pt
}
FONT {
	FONT-SIZE: 9pt; LINE-HEIGHT: 16pt
}
A:link {
	TEXT-DECORATION: none
}
A:visited {
	TEXT-DECORATION: none
}
A:active {
	TEXT-DECORATION: none
}
</STYLE>

 



<!--2006.09.22 추가 park sang chul  -->
 <script language="javascript">
     	  function fnQues(){
// if(alert("교원 및 재학생은 홈페이지를 통하여 로그인 후 사용하세요.")){
 if(confirm("교원 및 재학생은 홈페이지를 통하여 로그인 후 사용하세요. 학적정보로 이동 하시겠습니까?",0)){
  parent.location.href = "http://hakjuk.sangji.ac.kr/index_direct.jsp"
//  parent.location.href = "http://www.sangji.ac.kr"
 }else{
  parent.location.href = "http://www.sangji.ac.kr"
  return;
 }

//	alert("홈페이지 로그인 후 사용하세요.");
//	parent.location.href = "http://www.sangji.ac.kr/user/sangji/sangji.jsp";

}
     </script>
<!------------------------------------->


      <script language="javascript">
//      alert("조교는 학부재학생 웹학적정보를 사용하실수 없습니다. 대학 홈페이지로 이동합니다..301 ");
//      parent.location.href = "http://www.sangji.ac.kr"
      </script> 
	  


<body background ="../main/back.jpg" text="black" link="blue" vlink="blue" alink="blue" onKeyDown="shiftkeydown();">



<!--
--  ***********************************************************************
--  procedure id : (ss00803) 개설과목 select 후 출력 
--  ***********************************************************************
-->

   <HTML>
           <BODY text="black" link="blue" vlink="purple" alink="red">
   <CENTER>
   


           <BODY TEXT="black" LINK="blue" VLINK="purple" ALINK="red">


	<BR>
	        <table BORDER="1"  cellspacing="0" bordercolordark="white" bordercolorlight="black" width="91%">
	<TR> 
           <th bgcolor=#98C4EF  height=20><font size=-1>구분</font></th>
           <th bgcolor=#98C4EF ><font size=-1>학년</font></th>
           <th bgcolor=#98C4EF ><font size=-1>교과목명</font></th>
           <th bgcolor=#98C4EF ><font size=-1>과목코드</font></th>
           <th bgcolor=#98C4EF ><font size=-1>학점</font></th>
           <th bgcolor=#98C4EF ><font size=-1>시간</font></th>
           <th bgcolor=#98C4EF ><font size=-1>교원명</font></th>
           <th bgcolor=#98C4EF ><font size=-1>강좌시간</font></th>
	        <th bgcolor=#98C4EF ><font size=-1>강의실</font></th>
	        <th bgcolor=#98C4EF ><font size=-1>정원</font></th>
<!--	        <th bgcolor=#98C4EF ><font size=-1>현재수강인원</font></th>-->
	        <th bgcolor=#98C4EF ><font size=-1>일반선택</font></th>
   </TR>


				<TR>
				<TD align = center width=32><font size=-1>학기</font></TD>
				<TD align = center width=32><font size=-1>1</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=04841&wsu15040=01&wsu15180=D15110&hakcode=3A1&wtemp=3A1000&hakyy=2016&hakgi=1">
				<font size=-1>녹지환경론               ...</font></TD>
        
				<TD align = center width=64><font size=-1>04841-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>김기남</font></TD>
				
				<TD align = left><font size=-1>금1, 2, 3            </font></TD>
				<TD align = left><font size=-1>식물-501              </font></TD>
				<TD align = center><font size=-1>80</font></TD>
<!--			<TD><font size=-1>58</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>학기</font></TD>
				<TD align = center width=32><font size=-1>1</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=03641&wsu15040=01&wsu15180=A95011&hakcode=3A1&wtemp=3A1000&hakyy=2016&hakgi=1">
				<font size=-1>유기농생태학개론            ...</font></TD>
        
				<TD align = center width=64><font size=-1>03641-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>류종원</font></TD>
				
				<TD align = left><font size=-1>화4, 5 수5            </font></TD>
				<TD align = left><font size=-1>식물-502              </font></TD>
				<TD align = center><font size=-1>80</font></TD>
<!--			<TD><font size=-1>51</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=03850&wsu15040=01&wsu15180=A13002&hakcode=3A1&wtemp=3A1000&hakyy=2016&hakgi=1">
				<font size=-1>분류생태학               ...</font></TD>
        
				<TD align = center width=64><font size=-1>03850-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>기경석</font></TD>
				
				<TD align = left><font size=-1>화7, 8 목4            </font></TD>
				<TD align = left><font size=-1>식물-501              </font></TD>
				<TD align = center><font size=-1>80</font></TD>
<!--			<TD><font size=-1>28</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=04786&wsu15040=01&wsu15180=A15702&hakcode=3A1&wtemp=3A1000&hakyy=2016&hakgi=1">
				<font size=-1>생태복원학               ...</font></TD>
        
				<TD align = center width=64><font size=-1>04786-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>윤세영</font></TD>
				
				<TD align = left><font size=-1>목1, 2, 3            </font></TD>
				<TD align = left><font size=-1>식물-501              </font></TD>
				<TD align = center><font size=-1>80</font></TD>
<!--			<TD><font size=-1>40</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=02846&wsu15040=01&wsu15180=A14703&hakcode=3A1&wtemp=3A1000&hakyy=2016&hakgi=1">
				<font size=-1>응용식물보호학             ...</font></TD>
        
				<TD align = center width=64><font size=-1>02846-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>곽태순</font></TD>
				
				<TD align = left><font size=-1>월1, 2, 3            </font></TD>
				<TD align = left><font size=-1>식물-501              </font></TD>
				<TD align = center><font size=-1>80</font></TD>
<!--			<TD><font size=-1>27</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=03849&wsu15040=01&wsu15180=D16023&hakcode=3A1&wtemp=3A1000&hakyy=2016&hakgi=1">
				<font size=-1>응용식물통계학             ...</font></TD>
        
				<TD align = center width=64><font size=-1>03849-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>송종은</font></TD>
				
				<TD align = left><font size=-1>화1, 2, 3            </font></TD>
				<TD align = left><font size=-1>동악-3111             </font></TD>
				<TD align = center><font size=-1>80</font></TD>
<!--			<TD><font size=-1>23</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=01708&wsu15040=01&wsu15180=A94012&hakcode=3A1&wtemp=3A1000&hakyy=2016&hakgi=1">
				<font size=-1>재배학원론               ...</font></TD>
        
				<TD align = center width=64><font size=-1>01708-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>이광회</font></TD>
				
				<TD align = left><font size=-1>수4 목5, 6            </font></TD>
				<TD align = left><font size=-1>식물-502              </font></TD>
				<TD align = center><font size=-1>80</font></TD>
<!--			<TD><font size=-1>37</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=04079&wsu15040=01&wsu15180=A94012&hakcode=3A1&wtemp=3A1000&hakyy=2016&hakgi=1">
				<font size=-1>경지식생관리학및실습          ...</font></TD>
        
				<TD align = center width=64><font size=-1>04079-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>
        
					<TD align = center width=64><font size=-1>이광회</font></TD>
				
				<TD align = left><font size=-1>화6, 7, 8, 9         </font></TD>
				<TD align = left><font size=-1>식물-301              </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>17</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=04219&wsu15040=01&wsu15180=A89014&hakcode=3A1&wtemp=3A1000&hakyy=2016&hakgi=1">
				<font size=-1>관광원예학               ...</font></TD>
        
				<TD align = center width=64><font size=-1>04219-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>임상철</font></TD>
				
				<TD align = left><font size=-1>수8 목2, 3            </font></TD>
				<TD align = left><font size=-1>식물-501, 식물-104      </font></TD>
				<TD align = center><font size=-1>28</font></TD>
<!--			<TD><font size=-1>26</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전필</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=04205&wsu15040=01&wsu15180=D16022&hakcode=3A1&wtemp=3A1000&hakyy=2016&hakgi=1">
				<font size=-1>유기농생태원예학및실습         ...</font></TD>
        
				<TD align = center width=64><font size=-1>04205-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>
        
					<TD align = center width=64><font size=-1>김유정</font></TD>
				
				<TD align = left><font size=-1>수6, 7, 8, 9         </font></TD>
				<TD align = left><font size=-1>식물-502              </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>17</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=05682&wsu15040=01&wsu15180=D15038&hakcode=3A1&wtemp=3A1000&hakyy=2016&hakgi=1">
				<font size=-1>유기농식품학              ...</font></TD>
        
				<TD align = center width=64><font size=-1>05682-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>박온서</font></TD>
				
				<TD align = left><font size=-1>수2, 3, 4            </font></TD>
				<TD align = left><font size=-1>식물-301              </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>26</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=04788&wsu15040=01&wsu15180=D16026&hakcode=3A1&wtemp=3A1000&hakyy=2016&hakgi=1">
				<font size=-1>정원설계및실습             ...</font></TD>
        
				<TD align = center width=64><font size=-1>04788-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>
        
					<TD align = center width=64><font size=-1>이재윤</font></TD>
				
				<TD align = left><font size=-1>화1, 2, 3, 4         </font></TD>
				<TD align = left><font size=-1>식물-5106             </font></TD>
				<TD align = center><font size=-1>28</font></TD>
<!--			<TD><font size=-1>27</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전필</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=04573&wsu15040=01&wsu15180=D16025&hakcode=3A1&wtemp=3A1000&hakyy=2016&hakgi=1">
				<font size=-1>조경계획학               ...</font></TD>
        
				<TD align = center width=64><font size=-1>04573-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>이용희</font></TD>
				
				<TD align = left><font size=-1>금2, 3, 4            </font></TD>
				<TD align = left><font size=-1>식물-502              </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>28</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=05021&wsu15040=01&wsu15180=A12703&hakcode=3A1&wtemp=3A1000&hakyy=2016&hakgi=1">
				<font size=-1>조경수목학               ...</font></TD>
        
				<TD align = center width=64><font size=-1>05021-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>이명선</font></TD>
				
				<TD align = left><font size=-1>목5, 6, 7            </font></TD>
				<TD align = left><font size=-1>식물-501              </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>28</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=05022&wsu15040=01&wsu15180=A13002&hakcode=3A1&wtemp=3A1000&hakyy=2016&hakgi=1">
				<font size=-1>조경시공구조학             ...</font></TD>
        
				<TD align = center width=64><font size=-1>05022-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>기경석</font></TD>
				
				<TD align = left><font size=-1>화9 수6, 7            </font></TD>
				<TD align = left><font size=-1>식물-501              </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>26</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전필</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=02851&wsu15040=01&wsu15180=A95011&hakcode=3A1&wtemp=3A1000&hakyy=2016&hakgi=1">
				<font size=-1>친환경미작및실습            ...</font></TD>
        
				<TD align = center width=64><font size=-1>02851-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>
        
					<TD align = center width=64><font size=-1>류종원</font></TD>
				
				<TD align = left><font size=-1>월1, 2, 3, 4         </font></TD>
				<TD align = left><font size=-1>식물-301              </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>17</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=05024&wsu15040=01&wsu15180=D16025&hakcode=3A1&wtemp=3A1000&hakyy=2016&hakgi=1">
				<font size=-1>컴퓨터응용조경설계           ...</font></TD>
        
				<TD align = center width=64><font size=-1>05024-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>
        
					<TD align = center width=64><font size=-1>이용희</font></TD>
				
				<TD align = left><font size=-1>수1, 2, 3, 4         </font></TD>
				<TD align = left><font size=-1>식물-5105             </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>1</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=04789&wsu15040=01&wsu15180=A16306&hakcode=3A1&wtemp=3A1000&hakyy=2016&hakgi=1">
				<font size=-1>토양비옥도관리학            ...</font></TD>
        
				<TD align = center width=64><font size=-1>04789-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>용석호</font></TD>
				
				<TD align = left><font size=-1>목1, 2, 3            </font></TD>
				<TD align = left><font size=-1>식물-502              </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>14</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=05545&wsu15040=01&wsu15180=D16024&hakcode=3A1&wtemp=3A1000&hakyy=2016&hakgi=1">
				<font size=-1>도시경관계획및실습           ...</font></TD>
        
				<TD align = center width=64><font size=-1>05545-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>
        
					<TD align = center width=64><font size=-1>백난영</font></TD>
				
				<TD align = left><font size=-1>목1, 2, 3, 4         </font></TD>
				<TD align = left><font size=-1>식물-5106             </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>12</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=02659&wsu15040=01&wsu15180=A89014&hakcode=3A1&wtemp=3A1000&hakyy=2016&hakgi=1">
				<font size=-1>시설원예학               ...</font></TD>
        
				<TD align = center width=64><font size=-1>02659-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>
        
					<TD align = center width=64><font size=-1>임상철</font></TD>
				
				<TD align = left><font size=-1>월8, 9 화5, 6         </font></TD>
				<TD align = left><font size=-1>식물-5106             </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>12</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전필</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=04790&wsu15040=01&wsu15180=A95011&hakcode=3A1&wtemp=3A1000&hakyy=2016&hakgi=1">
				<font size=-1>유기농자재생산및실습          ...</font></TD>
        
				<TD align = center width=64><font size=-1>04790-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>
        
					<TD align = center width=64><font size=-1>류종원</font></TD>
				
				<TD align = left><font size=-1>목1, 2, 3, 4         </font></TD>
				<TD align = left><font size=-1>식물-301              </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>19</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=05026&wsu15040=01&wsu15180=A13002&hakcode=3A1&wtemp=3A1000&hakyy=2016&hakgi=1">
				<font size=-1>졸업작품및논문             ...</font></TD>
        
				<TD align = center width=64><font size=-1>05026-01</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>팀티칭</font></TD>
				
				<TD align = left><font size=-1>월1, 2, 3            </font></TD>
				<TD align = left><font size=-1>식물-5106             </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>11</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=05539&wsu15040=01&wsu15180=D11067&hakcode=3A1&wtemp=3A1000&hakyy=2016&hakgi=1">
				<font size=-1>종자학                 ...</font></TD>
        
				<TD align = center width=64><font size=-1>05539-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>박영심</font></TD>
				
				<TD align = left><font size=-1>월2, 3, 4            </font></TD>
				<TD align = left><font size=-1>식물-502              </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>19</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=05712&wsu15040=01&wsu15180=D15038&hakcode=3A1&wtemp=3A1000&hakyy=2016&hakgi=1">
				<font size=-1>특용작물이용학및실습          ...</font></TD>
        
				<TD align = center width=64><font size=-1>05712-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>
        
					<TD align = center width=64><font size=-1>박온서</font></TD>
				
				<TD align = left><font size=-1>수6, 7, 8, 9         </font></TD>
				<TD align = left><font size=-1>식물-301              </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>17</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=05200&wsu15040=01&wsu15180=A89014&hakcode=3A1&wtemp=3A1000&hakyy=2016&hakgi=1">
				<font size=-1>현장실습                ...</font></TD>
        
				<TD align = center width=64><font size=-1>05200-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>팀티칭</font></TD>
				
				<TD align = left><font size=-1>수2, 3, 4            </font></TD>
				<TD align = left><font size=-1>식물-501              </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>13</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=02273&wsu15040=01&wsu15180=A16306&hakcode=3A1&wtemp=3A1000&hakyy=2016&hakgi=1">
				<font size=-1>환경생태학               ...</font></TD>
        
				<TD align = center width=64><font size=-1>02273-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>용석호</font></TD>
				
				<TD align = left><font size=-1>월7 수2,3             </font></TD>
				<TD align = left><font size=-1>식물-502              </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>6</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
   </TABLE>

	<TABLE BORDER=0 WIDTH=700>
	<TR>
		<TD><center>
			<form action="javascript:window.print()"> 
					<input type="submit" value="인   쇄"> 
			</form> 

		</TD>
	</TR>

	<TR>
   <TD><font face="굴림" size="2">▶ 수강편람 수록 교양선택과목 수강제한 필독<br> -.각 전공(학과)에서 개설한 교양선택과목은 소속 학부 및 전공(학과) 전체 학년 학생의 경우 수강할 수 없음(복수전공학과 포함)</font></TD>
  	</TR>
	<TR>
   <TD><font face="굴림" size="2">▶ 전학기까지 이수과목 확인 후 수강신청함(중복수강 금지)</font></TD>
  	</TR>




  	</TABLE>

	</CENTER>
	</BODY>
   </HTML>




<!--    <center><font face="돋움" size="3" color="cccccc">ss00803</font></center>-->
  


