<!--녹지환경론 시작-->
          <div class="modal modal-center fade" id="c161" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>녹지환경론</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>김기남</center></td>
                        			<td><center>금1,2,3</center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=561" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->
    
    <!--유기농생태학개론 시작-->
          <div class="modal modal-center fade" id="c162" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>유기농생태학개론</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>류종원</center></td>
                        			<td><center>화4,5 수5</center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=562" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->
    
    <!--분류생태학 시작-->
          <div class="modal modal-center fade" id="c163" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>분류생태학</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>기경석</center></td>
                        			<td><center화7,8 목4</center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=563" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->
    
    <!--생태복원학 시작-->
          <div class="modal modal-center fade" id="c164" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>생태복원학</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>윤세영</center></td>
                        			<td><center>목1,2,3</center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=564" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->
    
    <!--응용식물보호학 시작-->
          <div class="modal modal-center fade" id="c165" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>응용식물보호학</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>곽태순</center></td>
                        			<td><center>월1,2,3</center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=565" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->
    
    <!--응용식물통계학 시작-->
          <div class="modal modal-center fade" id="c166" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>응용식물통계학</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>송종은</center></td>
                        			<td><center>화1,2,3</center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=566" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->
    
    <!--재배학원론 시작-->
          <div class="modal modal-center fade" id="c167" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>재배학원론</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>이광회</center></td>
                        			<td><center>수4 목5,6</center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=567" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->
    
    <!--경지식생관리학및실습 시작-->
          <div class="modal modal-center fade" id="c168" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>경지식생관리학 및 실습</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>이광회</center></td>
                        			<td><center>화6,7,8,9</center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=568" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->
    
    <!--관광원예학 시작-->
          <div class="modal modal-center fade" id="c169" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>관광원예학</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>임상철</center></td>
                        			<td><center>수7 목2,3</center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=569" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->
    
    <!--유기농생태원예학및실습 시작-->
          <div class="modal modal-center fade" id="c170" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>유기농 생태원예학 및 실습</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>김유정</center></td>
                        			<td><center>수6,7,8,9</center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=570" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->
    
    <!--유기농식품학 시작-->
          <div class="modal modal-center fade" id="c171" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>유기농식품학</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>박온서</center></td>
                        			<td><center>수2,3,4</center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=571" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->
    
    <!--정원설계및실습 시작-->
          <div class="modal modal-center fade" id="c172" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>정원설계 및 실습</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>이재윤</center></td>
                        			<td><center>화1,2,3,4</center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=572" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->
    
    <!--조경계획학 시작-->
          <div class="modal modal-center fade" id="c173" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>조경계획학</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>이용희</center></td>
                        			<td><center>금2,3,4</center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=573" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->
    
    <!--조경수목학 시작-->
          <div class="modal modal-center fade" id="c174" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>조경수목학</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>이명선</center></td>
                        			<td><center>목5,6,7</center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=574" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->
    
    <!--조경시공구조학 시작-->
          <div class="modal modal-center fade" id="c175" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>조경시공 구조학</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>기경석</center></td>
                        			<td><center>화9 수6,7</center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=575" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->
    
    <!--친환경미작및실습 시작-->
          <div class="modal modal-center fade" id="c176" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>친환경미작 및 실습</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>류종원</center></td>
                        			<td><center>월1,2,3,4</center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=576" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->
    
    <!--컴퓨터응용조경설계 시작-->
          <div class="modal modal-center fade" id="c177" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>컴퓨터응용 조경설계</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>이용희</center></td>
                        			<td><center>수1,2,3,4</center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=577" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->
    
    <!--토양비옥도관리학 시작-->
          <div class="modal modal-center fade" id="c178" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>토양비옥도 관리학</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>용석호</center></td>
                        			<td><center>목1,2,3</center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=578" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->
    
    <!--도시경관계획및실습 시작-->
          <div class="modal modal-center fade" id="c179" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>도시경관계획 및 실습</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>백난영</center></td>
                        			<td><center>목1,2,3,4</center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=579" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->
    
    <!--시설원예학 시작-->
          <div class="modal modal-center fade" id="c180" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>시설원예학</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>임상철</center></td>
                        			<td><center>월8,9 화5,6</center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=580" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->
    
    <!--유기농자재생산및실습 시작-->
          <div class="modal modal-center fade" id="c181" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>유기농자재 생산 및 실습</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>류종원</center></td>
                        			<td><center>목1,2,3,4</center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=581" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->
    
    <!--졸업작품및논문 시작-->
          <div class="modal modal-center fade" id="c182" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>졸업작품및논문</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>팀티칭</center></td>
                        			<td><center>월1,2,3</center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=582" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->
    
    <!--종자학 시작-->
          <div class="modal modal-center fade" id="c183" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>종자학</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>박영심</center></td>
                        			<td><center>월2,3,4</center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=583" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->
    
    <!--특용작물이용학및실습 시작-->
          <div class="modal modal-center fade" id="c184" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>특용작물이용학 및 실습</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>박온서</center></td>
                        			<td><center>수6,7,8,9</center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=584" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->
    
    <!--현장실습 시작-->
          <div class="modal modal-center fade" id="c185" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>현장실습</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>팀티칭</center></td>
                        			<td><center>수2,3,4</center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=585" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->
    
    <!--환경생태학 시작-->
          <div class="modal modal-center fade" id="c186" tabindex="-1" role="dialog" aria-labelledby="my80sizeCenterModalLabel">
            <div class="modal-dialog modal-80size modal-center" role="document">
                <div class="modal-content modal-80size">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><center>환경생태학</center></h4>
                    </div>
                    <div class="modal-body">
                        <table align="center" class="table table-bordered">
                            <thead>
                                <tr>
                        		    <th><center>교수명</center></th>
                        			<center><th><center>강좌 시간<center></th></center>
                        			<center><th><center>학점<center></th></center>
                            	</tr>
		                    </thead>
                        	<tbody>
	                        	<tr>
                        			<td><center>용석호</center></td>
                        			<td><center>월7 수2,3</center></td>
                        			<td><center>3학점</center></td>
                        		</tr>

                        	</tbody>
                        </table>
                    </div>
                    <div id="fb-root">
                        <center>
                            <script>
                                (function(d, s, id)
                                {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s);
                                  js.id = id;
                                  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=282904155380852";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }
                                (document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-comments" data-href="http://connect.facebook.net/ko_KR/all.js#appId=282904155380852&amp;xfbml=586" data-numposts="5"></div>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    <!--무역학개론 끝-->
    
    
    


<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<META http-equiv=Cache-Control content=no-cache>
<META http-equiv=Expires content=0>
<META http-equiv=Pragma content=no-cache>
<meta http-equiv=Content-Type content="text/html;charset=euc-kr">
<LINK href="./main/util.htm" type=text/css rel=stylesheet>
<META content="MSHTML 6.00.2900.2769" name=GENERATOR>




<!친환경식물학부>





<script langauage="javascript"> 
<!-- 
function hidestatus(){ 
window.status='' 
return true 
} 

if (document.layers) 
document.captureEvents(Event.MOUSEOVER | Event.MOUSEOUT) 

document.onmouseover=hidestatus 
document.onmouseout=hidestatus 
//--> 
</script> 

</HEAD>

<STYLE type=text/css>BODY {
	FONT-SIZE: 9pt
}
FONT {
	FONT-SIZE: 9pt; LINE-HEIGHT: 16pt
}
A:link {
	TEXT-DECORATION: none
}
A:visited {
	TEXT-DECORATION: none
}
A:active {
	TEXT-DECORATION: none
}
</STYLE>

 



<!--2006.09.22 추가 park sang chul  -->
 <script language="javascript">
     	  function fnQues(){
// if(alert("교원 및 재학생은 홈페이지를 통하여 로그인 후 사용하세요.")){
 if(confirm("교원 및 재학생은 홈페이지를 통하여 로그인 후 사용하세요. 학적정보로 이동 하시겠습니까?",0)){
  parent.location.href = "http://hakjuk.sangji.ac.kr/index_direct.jsp"
//  parent.location.href = "http://www.sangji.ac.kr"
 }else{
  parent.location.href = "http://www.sangji.ac.kr"
  return;
 }

//	alert("홈페이지 로그인 후 사용하세요.");
//	parent.location.href = "http://www.sangji.ac.kr/user/sangji/sangji.jsp";

}
     </script>
<!------------------------------------->


      <script language="javascript">
//      alert("조교는 학부재학생 웹학적정보를 사용하실수 없습니다. 대학 홈페이지로 이동합니다..301 ");
//      parent.location.href = "http://www.sangji.ac.kr"
      </script> 
	  


<body background ="../main/back.jpg" text="black" link="blue" vlink="blue" alink="blue" onKeyDown="shiftkeydown();">



<!--
--  ***********************************************************************
--  procedure id : (ss00803) 개설과목 select 후 출력 
--  ***********************************************************************
-->

   <HTML>
           <BODY text="black" link="blue" vlink="purple" alink="red">
   <CENTER>
   


           <BODY TEXT="black" LINK="blue" VLINK="purple" ALINK="red">


	<BR>
	        <table BORDER="1"  cellspacing="0" bordercolordark="white" bordercolorlight="black" width="91%">
	<TR> 
           <th bgcolor=#98C4EF  height=20><font size=-1>구분</font></th>
           <th bgcolor=#98C4EF ><font size=-1>학년</font></th>
           <th bgcolor=#98C4EF ><font size=-1>교과목명</font></th>
           <th bgcolor=#98C4EF ><font size=-1>과목코드</font></th>
           <th bgcolor=#98C4EF ><font size=-1>학점</font></th>
           <th bgcolor=#98C4EF ><font size=-1>시간</font></th>
           <th bgcolor=#98C4EF ><font size=-1>교원명</font></th>
           <th bgcolor=#98C4EF ><font size=-1>강좌시간</font></th>
	        <th bgcolor=#98C4EF ><font size=-1>강의실</font></th>
	        <th bgcolor=#98C4EF ><font size=-1>정원</font></th>
<!--	        <th bgcolor=#98C4EF ><font size=-1>현재수강인원</font></th>-->
	        <th bgcolor=#98C4EF ><font size=-1>일반선택</font></th>
   </TR>


				<TR>
				<TD align = center width=32><font size=-1>학기</font></TD>
				<TD align = center width=32><font size=-1>1</font></TD>

				<TD align = left>
				<A href="#c161" data-toggle="modal">
				<font size=-1>녹지환경론               ...</font></TD>
        
				<TD align = center width=64><font size=-1>04841-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>김기남</font></TD>
				
				<TD align = left><font size=-1>금1, 2, 3            </font></TD>
				<TD align = left><font size=-1>식물-501              </font></TD>
				<TD align = center><font size=-1>80</font></TD>
<!--			<TD><font size=-1>58</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>학기</font></TD>
				<TD align = center width=32><font size=-1>1</font></TD>

				<TD align = left>
				<A href="#c162" data-toggle="modal">
				<font size=-1>유기농생태학개론            ...</font></TD>
        
				<TD align = center width=64><font size=-1>03641-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>류종원</font></TD>
				
				<TD align = left><font size=-1>화4, 5 수5            </font></TD>
				<TD align = left><font size=-1>식물-502              </font></TD>
				<TD align = center><font size=-1>80</font></TD>
<!--			<TD><font size=-1>51</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>

				<TD align = left>
				<A href="#c163" data-toggle="modal">
				<font size=-1>분류생태학               ...</font></TD>
        
				<TD align = center width=64><font size=-1>03850-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>기경석</font></TD>
				
				<TD align = left><font size=-1>화7, 8 목4            </font></TD>
				<TD align = left><font size=-1>식물-501              </font></TD>
				<TD align = center><font size=-1>80</font></TD>
<!--			<TD><font size=-1>28</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>

				<TD align = left>
				<A href="#c164" data-toggle="modal">
				<font size=-1>생태복원학               ...</font></TD>
        
				<TD align = center width=64><font size=-1>04786-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>윤세영</font></TD>
				
				<TD align = left><font size=-1>목1, 2, 3            </font></TD>
				<TD align = left><font size=-1>식물-501              </font></TD>
				<TD align = center><font size=-1>80</font></TD>
<!--			<TD><font size=-1>40</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>

				<TD align = left>
				<A href="#c165" data-toggle="modal">
				<font size=-1>응용식물보호학             ...</font></TD>
        
				<TD align = center width=64><font size=-1>02846-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>곽태순</font></TD>
				
				<TD align = left><font size=-1>월1, 2, 3            </font></TD>
				<TD align = left><font size=-1>식물-501              </font></TD>
				<TD align = center><font size=-1>80</font></TD>
<!--			<TD><font size=-1>27</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>

				<TD align = left>
				<A href="#c166" data-toggle="modal">
				<font size=-1>응용식물통계학             ...</font></TD>
        
				<TD align = center width=64><font size=-1>03849-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>송종은</font></TD>
				
				<TD align = left><font size=-1>화1, 2, 3            </font></TD>
				<TD align = left><font size=-1>동악-3111             </font></TD>
				<TD align = center><font size=-1>80</font></TD>
<!--			<TD><font size=-1>23</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>

				<TD align = left>
				<A href="#c167" data-toggle="modal">
				<font size=-1>재배학원론               ...</font></TD>
        
				<TD align = center width=64><font size=-1>01708-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>이광회</font></TD>
				
				<TD align = left><font size=-1>수4 목5, 6            </font></TD>
				<TD align = left><font size=-1>식물-502              </font></TD>
				<TD align = center><font size=-1>80</font></TD>
<!--			<TD><font size=-1>37</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
			<A href="#c168" data-toggle="modal">
				<font size=-1>경지식생관리학및실습          ...</font></TD>
        
				<TD align = center width=64><font size=-1>04079-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>
        
					<TD align = center width=64><font size=-1>이광회</font></TD>
				
				<TD align = left><font size=-1>화6, 7, 8, 9         </font></TD>
				<TD align = left><font size=-1>식물-301              </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>17</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href="#c169" data-toggle="modal">
				<font size=-1>관광원예학               ...</font></TD>
        
				<TD align = center width=64><font size=-1>04219-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>임상철</font></TD>
				
				<TD align = left><font size=-1>수8 목2, 3            </font></TD>
				<TD align = left><font size=-1>식물-501, 식물-104      </font></TD>
				<TD align = center><font size=-1>28</font></TD>
<!--			<TD><font size=-1>26</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전필</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
			<A href="#c170" data-toggle="modal">
				<font size=-1>유기농생태원예학및실습         ...</font></TD>
        
				<TD align = center width=64><font size=-1>04205-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>
        
					<TD align = center width=64><font size=-1>김유정</font></TD>
				
				<TD align = left><font size=-1>수6, 7, 8, 9         </font></TD>
				<TD align = left><font size=-1>식물-502              </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>17</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href="#c171" data-toggle="modal">
				<font size=-1>유기농식품학              ...</font></TD>
        
				<TD align = center width=64><font size=-1>05682-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>박온서</font></TD>
				
				<TD align = left><font size=-1>수2, 3, 4            </font></TD>
				<TD align = left><font size=-1>식물-301              </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>26</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
			<A href="#c172" data-toggle="modal">
				<font size=-1>정원설계및실습             ...</font></TD>
        
				<TD align = center width=64><font size=-1>04788-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>
        
					<TD align = center width=64><font size=-1>이재윤</font></TD>
				
				<TD align = left><font size=-1>화1, 2, 3, 4         </font></TD>
				<TD align = left><font size=-1>식물-5106             </font></TD>
				<TD align = center><font size=-1>28</font></TD>
<!--			<TD><font size=-1>27</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전필</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href="#c173" data-toggle="modal">
				<font size=-1>조경계획학               ...</font></TD>
        
				<TD align = center width=64><font size=-1>04573-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>이용희</font></TD>
				
				<TD align = left><font size=-1>금2, 3, 4            </font></TD>
				<TD align = left><font size=-1>식물-502              </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>28</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href="#c174" data-toggle="modal">
				<font size=-1>조경수목학               ...</font></TD>
        
				<TD align = center width=64><font size=-1>05021-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>이명선</font></TD>
				
				<TD align = left><font size=-1>목5, 6, 7            </font></TD>
				<TD align = left><font size=-1>식물-501              </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>28</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href="#c175" data-toggle="modal">
				<font size=-1>조경시공구조학             ...</font></TD>
        
				<TD align = center width=64><font size=-1>05022-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>기경석</font></TD>
				
				<TD align = left><font size=-1>화9 수6, 7            </font></TD>
				<TD align = left><font size=-1>식물-501              </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>26</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전필</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href="#c176" data-toggle="modal">
				<font size=-1>친환경미작및실습            ...</font></TD>
        
				<TD align = center width=64><font size=-1>02851-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>
        
					<TD align = center width=64><font size=-1>류종원</font></TD>
				
				<TD align = left><font size=-1>월1, 2, 3, 4         </font></TD>
				<TD align = left><font size=-1>식물-301              </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>17</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href="#c177" data-toggle="modal">
				<font size=-1>컴퓨터응용조경설계           ...</font></TD>
        
				<TD align = center width=64><font size=-1>05024-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>
        
					<TD align = center width=64><font size=-1>이용희</font></TD>
				
				<TD align = left><font size=-1>수1, 2, 3, 4         </font></TD>
				<TD align = left><font size=-1>식물-5105             </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>1</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href="#c178" data-toggle="modal">
				<font size=-1>토양비옥도관리학            ...</font></TD>
        
				<TD align = center width=64><font size=-1>04789-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>용석호</font></TD>
				
				<TD align = left><font size=-1>목1, 2, 3            </font></TD>
				<TD align = left><font size=-1>식물-502              </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>14</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>

				<TD align = left>
				<A href="#c179" data-toggle="modal">
				<font size=-1>도시경관계획및실습           ...</font></TD>
        
				<TD align = center width=64><font size=-1>05545-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>
        
					<TD align = center width=64><font size=-1>백난영</font></TD>
				
				<TD align = left><font size=-1>목1, 2, 3, 4         </font></TD>
				<TD align = left><font size=-1>식물-5106             </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>12</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>

				<TD align = left>
				<A href="#c180" data-toggle="modal">
				<font size=-1>시설원예학               ...</font></TD>
        
				<TD align = center width=64><font size=-1>02659-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>
        
					<TD align = center width=64><font size=-1>임상철</font></TD>
				
				<TD align = left><font size=-1>월8, 9 화5, 6         </font></TD>
				<TD align = left><font size=-1>식물-5106             </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>12</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전필</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>

				<TD align = left>
				<A href="#c181" data-toggle="modal">
				<font size=-1>유기농자재생산및실습          ...</font></TD>
        
				<TD align = center width=64><font size=-1>04790-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>
        
					<TD align = center width=64><font size=-1>류종원</font></TD>
				
				<TD align = left><font size=-1>목1, 2, 3, 4         </font></TD>
				<TD align = left><font size=-1>식물-301              </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>19</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>

				<TD align = left>
				<A href="#c182" data-toggle="modal">
				<font size=-1>졸업작품및논문             ...</font></TD>
        
				<TD align = center width=64><font size=-1>05026-01</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>팀티칭</font></TD>
				
				<TD align = left><font size=-1>월1, 2, 3            </font></TD>
				<TD align = left><font size=-1>식물-5106             </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>11</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>

				<TD align = left>
				<A href="#c183" data-toggle="modal">
				<font size=-1>종자학                 ...</font></TD>
        
				<TD align = center width=64><font size=-1>05539-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>박영심</font></TD>
				
				<TD align = left><font size=-1>월2, 3, 4            </font></TD>
				<TD align = left><font size=-1>식물-502              </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>19</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>

				<TD align = left>
				<A href="#c184" data-toggle="modal">
				<font size=-1>특용작물이용학및실습          ...</font></TD>
        
				<TD align = center width=64><font size=-1>05712-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>
        
					<TD align = center width=64><font size=-1>박온서</font></TD>
				
				<TD align = left><font size=-1>수6, 7, 8, 9         </font></TD>
				<TD align = left><font size=-1>식물-301              </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>17</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>

				<TD align = left>
				<A href="#c185" data-toggle="modal">
				<font size=-1>현장실습                ...</font></TD>
        
				<TD align = center width=64><font size=-1>05200-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>팀티칭</font></TD>
				
				<TD align = left><font size=-1>수2, 3, 4            </font></TD>
				<TD align = left><font size=-1>식물-501              </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>13</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>

				<TD align = left>
				<A href="#c186" data-toggle="modal">
				<font size=-1>환경생태학               ...</font></TD>
        
				<TD align = center width=64><font size=-1>02273-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>용석호</font></TD>
				
				<TD align = left><font size=-1>월7 수2,3             </font></TD>
				<TD align = left><font size=-1>식물-502              </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>6</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
   </TABLE>

	<TABLE BORDER=0 WIDTH=700>
	<TR>
		<TD><center>
			<form action="javascript:window.print()"> 
					<input type="submit" value="인   쇄"> 
			</form> 

		</TD>
	</TR>

	<TR>
   <TD><font face="굴림" size="2">▶ 수강편람 수록 교양선택과목 수강제한 필독<br> -.각 전공(학과)에서 개설한 교양선택과목은 소속 학부 및 전공(학과) 전체 학년 학생의 경우 수강할 수 없음(복수전공학과 포함)</font></TD>
  	</TR>
	<TR>
   <TD><font face="굴림" size="2">▶ 전학기까지 이수과목 확인 후 수강신청함(중복수강 금지)</font></TD>
  	</TR>




  	</TABLE>

	</CENTER>
	</BODY>
   </HTML>




<!--    <center><font face="돋움" size="3" color="cccccc">ss00803</font></center>-->
  


