<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<META http-equiv=Cache-Control content=no-cache>
<META http-equiv=Expires content=0>
<META http-equiv=Pragma content=no-cache>
<meta http-equiv=Content-Type content="text/html;charset=euc-kr">
<LINK href="./main/util.htm" type=text/css rel=stylesheet>
<META content="MSHTML 6.00.2900.2769" name=GENERATOR>


<!컴퓨터정보공학부>







<script langauage="javascript"> 
<!-- 
function hidestatus(){ 
window.status='' 
return true 
} 

if (document.layers) 
document.captureEvents(Event.MOUSEOVER | Event.MOUSEOUT) 

document.onmouseover=hidestatus 
document.onmouseout=hidestatus 
//--> 
</script> 

</HEAD>

<STYLE type=text/css>BODY {
	FONT-SIZE: 9pt
}
FONT {
	FONT-SIZE: 9pt; LINE-HEIGHT: 16pt
}
A:link {
	TEXT-DECORATION: none
}
A:visited {
	TEXT-DECORATION: none
}
A:active {
	TEXT-DECORATION: none
}
</STYLE>

 



<!--2006.09.22 추가 park sang chul  -->
 <script language="javascript">
     	  function fnQues(){
// if(alert("교원 및 재학생은 홈페이지를 통하여 로그인 후 사용하세요.")){
 if(confirm("교원 및 재학생은 홈페이지를 통하여 로그인 후 사용하세요. 학적정보로 이동 하시겠습니까?",0)){
  parent.location.href = "http://hakjuk.sangji.ac.kr/index_direct.jsp"
//  parent.location.href = "http://www.sangji.ac.kr"
 }else{
  parent.location.href = "http://www.sangji.ac.kr"
  return;
 }

//	alert("홈페이지 로그인 후 사용하세요.");
//	parent.location.href = "http://www.sangji.ac.kr/user/sangji/sangji.jsp";

}
     </script>
<!------------------------------------->


      <script language="javascript">
//      alert("조교는 학부재학생 웹학적정보를 사용하실수 없습니다. 대학 홈페이지로 이동합니다..301 ");
//      parent.location.href = "http://www.sangji.ac.kr"
      </script> 
	  


<body background ="../main/back.jpg" text="black" link="blue" vlink="blue" alink="blue" onKeyDown="shiftkeydown();">



<!--
--  ***********************************************************************
--  procedure id : (ss00803) 개설과목 select 후 출력 
--  ***********************************************************************
-->

   <HTML>
           <BODY text="black" link="blue" vlink="purple" alink="red">
   <CENTER>
   


           <BODY TEXT="black" LINK="blue" VLINK="purple" ALINK="red">


	<BR>
	        <table BORDER="1"  cellspacing="0" bordercolordark="white" bordercolorlight="black" width="91%">
	<TR> 
           <th bgcolor=#98C4EF  height=20><font size=-1>구분</font></th>
           <th bgcolor=#98C4EF ><font size=-1>학년</font></th>
           <th bgcolor=#98C4EF ><font size=-1>교과목명</font></th>
           <th bgcolor=#98C4EF ><font size=-1>과목코드</font></th>
           <th bgcolor=#98C4EF ><font size=-1>학점</font></th>
           <th bgcolor=#98C4EF ><font size=-1>시간</font></th>
           <th bgcolor=#98C4EF ><font size=-1>교원명</font></th>
           <th bgcolor=#98C4EF ><font size=-1>강좌시간</font></th>
	        <th bgcolor=#98C4EF ><font size=-1>강의실</font></th>
	        <th bgcolor=#98C4EF ><font size=-1>정원</font></th>
<!--	        <th bgcolor=#98C4EF ><font size=-1>현재수강인원</font></th>-->
	        <th bgcolor=#98C4EF ><font size=-1>일반선택</font></th>
   </TR>


				<TR>
				<TD align = center width=32><font size=-1>학기</font></TD>
				<TD align = center width=32><font size=-1>1</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=02797&wsu15040=01&wsu15180=A06009&hakcode=4R1&wtemp=4R1000&hakyy=2016&hakgi=1">
				<font size=-1>기초프로그래밍1            ...</font></TD>
        
				<TD align = center width=64><font size=-1>02797-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>정경용</font></TD>
				
				<TD align = left><font size=-1>화5, 6, 7            </font></TD>
				<TD align = left><font size=-1>예술-401              </font></TD>
				<TD align = center><font size=-1>40</font></TD>
<!--			<TD><font size=-1>40</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>학기</font></TD>
				<TD align = center width=32><font size=-1>1</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=02797&wsu15040=05&wsu15180=A91005&hakcode=4R1&wtemp=4R1000&hakyy=2016&hakgi=1">
				<font size=-1>기초프로그래밍1            ...</font></TD>
        
				<TD align = center width=64><font size=-1>02797-05</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>송동웅</font></TD>
				
				<TD align = left><font size=-1>월7, 8, 9            </font></TD>
				<TD align = left><font size=-1>이공1-308, 과학-3106    </font></TD>
				<TD align = center><font size=-1>0</font></TD>
<!--			<TD><font size=-1>49</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>학기</font></TD>
				<TD align = center width=32><font size=-1>1</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=02797&wsu15040=06&wsu15180=A92010&hakcode=4R1&wtemp=4R1000&hakyy=2016&hakgi=1">
				<font size=-1>기초프로그래밍1            ...</font></TD>
        
				<TD align = center width=64><font size=-1>02797-06</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>박달호</font></TD>
				
				<TD align = left><font size=-1>화7, 8, 9            </font></TD>
				<TD align = left><font size=-1>동악-2109             </font></TD>
				<TD align = center><font size=-1>0</font></TD>
<!--			<TD><font size=-1>32</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>학기</font></TD>
				<TD align = center width=32><font size=-1>1</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=02797&wsu15040=04&wsu15180=A06010&hakcode=4R1&wtemp=4R1000&hakyy=2016&hakgi=1">
				<font size=-1>기초프로그래밍1            ...</font></TD>
        
				<TD align = center width=64><font size=-1>02797-04</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>김성호</font></TD>
				
				<TD align = left><font size=-1>목1, 2, 3            </font></TD>
				<TD align = left><font size=-1>민주-205              </font></TD>
				<TD align = center><font size=-1>40</font></TD>
<!--			<TD><font size=-1>36</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>학기</font></TD>
				<TD align = center width=32><font size=-1>1</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=02797&wsu15040=03&wsu15180=A06010&hakcode=4R1&wtemp=4R1000&hakyy=2016&hakgi=1">
				<font size=-1>기초프로그래밍1            ...</font></TD>
        
				<TD align = center width=64><font size=-1>02797-03</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>김성호</font></TD>
				
				<TD align = left><font size=-1>월1, 2, 3            </font></TD>
				<TD align = left><font size=-1>민주-205              </font></TD>
				<TD align = center><font size=-1>40</font></TD>
<!--			<TD><font size=-1>20</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>학기</font></TD>
				<TD align = center width=32><font size=-1>1</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=02797&wsu15040=02&wsu15180=A06009&hakcode=4R1&wtemp=4R1000&hakyy=2016&hakgi=1">
				<font size=-1>기초프로그래밍1            ...</font></TD>
        
				<TD align = center width=64><font size=-1>02797-02</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>정경용</font></TD>
				
				<TD align = left><font size=-1>수7, 8, 9            </font></TD>
				<TD align = left><font size=-1>민주-205              </font></TD>
				<TD align = center><font size=-1>40</font></TD>
<!--			<TD><font size=-1>19</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>학기</font></TD>
				<TD align = center width=32><font size=-1>1</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=03926&wsu15040=02&wsu15180=D15042&hakcode=4R1&wtemp=4R1000&hakyy=2016&hakgi=1">
				<font size=-1>정보통신공학입문            ...</font></TD>
        
				<TD align = center width=64><font size=-1>03926-02</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>정호일</font></TD>
				
				<TD align = left><font size=-1>화1, 2, 3            </font></TD>
				<TD align = left><font size=-1>예술-408              </font></TD>
				<TD align = center><font size=-1>80</font></TD>
<!--			<TD><font size=-1>74</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>학기</font></TD>
				<TD align = center width=32><font size=-1>1</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=03926&wsu15040=01&wsu15180=A16812&hakcode=4R1&wtemp=4R1000&hakyy=2016&hakgi=1">
				<font size=-1>정보통신공학입문            ...</font></TD>
        
				<TD align = center width=64><font size=-1>03926-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>김형수</font></TD>
				
				<TD align = left><font size=-1>월1, 2, 3            </font></TD>
				<TD align = left><font size=-1>예술-408              </font></TD>
				<TD align = center><font size=-1>80</font></TD>
<!--			<TD><font size=-1>41</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=03927&wsu15040=02&wsu15180=A16331&hakcode=4R1&wtemp=4R1000&hakyy=2016&hakgi=1">
				<font size=-1>고급프로그래밍실습Ⅰ          ...</font></TD>
        
				<TD align = center width=64><font size=-1>03927-02</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>
        
					<TD align = center width=64><font size=-1>이영아</font></TD>
				
				<TD align = left><font size=-1>금1, 2, 3, 4         </font></TD>
				<TD align = left><font size=-1>민주-111              </font></TD>
				<TD align = center><font size=-1>46</font></TD>
<!--			<TD><font size=-1>39</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=03927&wsu15040=01&wsu15180=A00010&hakcode=4R1&wtemp=4R1000&hakyy=2016&hakgi=1">
				<font size=-1>고급프로그래밍실습Ⅰ          ...</font></TD>
        
				<TD align = center width=64><font size=-1>03927-01</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>
        
					<TD align = center width=64><font size=-1>유문성</font></TD>
				
				<TD align = left><font size=-1>화1, 2, 3, 4         </font></TD>
				<TD align = left><font size=-1>민주-111              </font></TD>
				<TD align = center><font size=-1>46</font></TD>
<!--			<TD><font size=-1>45</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=03370&wsu15040=01&wsu15180=A96009&hakcode=4R1&wtemp=4R1000&hakyy=2016&hakgi=1">
				<font size=-1>논리회로및실험             ...</font></TD>
        
				<TD align = center width=64><font size=-1>03370-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>
        
					<TD align = center width=64><font size=-1>한영환</font></TD>
				
				<TD align = left><font size=-1>월1, 2, 3, 4         </font></TD>
				<TD align = left><font size=-1>예술-501              </font></TD>
				<TD align = center><font size=-1>48</font></TD>
<!--			<TD><font size=-1>46</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=03370&wsu15040=02&wsu15180=A96009&hakcode=4R1&wtemp=4R1000&hakyy=2016&hakgi=1">
				<font size=-1>논리회로및실험             ...</font></TD>
        
				<TD align = center width=64><font size=-1>03370-02</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>
        
					<TD align = center width=64><font size=-1>한영환</font></TD>
				
				<TD align = left><font size=-1>화1, 2, 3, 4         </font></TD>
				<TD align = left><font size=-1>예술-501              </font></TD>
				<TD align = center><font size=-1>48</font></TD>
<!--			<TD><font size=-1>40</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=03369&wsu15040=01&wsu15180=A06010&hakcode=4R1&wtemp=4R1000&hakyy=2016&hakgi=1">
				<font size=-1>어셈블리프로그래밍           ...</font></TD>
        
				<TD align = center width=64><font size=-1>03369-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>김성호</font></TD>
				
				<TD align = left><font size=-1>목7, 8, 9            </font></TD>
				<TD align = left><font size=-1>민주-111              </font></TD>
				<TD align = center><font size=-1>46</font></TD>
<!--			<TD><font size=-1>42</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=03369&wsu15040=02&wsu15180=A94024&hakcode=4R1&wtemp=4R1000&hakyy=2016&hakgi=1">
				<font size=-1>어셈블리프로그래밍           ...</font></TD>
        
				<TD align = center width=64><font size=-1>03369-02</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>차영환</font></TD>
				
				<TD align = left><font size=-1>수4, 5, 6            </font></TD>
				<TD align = left><font size=-1>민주-111              </font></TD>
				<TD align = center><font size=-1>46</font></TD>
<!--			<TD><font size=-1>44</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=01522&wsu15040=01&wsu15180=A00010&hakcode=4R1&wtemp=4R1000&hakyy=2016&hakgi=1">
				<font size=-1>이산구조                ...</font></TD>
        
				<TD align = center width=64><font size=-1>01522-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>유문성</font></TD>
				
				<TD align = left><font size=-1>화7 수8, 9            </font></TD>
				<TD align = left><font size=-1>민주-111, 예술-408      </font></TD>
				<TD align = center><font size=-1>47</font></TD>
<!--			<TD><font size=-1>13</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=01522&wsu15040=02&wsu15180=A00010&hakcode=4R1&wtemp=4R1000&hakyy=2016&hakgi=1">
				<font size=-1>이산구조                ...</font></TD>
        
				<TD align = center width=64><font size=-1>01522-02</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>유문성</font></TD>
				
				<TD align = left><font size=-1>화8, 9 수7            </font></TD>
				<TD align = left><font size=-1>민주-111, 예술-408      </font></TD>
				<TD align = center><font size=-1>47</font></TD>
<!--			<TD><font size=-1>12</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=03520&wsu15040=01&wsu15180=A07003&hakcode=4R1&wtemp=4R1000&hakyy=2016&hakgi=1">
				<font size=-1>통신이론                ...</font></TD>
        
				<TD align = center width=64><font size=-1>03520-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>이우범</font></TD>
				
				<TD align = left><font size=-1>화6 목4, 5            </font></TD>
				<TD align = left><font size=-1>예술-408              </font></TD>
				<TD align = center><font size=-1>60</font></TD>
<!--			<TD><font size=-1>59</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=03520&wsu15040=02&wsu15180=A07003&hakcode=4R1&wtemp=4R1000&hakyy=2016&hakgi=1">
				<font size=-1>통신이론                ...</font></TD>
        
				<TD align = center width=64><font size=-1>03520-02</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>이우범</font></TD>
				
				<TD align = left><font size=-1>화7, 8 목6            </font></TD>
				<TD align = left><font size=-1>예술-408              </font></TD>
				<TD align = center><font size=-1>60</font></TD>
<!--			<TD><font size=-1>34</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=00486&wsu15040=01&wsu15180=A94024&hakcode=4R1&wtemp=4R1000&hakyy=2016&hakgi=1">
				<font size=-1>데이터통신               ...</font></TD>
        
				<TD align = center width=64><font size=-1>00486-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>차영환</font></TD>
				
				<TD align = left><font size=-1>월2, 3 화6            </font></TD>
				<TD align = left><font size=-1>민주-107              </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>25</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=00486&wsu15040=02&wsu15180=A94024&hakcode=4R1&wtemp=4R1000&hakyy=2016&hakgi=1">
				<font size=-1>데이터통신               ...</font></TD>
        
				<TD align = center width=64><font size=-1>00486-02</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>차영환</font></TD>
				
				<TD align = left><font size=-1>화2, 3 목6            </font></TD>
				<TD align = left><font size=-1>민주-107, 민주-111      </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>24</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=03149&wsu15040=01&wsu15180=A96009&hakcode=4R1&wtemp=4R1000&hakyy=2016&hakgi=1">
				<font size=-1>디지털시스템              ...</font></TD>
        
				<TD align = center width=64><font size=-1>03149-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>한영환</font></TD>
				
				<TD align = left><font size=-1>화7 수2, 3            </font></TD>
				<TD align = left><font size=-1>예술-501, 예술-601      </font></TD>
				<TD align = center><font size=-1>45</font></TD>
<!--			<TD><font size=-1>15</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=03149&wsu15040=02&wsu15180=A96009&hakcode=4R1&wtemp=4R1000&hakyy=2016&hakgi=1">
				<font size=-1>디지털시스템              ...</font></TD>
        
				<TD align = center width=64><font size=-1>03149-02</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>한영환</font></TD>
				
				<TD align = left><font size=-1>화8, 9 목1            </font></TD>
				<TD align = left><font size=-1>예술-501, 예술-601      </font></TD>
				<TD align = center><font size=-1>45</font></TD>
<!--			<TD><font size=-1>0</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=03939&wsu15040=01&wsu15180=A91002&hakcode=4R1&wtemp=4R1000&hakyy=2016&hakgi=1">
				<font size=-1>멀티미디어실습             ...</font></TD>
        
				<TD align = center width=64><font size=-1>03939-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>홍유식</font></TD>
				
				<TD align = left><font size=-1>수7, 8, 9            </font></TD>
				<TD align = left><font size=-1>민주-111              </font></TD>
				<TD align = center><font size=-1>46</font></TD>
<!--			<TD><font size=-1>24</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전필</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=03523&wsu15040=01&wsu15180=A07003&hakcode=4R1&wtemp=4R1000&hakyy=2016&hakgi=1">
				<font size=-1>무선통신                ...</font></TD>
        
				<TD align = center width=64><font size=-1>03523-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>이우범</font></TD>
				
				<TD align = left><font size=-1>월4 화4, 5            </font></TD>
				<TD align = left><font size=-1>예술-408              </font></TD>
				<TD align = center><font size=-1>60</font></TD>
<!--			<TD><font size=-1>31</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=01064&wsu15040=01&wsu15180=A00010&hakcode=4R1&wtemp=4R1000&hakyy=2016&hakgi=1">
				<font size=-1>소프트웨어공학             ...</font></TD>
        
				<TD align = center width=64><font size=-1>01064-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>유문성</font></TD>
				
				<TD align = left><font size=-1>월4 목7, 8            </font></TD>
				<TD align = left><font size=-1>민주-111, 예술-408      </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>19</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=03930&wsu15040=01&wsu15180=A16303&hakcode=4R1&wtemp=4R1000&hakyy=2016&hakgi=1">
				<font size=-1>시스템소프트웨어            ...</font></TD>
        
				<TD align = center width=64><font size=-1>03930-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>홍석미</font></TD>
				
				<TD align = left><font size=-1>월7, 8, 9            </font></TD>
				<TD align = left><font size=-1>민주-205              </font></TD>
				<TD align = center><font size=-1>40</font></TD>
<!--			<TD><font size=-1>30</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=03930&wsu15040=02&wsu15180=A06010&hakcode=4R1&wtemp=4R1000&hakyy=2016&hakgi=1">
				<font size=-1>시스템소프트웨어            ...</font></TD>
        
				<TD align = center width=64><font size=-1>03930-02</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>김성호</font></TD>
				
				<TD align = left><font size=-1>수1, 2, 3            </font></TD>
				<TD align = left><font size=-1>예술-401              </font></TD>
				<TD align = center><font size=-1>40</font></TD>
<!--			<TD><font size=-1>20</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=03517&wsu15040=01&wsu15180=A92011&hakcode=4R1&wtemp=4R1000&hakyy=2016&hakgi=1">
				<font size=-1>시스템시뮬레이션실습          ...</font></TD>
        
				<TD align = center width=64><font size=-1>03517-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>김종수</font></TD>
				
				<TD align = left><font size=-1>수4, 5, 6            </font></TD>
				<TD align = left><font size=-1>예술-401              </font></TD>
				<TD align = center><font size=-1>47</font></TD>
<!--			<TD><font size=-1>29</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=03510&wsu15040=01&wsu15180=A94024&hakcode=4R1&wtemp=4R1000&hakyy=2016&hakgi=1">
				<font size=-1>알고리즘설계및분석           ...</font></TD>
        
				<TD align = center width=64><font size=-1>03510-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>차영환</font></TD>
				
				<TD align = left><font size=-1>화5 목4, 5            </font></TD>
				<TD align = left><font size=-1>민주-107, 민주-111      </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>37</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전필</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=03154&wsu15040=01&wsu15180=A00009&hakcode=4R1&wtemp=4R1000&hakyy=2016&hakgi=1">
				<font size=-1>컴퓨터구조               ...</font></TD>
        
				<TD align = center width=64><font size=-1>03154-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>이규웅</font></TD>
				
				<TD align = left><font size=-1>화9 수7, 8            </font></TD>
				<TD align = left><font size=-1>민주-107              </font></TD>
				<TD align = center><font size=-1>60</font></TD>
<!--			<TD><font size=-1>40</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전필</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=03934&wsu15040=01&wsu15180=A16813&hakcode=4R1&wtemp=4R1000&hakyy=2016&hakgi=1">
				<font size=-1>컴퓨터시스템              ...</font></TD>
        
				<TD align = center width=64><font size=-1>03934-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>박종대</font></TD>
				
				<TD align = left><font size=-1>월7, 8 목2            </font></TD>
				<TD align = left><font size=-1>예술-408              </font></TD>
				<TD align = center><font size=-1>60</font></TD>
<!--			<TD><font size=-1>33</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=02455&wsu15040=01&wsu15180=A00009&hakcode=4R1&wtemp=4R1000&hakyy=2016&hakgi=1">
				<font size=-1>파일처리론               ...</font></TD>
        
				<TD align = center width=64><font size=-1>02455-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>이규웅</font></TD>
				
				<TD align = left><font size=-1>화7, 8 수9            </font></TD>
				<TD align = left><font size=-1>민주-107              </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>35</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=03931&wsu15040=01&wsu15180=A06010&hakcode=4R1&wtemp=4R1000&hakyy=2016&hakgi=1">
				<font size=-1>3D게임프로그래밍실습         ...</font></TD>
        
				<TD align = center width=64><font size=-1>03931-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>김성호</font></TD>
				
				<TD align = left><font size=-1>수7, 8, 9            </font></TD>
				<TD align = left><font size=-1>예술-401              </font></TD>
				<TD align = center><font size=-1>40</font></TD>
<!--			<TD><font size=-1>34</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=03935&wsu15040=01&wsu15180=A00009&hakcode=4R1&wtemp=4R1000&hakyy=2016&hakgi=1">
				<font size=-1>DB프로그래밍실습           ...</font></TD>
        
				<TD align = center width=64><font size=-1>03935-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>이규웅</font></TD>
				
				<TD align = left><font size=-1>목7, 8, 9            </font></TD>
				<TD align = left><font size=-1>민주-107              </font></TD>
				<TD align = center><font size=-1>40</font></TD>
<!--			<TD><font size=-1>15</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=04069&wsu15040=01&wsu15180=A92011&hakcode=4R1&wtemp=4R1000&hakyy=2016&hakgi=1">
				<font size=-1>바이오인포매틱스시스템         ...</font></TD>
        
				<TD align = center width=64><font size=-1>04069-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>김종수</font></TD>
				
				<TD align = left><font size=-1>월1, 2 목2            </font></TD>
				<TD align = left><font size=-1>예술-401              </font></TD>
				<TD align = center><font size=-1>46</font></TD>
<!--			<TD><font size=-1>10</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전필</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=01402&wsu15040=01&wsu15180=A16303&hakcode=4R1&wtemp=4R1000&hakyy=2016&hakgi=1">
				<font size=-1>운영체제                ...</font></TD>
        
				<TD align = center width=64><font size=-1>01402-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>홍석미</font></TD>
				
				<TD align = left><font size=-1>수4, 5, 6            </font></TD>
				<TD align = left><font size=-1>민주-107              </font></TD>
				<TD align = center><font size=-1>60</font></TD>
<!--			<TD><font size=-1>46</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=03522&wsu15040=01&wsu15180=A92011&hakcode=4R1&wtemp=4R1000&hakyy=2016&hakgi=1">
				<font size=-1>이동및위성통신             ...</font></TD>
        
				<TD align = center width=64><font size=-1>03522-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>김종수</font></TD>
				
				<TD align = left><font size=-1>화2, 3 목3            </font></TD>
				<TD align = left><font size=-1>민주-205, 예술-401      </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>16</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=04590&wsu15040=01&wsu15180=A91002&hakcode=4R1&wtemp=4R1000&hakyy=2016&hakgi=1">
				<font size=-1>인공지능실습              ...</font></TD>
        
				<TD align = center width=64><font size=-1>04590-01</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>홍유식</font></TD>
				
				<TD align = left><font size=-1>목4, 5, 6            </font></TD>
				<TD align = left><font size=-1>민주-205              </font></TD>
				<TD align = center><font size=-1>46</font></TD>
<!--			<TD><font size=-1>16</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=03526&wsu15040=01&wsu15180=A91002&hakcode=4R1&wtemp=4R1000&hakyy=2016&hakgi=1">
				<font size=-1>전문가시스템              ...</font></TD>
        
				<TD align = center width=64><font size=-1>03526-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>홍유식</font></TD>
				
				<TD align = left><font size=-1>월3, 4 화5            </font></TD>
				<TD align = left><font size=-1>예술-401, 민주-205      </font></TD>
				<TD align = center><font size=-1>40</font></TD>
<!--			<TD><font size=-1>18</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전필</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=03943&wsu15040=01&wsu15180=A96009&hakcode=4R1&wtemp=4R1000&hakyy=2016&hakgi=1">
				<font size=-1>졸업작품                ...</font></TD>
        
				<TD align = center width=64><font size=-1>03943-01</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>
        
					<TD align = center width=64><font size=-1>한영환</font></TD>
				
				<TD align = left><font size=-1>수6,7,8,9            </font></TD>
				<TD align = left><font size=-1>예술-601              </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>26</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=03942&wsu15040=01&wsu15180=A06009&hakcode=4R1&wtemp=4R1000&hakyy=2016&hakgi=1">
				<font size=-1>지능정보시스템             ...</font></TD>
        
				<TD align = center width=64><font size=-1>03942-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>정경용</font></TD>
				
				<TD align = left><font size=-1>월7, 8 화4            </font></TD>
				<TD align = left><font size=-1>예술-401              </font></TD>
				<TD align = center><font size=-1>40</font></TD>
<!--			<TD><font size=-1>19</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=05196&wsu15040=02&wsu15180=A06010&hakcode=4R1&wtemp=4R1000&hakyy=2016&hakgi=1">
				<font size=-1>캡스톤디자인              ...</font></TD>
        
				<TD align = center width=64><font size=-1>05196-02</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>김성호</font></TD>
				
				<TD align = left><font size=-1>화1, 2, 3            </font></TD>
				<TD align = left><font size=-1>예술-401              </font></TD>
				<TD align = center><font size=-1>45</font></TD>
<!--			<TD><font size=-1>13</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=02006&wsu15040=01&wsu15180=A06009&hakcode=4R1&wtemp=4R1000&hakyy=2016&hakgi=1">
				<font size=-1>컴파일러구성론             ...</font></TD>
        
				<TD align = center width=64><font size=-1>02006-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>정경용</font></TD>
				
				<TD align = left><font size=-1>목4, 5, 6            </font></TD>
				<TD align = left><font size=-1>민주-107              </font></TD>
				<TD align = center><font size=-1>46</font></TD>
<!--			<TD><font size=-1>39</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=04588&wsu15040=01&wsu15180=A94024&hakcode=4R1&wtemp=4R1000&hakyy=2016&hakgi=1">
				<font size=-1>컴퓨터공학세미나            ...</font></TD>
        
				<TD align = center width=64><font size=-1>04588-01</font></TD>
				<TD align = center width=32><font size=-1>1</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
        
					<TD align = center width=64><font size=-1>차영환</font></TD>
				
				<TD align = left><font size=-1>수1, 2               </font></TD>
				<TD align = left><font size=-1>민주-107              </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>14</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
   </TABLE>

	<TABLE BORDER=0 WIDTH=700>
	<TR>
		<TD><center>
			<form action="javascript:window.print()"> 
					<input type="submit" value="인   쇄"> 
			</form> 

		</TD>
	</TR>

	<TR>
   <TD><font face="굴림" size="2">▶ 수강편람 수록 교양선택과목 수강제한 필독<br> -.각 전공(학과)에서 개설한 교양선택과목은 소속 학부 및 전공(학과) 전체 학년 학생의 경우 수강할 수 없음(복수전공학과 포함)</font></TD>
  	</TR>
	<TR>
   <TD><font face="굴림" size="2">▶ 전학기까지 이수과목 확인 후 수강신청함(중복수강 금지)</font></TD>
  	</TR>




  	</TABLE>

	</CENTER>
	</BODY>
   </HTML>




<!--    <center><font face="돋움" size="3" color="cccccc">ss00803</font></center>-->
  


