<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<META http-equiv=Cache-Control content=no-cache>
<META http-equiv=Expires content=0>
<META http-equiv=Pragma content=no-cache>
<meta http-equiv=Content-Type content="text/html;charset=euc-kr">
<LINK href="./main/util.htm" type=text/css rel=stylesheet>
<META content="MSHTML 6.00.2900.2769" name=GENERATOR>


<!컴퓨터데이터정보공학부>







<script langauage="javascript"> 
<!-- 
function hidestatus(){ 
window.status='' 
return true 
} 

if (document.layers) 
document.captureEvents(Event.MOUSEOVER | Event.MOUSEOUT) 

document.onmouseover=hidestatus 
document.onmouseout=hidestatus 
//--> 
</script> 

</HEAD>

<STYLE type=text/css>BODY {
	FONT-SIZE: 9pt
}
FONT {
	FONT-SIZE: 9pt; LINE-HEIGHT: 16pt
}
A:link {
	TEXT-DECORATION: none
}
A:visited {
	TEXT-DECORATION: none
}
A:active {
	TEXT-DECORATION: none
}
</STYLE>

 



<!--2006.09.22 추가 park sang chul  -->
 <script language="javascript">
     	  function fnQues(){
// if(alert("교원 및 재학생은 홈페이지를 통하여 로그인 후 사용하세요.")){
 if(confirm("교원 및 재학생은 홈페이지를 통하여 로그인 후 사용하세요. 학적정보로 이동 하시겠습니까?",0)){
  parent.location.href = "http://hakjuk.sangji.ac.kr/index_direct.jsp"
//  parent.location.href = "http://www.sangji.ac.kr"
 }else{
  parent.location.href = "http://www.sangji.ac.kr"
  return;
 }

//	alert("홈페이지 로그인 후 사용하세요.");
//	parent.location.href = "http://www.sangji.ac.kr/user/sangji/sangji.jsp";

}
     </script>
<!------------------------------------->


      <script language="javascript">
//      alert("조교는 학부재학생 웹학적정보를 사용하실수 없습니다. 대학 홈페이지로 이동합니다..301 ");
//      parent.location.href = "http://www.sangji.ac.kr"
      </script> 
	  


<body background ="../main/back.jpg" text="black" link="blue" vlink="blue" alink="blue" onKeyDown="shiftkeydown();">



<!--
--  ***********************************************************************
--  procedure id : (ss00803) 개설과목 select 후 출력 
--  ***********************************************************************
-->

   <HTML>
           <BODY text="black" link="blue" vlink="purple" alink="red">
   <CENTER>
   


           <BODY TEXT="black" LINK="blue" VLINK="purple" ALINK="red">


	<BR>
	        <table BORDER="1"  cellspacing="0" bordercolordark="white" bordercolorlight="black" width="91%">
	<TR> 
           <th bgcolor=#98C4EF  height=20><font size=-1>구분</font></th>
           <th bgcolor=#98C4EF ><font size=-1>학년</font></th>
           <th bgcolor=#98C4EF ><font size=-1>교과목명</font></th>
           <th bgcolor=#98C4EF ><font size=-1>과목코드</font></th>
           <th bgcolor=#98C4EF ><font size=-1>학점</font></th>
           <th bgcolor=#98C4EF ><font size=-1>시간</font></th>
           <th bgcolor=#98C4EF ><font size=-1>교원명</font></th>
           <th bgcolor=#98C4EF ><font size=-1>강좌시간</font></th>
	        <th bgcolor=#98C4EF ><font size=-1>강의실</font></th>
	        <th bgcolor=#98C4EF ><font size=-1>정원</font></th>
<!--	        <th bgcolor=#98C4EF ><font size=-1>현재수강인원</font></th>-->
	        <th bgcolor=#98C4EF ><font size=-1>일반선택</font></th>
   </TR>


				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>1</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=01576&wsu15040=03&wsu15180=A07927&hakcode=4K1&wtemp=4K1000&hakyy=2016&hakgi=1">
				<font size=-1>일반수학                ...</font></TD>
        
				<TD align = center width=64><font size=-1>01576-03</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>조민태</font></TD>
				
				<TD align = left><font size=-1>금1, 2, 3            </font></TD>
				<TD align = left><font size=-1>동악-2111             </font></TD>
				<TD align = center><font size=-1>0</font></TD>
<!--			<TD><font size=-1>51</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>1</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=01576&wsu15040=01&wsu15180=A92008&hakcode=4K1&wtemp=4K1000&hakyy=2016&hakgi=1">
				<font size=-1>일반수학                ...</font></TD>
        
				<TD align = center width=64><font size=-1>01576-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>김익성</font></TD>
				
				<TD align = left><font size=-1>월4 금2, 3            </font></TD>
				<TD align = left><font size=-1>이공2-208             </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>33</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>1</font></TD>

				<TD align = left><font size=-1>일반수학                </font></TD>
				
				<TD align = center width=64><font size=-1>01576-02</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>최종대</font></TD>
				
				<TD align = left><font size=-1>금1,2,3              </font></TD>
				<TD align = left><font size=-1>이공1-508             </font></TD>
				<TD align = center><font size=-1>0</font></TD>
<!--			<TD><font size=-1>47</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>계기</font></TD>
				<TD align = center width=32><font size=-1>1</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=03679&wsu15040=03&wsu15180=D15051&hakcode=4K1&wtemp=4K1000&hakyy=2016&hakgi=1">
				<font size=-1>통계학(1)              ...</font></TD>
        
				<TD align = center width=64><font size=-1>03679-03</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>오주성</font></TD>
				
				<TD align = left><font size=-1>금4, 5, 6            </font></TD>
				<TD align = left><font size=-1>동악-2112             </font></TD>
				<TD align = center><font size=-1>0</font></TD>
<!--			<TD><font size=-1>51</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>계기</font></TD>
				<TD align = center width=32><font size=-1>1</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=03679&wsu15040=02&wsu15180=A03011&hakcode=4K1&wtemp=4K1000&hakyy=2016&hakgi=1">
				<font size=-1>통계학(1)              ...</font></TD>
        
				<TD align = center width=64><font size=-1>03679-02</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>엄준식</font></TD>
				
				<TD align = left><font size=-1>월1, 2, 3            </font></TD>
				<TD align = left><font size=-1>이공1-507             </font></TD>
				<TD align = center><font size=-1>0</font></TD>
<!--			<TD><font size=-1>46</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>계기</font></TD>
				<TD align = center width=32><font size=-1>1</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=03679&wsu15040=01&wsu15180=A95001&hakcode=4K1&wtemp=4K1000&hakyy=2016&hakgi=1">
				<font size=-1>통계학(1)              ...</font></TD>
        
				<TD align = center width=64><font size=-1>03679-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>김혜림</font></TD>
				
				<TD align = left><font size=-1>화6 목1, 2            </font></TD>
				<TD align = left><font size=-1>이공2-309, 이공2-208    </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>34</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>계기</font></TD>
				<TD align = center width=32><font size=-1>1</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=03679&wsu15040=04&wsu15180=A92010&hakcode=4K1&wtemp=4K1000&hakyy=2016&hakgi=1">
				<font size=-1>통계학(1)              ...</font></TD>
        
				<TD align = center width=64><font size=-1>03679-04</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>박달호</font></TD>
				
				<TD align = left><font size=-1>월7 수5, 6            </font></TD>
				<TD align = left><font size=-1>한울관-4101, 복합-311    </font></TD>
				<TD align = center><font size=-1>0</font></TD>
<!--			<TD><font size=-1>32</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=03682&wsu15040=01&wsu15180=A95001&hakcode=4K1&wtemp=4K1000&hakyy=2016&hakgi=1">
				<font size=-1>SAS실습               ...</font></TD>
        
				<TD align = center width=64><font size=-1>03682-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>
        
					<TD align = center width=64><font size=-1>김혜림</font></TD>
				
				<TD align = left><font size=-1>월3, 4 수3, 4         </font></TD>
				<TD align = left><font size=-1>이공2-309             </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>25</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=04458&wsu15040=01&wsu15180=A92005&hakcode=4K1&wtemp=4K1000&hakyy=2016&hakgi=1">
				<font size=-1>보건응용통계학             ...</font></TD>
        
				<TD align = center width=64><font size=-1>04458-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>김승구</font></TD>
				
				<TD align = left><font size=-1>월7 목7, 8            </font></TD>
				<TD align = left><font size=-1>이공2-309, 이공2-411    </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>20</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=03241&wsu15040=01&wsu15180=D99130&hakcode=4K1&wtemp=4K1000&hakyy=2016&hakgi=1">
				<font size=-1>프로그래밍언어실습(1)        ...</font></TD>
        
				<TD align = center width=64><font size=-1>03241-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>
        
					<TD align = center width=64><font size=-1>구지현</font></TD>
				
				<TD align = left><font size=-1>화5, 6, 7, 8         </font></TD>
				<TD align = left><font size=-1>이공2-411             </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>18</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=02256&wsu15040=01&wsu15180=A03005&hakcode=4K1&wtemp=4K1000&hakyy=2016&hakgi=1">
				<font size=-1>확률론                 ...</font></TD>
        
				<TD align = center width=64><font size=-1>02256-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>강상길</font></TD>
				
				<TD align = left><font size=-1>월2 목3, 4            </font></TD>
				<TD align = left><font size=-1>이공2-412             </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>26</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전필</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=03534&wsu15040=01&wsu15180=A91003&hakcode=4K1&wtemp=4K1000&hakyy=2016&hakgi=1">
				<font size=-1>데이터정보및실습            ...</font></TD>
        
				<TD align = center width=64><font size=-1>03534-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>
        
					<TD align = center width=64><font size=-1>이희춘</font></TD>
				
				<TD align = left><font size=-1>월8, 9 목6, 7         </font></TD>
				<TD align = left><font size=-1>이공2-309             </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>23</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전필</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=02457&wsu15040=01&wsu15180=A92005&hakcode=4K1&wtemp=4K1000&hakyy=2016&hakgi=1">
				<font size=-1>수리통계학               ...</font></TD>
        
				<TD align = center width=64><font size=-1>02457-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>김승구</font></TD>
				
				<TD align = left><font size=-1>목3, 4, 5            </font></TD>
				<TD align = left><font size=-1>이공2-309             </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>27</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=03920&wsu15040=01&wsu15180=A03005&hakcode=4K1&wtemp=4K1000&hakyy=2016&hakgi=1">
				<font size=-1>여론조사분석연습            ...</font></TD>
        
				<TD align = center width=64><font size=-1>03920-01</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>
        
					<TD align = center width=64><font size=-1>강상길</font></TD>
				
				<TD align = left><font size=-1>수5, 6               </font></TD>
				<TD align = left><font size=-1>이공2-309             </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>11</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=02458&wsu15040=01&wsu15180=A95001&hakcode=4K1&wtemp=4K1000&hakyy=2016&hakgi=1">
				<font size=-1>통계조사방법론             ...</font></TD>
        
				<TD align = center width=64><font size=-1>02458-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>김혜림</font></TD>
				
				<TD align = left><font size=-1>월7 화3, 4            </font></TD>
				<TD align = left><font size=-1>이공2-208             </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>26</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=02092&wsu15040=01&wsu15180=A03005&hakcode=4K1&wtemp=4K1000&hakyy=2016&hakgi=1">
				<font size=-1>표본조사론               ...</font></TD>
        
				<TD align = center width=64><font size=-1>02092-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>강상길</font></TD>
				
				<TD align = left><font size=-1>월3, 4 화2            </font></TD>
				<TD align = left><font size=-1>이공2-411, 이공2-309    </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>23</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=02182&wsu15040=01&wsu15180=A92008&hakcode=4K1&wtemp=4K1000&hakyy=2016&hakgi=1">
				<font size=-1>해석학                 ...</font></TD>
        
				<TD align = center width=64><font size=-1>02182-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>김익성</font></TD>
				
				<TD align = left><font size=-1>화5, 6, 7            </font></TD>
				<TD align = left><font size=-1>이공2-208             </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>20</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=01108&wsu15040=01&wsu15180=A92005&hakcode=4K1&wtemp=4K1000&hakyy=2016&hakgi=1">
				<font size=-1>시계열분석및실습            ...</font></TD>
        
				<TD align = center width=64><font size=-1>01108-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>
        
					<TD align = center width=64><font size=-1>김승구</font></TD>
				
				<TD align = left><font size=-1>화3, 4 수4, 5         </font></TD>
				<TD align = left><font size=-1>이공2-309, 이공2-411    </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>22</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=03539&wsu15040=01&wsu15180=A91003&hakcode=4K1&wtemp=4K1000&hakyy=2016&hakgi=1">
				<font size=-1>정보보호및실습             ...</font></TD>
        
				<TD align = center width=64><font size=-1>03539-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>
        
					<TD align = center width=64><font size=-1>이희춘</font></TD>
				
				<TD align = left><font size=-1>화7, 8 수7, 8         </font></TD>
				<TD align = left><font size=-1>이공2-309             </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>14</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=02055&wsu15040=01&wsu15180=A03005&hakcode=4K1&wtemp=4K1000&hakyy=2016&hakgi=1">
				<font size=-1>통계적품질관리             ...</font></TD>
        
				<TD align = center width=64><font size=-1>02055-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>강상길</font></TD>
				
				<TD align = left><font size=-1>월7 수2, 3            </font></TD>
				<TD align = left><font size=-1>이공2-412             </font></TD>
				<TD align = center><font size=-1>54</font></TD>
<!--			<TD><font size=-1>19</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
   </TABLE>

	<TABLE BORDER=0 WIDTH=700>
	<TR>
		<TD><center>
			<form action="javascript:window.print()"> 
					<input type="submit" value="인   쇄"> 
			</form> 

		</TD>
	</TR>

	<TR>
   <TD><font face="굴림" size="2">▶ 수강편람 수록 교양선택과목 수강제한 필독<br> -.각 전공(학과)에서 개설한 교양선택과목은 소속 학부 및 전공(학과) 전체 학년 학생의 경우 수강할 수 없음(복수전공학과 포함)</font></TD>
  	</TR>
	<TR>
   <TD><font face="굴림" size="2">▶ 전학기까지 이수과목 확인 후 수강신청함(중복수강 금지)</font></TD>
  	</TR>




  	</TABLE>

	</CENTER>
	</BODY>
   </HTML>




<!--    <center><font face="돋움" size="3" color="cccccc">ss00803</font></center>-->
  


