<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<META http-equiv=Cache-Control content=no-cache>
<META http-equiv=Expires content=0>
<META http-equiv=Pragma content=no-cache>
<meta http-equiv=Content-Type content="text/html;charset=euc-kr">
<LINK href="./main/util.htm" type=text/css rel=stylesheet>
<META content="MSHTML 6.00.2900.2769" name=GENERATOR>



<!회계학과>






<script langauage="javascript"> 
<!-- 
function hidestatus(){ 
window.status='' 
return true 
} 

if (document.layers) 
document.captureEvents(Event.MOUSEOVER | Event.MOUSEOUT) 

document.onmouseover=hidestatus 
document.onmouseout=hidestatus 
//--> 
</script> 

</HEAD>

<STYLE type=text/css>BODY {
	FONT-SIZE: 9pt
}
FONT {
	FONT-SIZE: 9pt; LINE-HEIGHT: 16pt
}
A:link {
	TEXT-DECORATION: none
}
A:visited {
	TEXT-DECORATION: none
}
A:active {
	TEXT-DECORATION: none
}
</STYLE>





<!--2006.09.22 추가 park sang chul  -->
 <script language="javascript">
     	  function fnQues(){
// if(alert("교원 및 재학생은 홈페이지를 통하여 로그인 후 사용하세요.")){
 if(confirm("교원 및 재학생은 홈페이지를 통하여 로그인 후 사용하세요. 학적정보로 이동 하시겠습니까?",0)){
  parent.location.href = "http://hakjuk.sangji.ac.kr/index_direct.jsp"
//  parent.location.href = "http://www.sangji.ac.kr"
 }else{
  parent.location.href = "http://www.sangji.ac.kr"
  return;
 }

//	alert("홈페이지 로그인 후 사용하세요.");
//	parent.location.href = "http://www.sangji.ac.kr/user/sangji/sangji.jsp";

}
     </script>
<!------------------------------------->


      <script language="javascript">
//      alert("조교는 학부재학생 웹학적정보를 사용하실수 없습니다. 대학 홈페이지로 이동합니다..301 ");
//      parent.location.href = "http://www.sangji.ac.kr"
      </script> 
	  


<body background ="../main/back.jpg" text="black" link="blue" vlink="blue" alink="blue" onKeyDown="shiftkeydown();">



<!--
--  ***********************************************************************
--  procedure id : (ss00803) 개설과목 select 후 출력 
--  ***********************************************************************
-->

   <HTML>
           <BODY text="black" link="blue" vlink="purple" alink="red">
   <CENTER>
   


           <BODY TEXT="black" LINK="blue" VLINK="purple" ALINK="red">


	<BR>
	        <table BORDER="1"  cellspacing="0" bordercolordark="white" bordercolorlight="black" width="91%">
	<TR> 
           <th bgcolor=#98C4EF  height=20><font size=-1>구분</font></th>
           <th bgcolor=#98C4EF ><font size=-1>학년</font></th>
           <th bgcolor=#98C4EF ><font size=-1>교과목명</font></th>
           <th bgcolor=#98C4EF ><font size=-1>과목코드</font></th>
           <th bgcolor=#98C4EF ><font size=-1>학점</font></th>
           <th bgcolor=#98C4EF ><font size=-1>시간</font></th>
           <th bgcolor=#98C4EF ><font size=-1>교원명</font></th>
           <th bgcolor=#98C4EF ><font size=-1>강좌시간</font></th>
	        <th bgcolor=#98C4EF ><font size=-1>강의실</font></th>
	        <th bgcolor=#98C4EF ><font size=-1>정원</font></th>
<!--	        <th bgcolor=#98C4EF ><font size=-1>현재수강인원</font></th>-->
	        <th bgcolor=#98C4EF ><font size=-1>일반선택</font></th>
   </TR>


				<TR>
				<TD align = center width=32><font size=-1>계기</font></TD>
				<TD align = center width=32><font size=-1>1</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=04921&wsu15040=01&wsu15180=A15803&hakcode=241&wtemp=241000&hakyy=2016&hakgi=1">
				<font size=-1>경영학원론(회계학전공)        ...</font></TD>
        
				<TD align = center width=64><font size=-1>04921-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>최창선</font></TD>
				
				<TD align = left><font size=-1>화7, 8, 9            </font></TD>
				<TD align = left><font size=-1>동악-5101             </font></TD>
				<TD align = center><font size=-1>80</font></TD>
<!--			<TD><font size=-1>53</font>','center</TD>-->
        
					<TD align = center><font>가능</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>계기</font></TD>
				<TD align = center width=32><font size=-1>1</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=03969&wsu15040=01&wsu15180=A85013&hakcode=241&wtemp=241000&hakyy=2016&hakgi=1">
				<font size=-1>회계와사회               ...</font></TD>
        
				<TD align = center width=64><font size=-1>03969-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>전영승</font></TD>
				
				<TD align = left><font size=-1>월2, 3, 4            </font></TD>
				<TD align = left><font size=-1>동악-5101             </font></TD>
				<TD align = center><font size=-1>80</font></TD>
<!--			<TD><font size=-1>49</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=04444&wsu15040=01&wsu15180=A86005&hakcode=241&wtemp=241000&hakyy=2016&hakgi=1">
				<font size=-1>비영리회계               ...</font></TD>
        
				<TD align = center width=64><font size=-1>04444-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>김주택</font></TD>
				
				<TD align = left><font size=-1>수2, 3 목2            </font></TD>
				<TD align = left><font size=-1>동악-4109             </font></TD>
				<TD align = center><font size=-1>80</font></TD>
<!--			<TD><font size=-1>51</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=03638&wsu15040=01&wsu15180=A85013&hakcode=241&wtemp=241000&hakyy=2016&hakgi=1">
				<font size=-1>환경경영                ...</font></TD>
        
				<TD align = center width=64><font size=-1>03638-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>전영승</font></TD>
				
				<TD align = left><font size=-1>화5, 6 목3            </font></TD>
				<TD align = left><font size=-1>동악-5101             </font></TD>
				<TD align = center><font size=-1>80</font></TD>
<!--			<TD><font size=-1>49</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전필</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=05063&wsu15040=01&wsu15180=A04003&hakcode=241&wtemp=241000&hakyy=2016&hakgi=1">
				<font size=-1>회계원리II              ...</font></TD>
        
				<TD align = center width=64><font size=-1>05063-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>김소형</font></TD>
				
				<TD align = left><font size=-1>화7, 8 수4            </font></TD>
				<TD align = left><font size=-1>복합-311              </font></TD>
				<TD align = center><font size=-1>60</font></TD>
<!--			<TD><font size=-1>48</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>2</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=02913&wsu15040=01&wsu15180=D11044&hakcode=241&wtemp=241000&hakyy=2016&hakgi=1">
				<font size=-1>회계정보시스템론            ...</font></TD>
        
				<TD align = center width=64><font size=-1>02913-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>김인성</font></TD>
				
				<TD align = left><font size=-1>월1, 2, 3            </font></TD>
				<TD align = left><font size=-1>복합-311              </font></TD>
				<TD align = center><font size=-1>60</font></TD>
<!--			<TD><font size=-1>33</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전필</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=03605&wsu15040=01&wsu15180=A04003&hakcode=241&wtemp=241000&hakyy=2016&hakgi=1">
				<font size=-1>ERP와재무회계            ...</font></TD>
        
				<TD align = center width=64><font size=-1>03605-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>김소형</font></TD>
				
				<TD align = left><font size=-1>월7, 8, 9            </font></TD>
				<TD align = left><font size=-1>동악-5110             </font></TD>
				<TD align = center><font size=-1>60</font></TD>
<!--			<TD><font size=-1>36</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전필</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=04447&wsu15040=01&wsu15180=A85013&hakcode=241&wtemp=241000&hakyy=2016&hakgi=1">
				<font size=-1>관리회계                ...</font></TD>
        
				<TD align = center width=64><font size=-1>04447-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>전영승</font></TD>
				
				<TD align = left><font size=-1>화2, 3 목2            </font></TD>
				<TD align = left><font size=-1>동악-5101             </font></TD>
				<TD align = center><font size=-1>80</font></TD>
<!--			<TD><font size=-1>39</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=02638&wsu15040=01&wsu15180=A86005&hakcode=241&wtemp=241000&hakyy=2016&hakgi=1">
				<font size=-1>조세법개론II             ...</font></TD>
        
				<TD align = center width=64><font size=-1>02638-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>김주택</font></TD>
				
				<TD align = left><font size=-1>월2, 3, 4            </font></TD>
				<TD align = left><font size=-1>동악-4109             </font></TD>
				<TD align = center><font size=-1>80</font></TD>
<!--			<TD><font size=-1>36</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=05065&wsu15040=01&wsu15180=D09077&hakcode=241&wtemp=241000&hakyy=2016&hakgi=1">
				<font size=-1>중급회계II              ...</font></TD>
        
				<TD align = center width=64><font size=-1>05065-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>박문곤</font></TD>
				
				<TD align = left><font size=-1>수1, 2, 3            </font></TD>
				<TD align = left><font size=-1>동악-5101             </font></TD>
				<TD align = center><font size=-1>80</font></TD>
<!--			<TD><font size=-1>37</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=03971&wsu15040=01&wsu15180=A04003&hakcode=241&wtemp=241000&hakyy=2016&hakgi=1">
				<font size=-1>사회현상과통계             ...</font></TD>
        
				<TD align = center width=64><font size=-1>03971-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>김소형</font></TD>
				
				<TD align = left><font size=-1>화5, 6 목3            </font></TD>
				<TD align = left><font size=-1>동악-2108, 복합-306     </font></TD>
				<TD align = center><font size=-1>45</font></TD>
<!--			<TD><font size=-1>32</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=05679&wsu15040=01&wsu15180=A04003&hakcode=241&wtemp=241000&hakyy=2016&hakgi=1">
				<font size=-1>소득세인턴십실습            ...</font></TD>
        
				<TD align = center width=64><font size=-1>05679-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>팀티칭</font></TD>
				
				<TD align = left><font size=-1>목4, 5, 6            </font></TD>
				<TD align = left><font size=-1>복합-306              </font></TD>
				<TD align = center><font size=-1>20</font></TD>
<!--			<TD><font size=-1>16</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
				<TR>
				<TD align = center width=32><font size=-1>전선</font></TD>
				<TD align = center width=32><font size=-1>4</font></TD>

				<TD align = left>
				<A href="./ss008_ss00804.jsp?wsu15030=02311&wsu15040=01&wsu15180=A86005&hakcode=241&wtemp=241000&hakyy=2016&hakgi=1">
				<font size=-1>회계학연습               ...</font></TD>
        
				<TD align = center width=64><font size=-1>02311-01</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
				<TD align = center width=32><font size=-1>3</font></TD>
        
					<TD align = center width=64><font size=-1>김주택</font></TD>
				
				<TD align = left><font size=-1>화2, 3, 4            </font></TD>
				<TD align = left><font size=-1>동악-5110             </font></TD>
				<TD align = center><font size=-1>60</font></TD>
<!--			<TD><font size=-1>39</font>','center</TD>-->
        
					<TD align = center><font color=red>불가</font></TD>
        
			</TR>
        
   </TABLE>

	<TABLE BORDER=0 WIDTH=700>
	<TR>
		<TD><center>
			<form action="javascript:window.print()"> 
					<input type="submit" value="인   쇄"> 
			</form> 

		</TD>
	</TR>

	<TR>
   <TD><font face="굴림" size="2">▶ 수강편람 수록 교양선택과목 수강제한 필독<br> -.각 전공(학과)에서 개설한 교양선택과목은 소속 학부 및 전공(학과) 전체 학년 학생의 경우 수강할 수 없음(복수전공학과 포함)</font></TD>
  	</TR>
	<TR>
   <TD><font face="굴림" size="2">▶ 전학기까지 이수과목 확인 후 수강신청함(중복수강 금지)</font></TD>
  	</TR>




  	</TABLE>

	</CENTER>
	</BODY>
   </HTML>




<!--    <center><font face="돋움" size="3" color="cccccc">ss00803</font></center>-->
  


